/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/10/2017, 17:21:11
    Author     : jrodolfo
*/

.flt-right {
    float: right;
} 

.text-muted {
    color: #868e96!important;
}

.form-text {
    display: block;
    margin-top: .25rem;
}

.alert {
    text-align: center;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
}

section div.center {
    text-align: center;
}

section form {
    width: 50%;
    min-width: 300px;
    max-width: 350px;
    margin: auto;
    padding-top: 5%;
}

section form .centro {
    text-align: center;
}

section form button.login {
    width: 150px;    
}

section form .form-group {
    margin-bottom: 5px;
}