<div class="container-fluid">
    <div class="row container-edicao-agendamento">
        <div id="alerta_topo_interno" class="alert centro oculto" role="alert">
            <button type="button" class="close">
                <span>&times;</span>
            </button>
            <strong>Atenção!</strong>
            <span id="alerta_mensagem_interno"></span>
        </div>
        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
            <h4 class="titulo-categoria">Logs de Execução</h4>
            <table class='table'>
                <thead>
                    <tr>
                        <th class='centro negrito'>Arquivo</th>
                        <th class='centro negrito'>Log em Andamento</th>
                        <th class='centro negrito'>Comando Executado</th>
                        <th class='centro negrito'>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in agendamento.getLogsExecucao(3, 'id', 'desc') %}
                        <tr>
                            <td>
                                <div class='clipped' title='{{log.Arquivo}}'>
                                    {{log.Arquivo}}
                                </div>
                            </td>
                            <td class='centro'>
                                <input class="centro checkbox no-clicked" type="checkbox"
                                       {% if log.LogEmAndamento == 1 %}
                                           checked="checked"
                                       {% endif %}
                                       />
                            </td>
                            <td class='centro'>                                    
                                <div id='texto_comando_{{log.Id}}' class="clipped" title="{{log.ComandoExecutadoShell}}">
                                    {{log.ComandoExecutadoShell}}
                                </div>
                            </td>
                            <td class='centro'>
                                <a href="javascript:void(0);" data-url="#"
                                   title='Copiar Comando executado' class='col-left copy-text' data-clipboard-target="#texto_comando_{{log.Id}}">
                                    <i class="icon fa fa-copy" aria-hidden="true"></i>
                                </a>
                                {% if log.LogEmAndamento == 0 %}
                                    <a data-href="#" title='Download do Log de Agendamento' class="baixar" target="_blank" href="#">
                                        <i class="icon fa fa-download" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                                <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_rotinas_agendamentos_agendamento_arquivo_log_execucao_excluir', {agendamentoId: log.CronTaskId, arquivoId: log.Id})}}"
                                   title='Excluir Log do Agendamento' class='col-right arquivo-log-execucao-excluir open-popup'>
                                    <i class="icon fa fa-remove" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4 class="titulo-categoria">Arquivos de Execução</h4>
            <table class='table'>
                <thead>
                    <tr>
                        <th class='centro negrito'>Arquivo</th>
                        <th class='centro negrito'>Execução</th>
                        <th class='centro negrito'>Ordem de Execução</th>
                        <th class='centro negrito'>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arquivo in agendamento.getArquivos() %}
                        <tr>
                            <td>{{arquivo.Arquivo}}</td>
                            <td class='centro'>
                                <input id="arquivo_execucao_id_{{arquivo.Id}}"
                                       class="checkbox centro atualizar-arquivo-execucao" type="checkbox"
                                       {% if arquivo.Executar == 1 %}
                                           checked="checked"
                                       {% endif %}
                                       />
                            </td>
                            <td class='centro'>                                    
                                <input id="arquivo_execucao_ordem_execucao_id_{{arquivo.Id}}" 
                                       type="number" class="form-control atualizar-ordem-execucao" value="{{arquivo.OrdemExecucao}}">
                            </td>
                            <td class='centro'>
                                <a data-href="#" title='Download do Log de Agendamento' class="baixar col-left" target="_blank" href="#">
                                    <i class="icon fa fa-download" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0);" 
                                   data-url="{{path('ima_telecom_admin_rotinas_agendamentos_agendamento_arquivo_execucao_excluir', {agendamentoId: agendamento.Id, arquivoId: arquivo.Id})}}"
                                   title='Excluir arquivo do Agendamento'  class='popup-question arquivo-execucao-excluir'>
                                    <i class="icon fa fa-remove" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <form class="formulario-edicao-agendamento" method='POST' enctype="multipart/form-data"
              action="{{path('ima_telecom_admin_rotinas_agendamentos_agendamento_salvar', {agendamentoId: agendamento.Id})}}">                        
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <h4 class="titulo-categoria">Configuração do Agendamento</h4>
                <div class="form-group">
                    <label>Cód. agendamento: </label> {{agendamento.Id}}
                </div>

                <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="col-left form-group">
                            <label for="inputNome">Nome</label>                    
                            <input id="inputNome" name="nome" type="text" class="form-control" value="{{agendamento.nome}}">
                        </div>
                    </div>    
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="col-right form-group">
                            <label for="selectGrupo">Grupo</label>                                    
                            <select id="selectGrupo" class="form-control" name="grupo" data-placeholder="Escolha um grupo.">                                
                                {% for grupo in agendamento.getGrupos() %}
                                    <option value="{{grupo.Id}}" {% if agendamento.CronTaskGrupoId == grupo.Id %} selected {% endif %} >{{grupo.Nome}}</option>
                                {% endfor %}
                            </select>
                        </div>                        
                    </div>
                </div>
                <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="col-left form-group">
                            <label for="selectTipoAgendamento">Tipo do Agendamento</label>                                    
                            <select id="selectTipoAgendamento" class="form-control" name="tipoAgendamento" data-placeholder="Escolha um tipo...">                                
                                {% for tipo in agendamento.getTipos() %}
                                    <option value="{{tipo.key}}" {% if agendamento.Tipo == tipo.key %} selected {% endif %} >{{tipo.value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>    
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="col-right form-group">
                            <label for="inputAtivo">Ativo?</label><br/>
                            <input id="inputAtivo" name='ativo' class="checkbox centro" type="checkbox"
                                   {% if agendamento.Ativo == 1 %}
                                       checked="checked"
                                   {% endif %}
                                   />
                        </div>                        
                    </div>
                </div>
                <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="col-left form-group">
                            <label for="selectPrioridade">Prioridade</label>                                    
                            <select id="selectPrioridade" class="form-control" name="prioridade" data-placeholder="Escolha uma prioridade.">                                
                                {% for prioridade in agendamento.getPrioridades() %}
                                    <option value="{{prioridade.key}}" {% if agendamento.Prioridade == prioridade.key %} selected {% endif %} >{{prioridade.value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>    
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                        <div class="col-right form-group">
                            <label for="selectTipoExecucao">Tipo da Execução</label>                                    
                            <select id="selectTipoExecucao" class="form-control" name="tipoExecucao" data-placeholder="Escolha um tipo para a execução.">                                
                                {% for execucao in agendamento.getTiposExecucao() %}
                                    <option value="{{execucao.key}}" {% if agendamento.TipoExecucaoArquivo == execucao.key %} selected {% endif %} >{{execucao.value}}</option>
                                {% endfor %}
                            </select>
                        </div>                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="textareaDescricao">Descrição</label>
                    <textarea id="textareaDescricao" class="form-control" name="descricao" placeholder="Descrição do grupo" rows="3">{{agendamento.Descricao}}</textarea>
                </div>

                <div class="form-group">
                    <label for="arquivosExecucao">Arquivos de Execução</label>
                    <div class="file-loading">                        
                        <input id="arquivosExecucao" name="arquivosExecucao[]" type="file" multiple>
                    </div>
                </div>

                <div class='direita'>
                    <button type="submit" class="btn btn-default">Gravar</button>
                </div>
            </div>
        </form>
    </div>

    <!--
    http://plugins.krajee.com/file-input/
    -->
    <style>
        div#alerta_topo_interno {
            margin-top: -15px;
            margin-right: -15px;
            margin-left: -15px;
        }

        .clipped {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
        }
        
        table.table tbody td input[type='checkbox'].centro {
            width: 100%;
        }
    </style>        

    <script src="{{ asset('bundles/imatelecom/js/clipboard.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/rotinas/agendamentos_agendamento.js') }}" ></script>
</div>