{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/popup.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/fileinput.min.css') }}" rel="stylesheet" />    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/rotinas/agendamentos.js') }}" ></script>
    
    <script src="{{ asset('bundles/imatelecom/js/fileinput.min.js') }}"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <header class="menu-horizontal-main">
        <nav class="direita">
            <ul>
                <li>
                    <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_rotinas_agendamentos_agendamento')}}"
                       title="Novo Agendamento" class="open-popup edicao-agendamento">
                        Novo Agendamento
                    </a>
                </li>
            </ul>
        </nav>
    </header>
                       
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <table class='table'>
                        <thead>
                            <tr>
                                <th class="centro">Cód. Agendamento</th>
                                <th>Nome</th>
                                <th>Grupo</th>
                                <th class="centro">Executando</th>
                                <th class="centro">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for agendamento in agendamentos %}
                                <tr>
                                    <td class="centro">{{ agendamento.id }}</td>
                                    <td>{{ agendamento.nome }}</td>
                                    <td>{{ agendamento.grupo_nome }}</td>
                                    <td class="centro">
                                        <input class="checkbox no-clicked centro" type="checkbox"
                                               {% if agendamento.log_em_andamento == 1 %}
                                                   checked="checked"
                                               {% endif %}
                                               />
                                    </td>                                                                        
                                    <td class="centro">
                                        {% if agendamento.log_em_andamento == 0 %} 
                                            <a href="{{path('ima_telecom_admin_rotinas_agendamentos_agendamento_executar', { agendamentoId: agendamento.id })}}"
                                               title='Executar Agendamento' class="executar-agendamento col-left">
                                                <i class="icon fa fa-play" aria-hidden="true"></i>
                                            </a>
                                        {% endif %} 
                                        <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_rotinas_agendamentos_agendamento', { agendamentoId: agendamento.id })}}"
                                           title='Editar Agendamento' class='col-right open-popup edicao-agendamento'>
                                            <i class="icon fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </section>

{% endblock %}