<div class="container-fluid">
    <div class="row container-edicao-grupo">
        <div id="alerta_topo_interno" class="alert centro oculto" role="alert">
            <button type="button" class="close">
                <span>&times;</span>
            </button>
            <strong>Atenção!</strong>
            <span id="alerta_mensagem_interno"></span>
        </div>

        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <h4 class="titulo-categoria">Informações do Grupo</h4>        
            <div class="form-group">
                <label>Cód. grupo: </label> {{grupo.Id}}
            </div>
        </div>
        <form class="formulario-edicao-grupo" method='POST' action="{{path('ima_telecom_admin_rotinas_grupos_agendamentos_grupo_salvar', {grupoId: grupo.Id})}}">
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="inputNome">Nome</label>                    
                    <input id="inputNome" name="nome" type="text" class="form-control" value="{{grupo.nome}}">
                </div>
            </div>                
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <label for="textareaDescricao">Descrição</label>
                    <textarea id="textareaDescricao" class="form-control" name="descricao" placeholder="Descrição do grupo" rows="3">{{grupo.descricao}}</textarea>
                </div>
            </div>            
            <div class="direita col-sm-12 col-lg-12 col-md-12 col-xs-12">                        
                <button type="submit" class="btn btn-default">Gravar</button>
            </div>    
        </form>
    </div>

    <style>
        div#alerta_topo_interno {
            margin-top: -15px;
            margin-right: -15px;
            margin-left: -15px;
        }
    </style>
    
    <script>
        $(".formulario-edicao-grupo").submit(function (e) {
            e.preventDefault();

            var url = $(this).attr('action'),
                    type = $(this).attr('method'),
                    data = $(this).serialize();

            $.ajax({
                url: url,
                type: type,
                data: data,
                beforeSend: function ()
                {
                    $(".container-edicao-grupo").append("<section class='loading'/>");
                },
                success: function (response, textStatus, jqXHR) {
                    $("section.loading").remove();
                    //var popup = new $.Popup($("section.main"));

                    if (response.status == true) {
                        $("#alerta_topo_interno").removeClass('alert-danger');
                        $("#alerta_mensagem_interno").text(response.mensagem);
                        $("#alerta_topo_interno").addClass('alert-success');
                        $("#alerta_topo_interno").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                        MostrarAlertaTopo('alert-success', 15000);
                    } else {
                        var erros = "";
                        $.each(response.erros, function (key, erro) {
                            erros += "<br/>" + erro;
                        });

                        $("#alerta_mensagem_interno").html(erros);
                        $("#alerta_topo_interno").addClass('alert-danger');
                        $("#alerta_topo_interno").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                        MostrarAlertaTopo('alert-danger', 15000);
                    }

                    //popup.Close();
                },
                error: function (response, textStatus, jqXHR) {
                    console.log("AKI");
                    console.log(response, textStatus, jqXHR);

                    $("section.loading").remove();
                    $("#alerta_mensagem_interno").text(jqXHR);
                    $("#alerta_topo_interno").addClass('alert-danger');
                    $("#alerta_topo_interno").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                    MostrarAlertaTopo('alert-success', 15000);
                }
            });

            return false;
        });
    </script>
</div>