{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/popup.css') }}" rel="stylesheet" />
    {#    <link href="{{ asset('bundles/imatelecom/css/fiscal/notas_fiscais_geracao.css') }}" rel="stylesheet" />#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/rotinas/grupos_agendamento.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <header class="menu-horizontal-main">
        <nav class="direita">
            <ul>
                <li>
                    <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_rotinas_grupos_agendamentos_grupo')}}"
                       title="Novo Grupo de Agendamento" class="open-popup edicao-grupo">
                        Novo Grupo
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <table class='table'>
                        <thead>
                            <tr>
                                <th class="centro">Cod. Grupo</th>
                                <th>Nome</th>
                                <th>Descrição</th> 
                                <th class="centro">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for grupo in grupos %}
                                <tr>
                                    <td class="centro">{{ grupo.Id }}</td>
                                    <td>{{ grupo.Nome }}</td>
                                    <td>{{ grupo.Descricao }}</td> 
                                    <td class="centro">
                                        <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_rotinas_grupos_agendamentos_grupo', { grupoId: grupo.Id })}}"
                                           title='Editar Grupo de Agendamento'  class='col-right open-popup edicao-grupo'>
                                            <i class="icon fa fa-edit" aria-hidden="true"></i>                                             
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </section>

{% endblock %}