{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/imatelecom/css/error/404.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}    

{% endblock %}

{% block body %}
    {{ parent() }}    

    <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x1_5"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
    <div class='c'>
        <div class='_404'>404</div>
        <hr>
        <div class='_1'>Oooooops!</div>
        <div class='_2'>{{message}}</div>        
    </div>
{% endblock %}