/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2017, 11:11:52
    Author     : jrodolfo
*/

table.table tbody td a:hover,
table.table tbody td a:focus {
    text-decoration: none;
}

table.table tbody td.selected {
    position: relative;
    z-index: 6;
    pointer-events: none;
    background: #fccf33;
    color: black;
}

table.table tbody td.selected a {
    color: black;
}