/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/10/2017, 11:11:52
    Author     : jrodolfo
*/
 

.links-inline li {
    display: inline-block;
    margin-right: 30px;
}

.links-inline li a:hover, .links-inline li a:focus {
    text-decoration: none;
}

nav#topo_menu_opcoes {
    padding: 15px 0px;
    height: 100%;
}