{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/imatelecom/css/admin/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('bundles/imatelecom/js/chart.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/admin/dashboard.js') }}" ></script>        
{#    <script src="http://admin-stable.niagawebster.com/vendors/chartjs/chart.min.js" ></script>#}
    
{% endblock %}

{% block body %}
    {{ parent() }}       

    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-danger">
                <div class="row card-content p10">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
                        <div class="card-icon-small">
                            <i class="material-icons">add_shopping_cart</i>
                        </div>
                        <p class="card-text  pl-0">Orders</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10  text-right">
                        <h5 class="mb-0">690</h5>
                        <p class="no-margin">New</p>
                        <p>6,00,00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-primary">
                <div class="row card-content p10">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5  p10" align="center">
                        <div class="card-icon-small">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <p class="card-text pl-0">Clients</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10 text-right">
                        <h5 class="mb-0">1885</h5>
                        <p class="no-margin">New</p>
                        <p>1,12,900</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-success">
                <div class="row card-content p10">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
                        <div class="card-icon-small">
                            <i class="material-icons">timeline</i>
                        </div>
                        <p class="card-text pl-0">Sales </p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10 text-right">
                        <h5 class="mb-0">80%</h5>
                        <p class="no-margin">Growth</p>
                        <p>3,42,230</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-warning">
                <div class="row card-content p10">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
                        <div class="card-icon-small">
                            <i class="material-icons">attach_money</i>
                        </div>

                        <p class="card-text pl-0">Profit</p>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10 text-right">
                        <h5 class="mb-0">$890</h5>
                        <p class="no-margin">Today</p>
                        <p>$25,000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- grafico -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 p10">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <div class="card-title">
                            REVENUE FOR 2017 			
                            <span class="purple-text small">
                                <i class="material-icons">keyboard_arrow_up</i> 15.58 %
                            </span>
                            <a class="btn red pull-right waves-effect waves-light"> Details </a> 
                        </div>
                    </div>
                    <div class="card-text row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 " style="height: 350px;">
                            <canvas id="thisYearRevenue" class="absolute firstShadow" height="350" width="1183" style="width: 1183px; height: 350px;"></canvas>
                            <canvas id="lastYearRevenue" class="absolute " height="350" width="1183" style="width: 1183px; height: 350px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- resumo vendas -->
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-12  p10">
            <div class="card">
                <div class="card-content">
                    <h2 class="card-title">Recent sales </h2>
                    <div class="row card-info">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h2>March 2017</h2>
                            <p>SALES REPORT</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                            <h1 class="text-right text-info">R$3,690</h1> 
                        </div>
                    </div>

                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>STATUS</th>
                                    <th>DATE</th>
                                    <th>PRICE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="txt-oflo">Elite admin</td>
                                    <td><span class="label label-success label-rouded">SALE</span> </td>
                                    <td class="txt-oflo">April 18, 2017</td>
                                    <td><span class="text-success">$24</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="txt-oflo">Real Homes WP Theme</td>
                                    <td><span class="label label-info label-rouded">EXTENDED</span></td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">$1250</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="txt-oflo">Admin-Init </td>
                                    <td><span class="label label-info label-rouded">EXTENDED</span></td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">$1250</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="txt-oflo">Medical Pro WP Theme</td>
                                    <td><span class="label label-danger label-rouded">TAX</span></td>
                                    <td class="txt-oflo">April 20, 2017</td>
                                    <td><span class="text-danger">-$24</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="txt-oflo">Hosting press html</td>
                                    <td><span class="label label-warning label-rouded">PENDING</span></td>
                                    <td class="txt-oflo">April 21, 2017</td>
                                    <td><span class="text-success">$24</span></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="txt-oflo">Digital Agency PSD</td>
                                    <td><span class="label label-success label-rouded">SALE</span> </td>
                                    <td class="txt-oflo">April 23, 2017</td>
                                    <td><span class="text-success">$14</span></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="txt-oflo">Helping Hands WP Theme</td>
                                    <td><span class="label label-success label-rouded">SALE</span></td>
                                    <td class="txt-oflo">April 22, 2017</td>
                                    <td><span class="text-success">$64</span></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="txt-oflo">Helping Hands WP Theme 2</td>
                                    <td><span class="label label-success label-rouded">SALE</span></td>
                                    <td class="txt-oflo">April 22, 2017</td>
                                    <td><span class="text-success">$84</span></td>
                                </tr>
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-12 p10">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <h4 class="m-b-0">Total Earnings</h4>
                        <h2 class="m-t-0 font-medium">R$580.50</h2>
                    </div>
                </div>
                <div class="card-text bg-light p20">
                    <ul class="earning-box">
                        <li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/1.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Andrew Simon</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">46</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/2.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Daniel Kristeen</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">55</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/3.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Dany John</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">72</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/4.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Chris gyle</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">66</span>
                                </div>
                            </div>
                        </li>

                        <li class="center">
                            <a class="btn btn-rounded btn-danger btn-block p-10">Withdrow money</a>
                        </li>
                    </ul>
                </div> 
            </div>  
        </div>  


        <!-- outros -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
                <div class="card gradient-primary">
                    <div class="card-content center">
                        <img src="http://admin-stable.niagawebster.com/images/icon/apple-watch.png" class="card-img-small">
                        <h5 class="card-title">50% Off</h5>
                        <p class="card-text">On apple watch</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
                <div class="card gradient-danger">
                    <div class="card-content center">
                        <img src="http://admin-stable.niagawebster.com/images/icon/printer.png" class="card-img-small">
                        <h5 class="card-title">20% Off</h5>
                        <p class="card-text">On Canon Printer</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
                <div class="card gradient-warning">
                    <div class="card-content center">
                        <img src="http://admin-stable.niagawebster.com/images/icon/laptop.png" class="card-img-small">
                        <h5 class="card-title">40% Off</h5>
                        <p class="card-text">On apple macbook</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
                <div class="card gradient-success">
                    <div class="card-content center">
                        <img src="http://admin-stable.niagawebster.com/images/icon/bowling.png" class="card-img-small">
                        <h5 class="card-title">60% Off</h5>
                        <p class="card-text">On any game</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}