{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/imatelecom/css/admin/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/admin/dashboard.js') }}" ></script>

    <script>
        $(document).ready(function () {

            graficoFaturamentoAnual("{{faturamentoAnualCompetencia}}");
        });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <!-- DASHBOARD -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10" title='Cartela de Clientes'>
            <a href='{{path('ima_telecom_admin_administrativo_clientes')}}'>
                <div class="card gradient-primary">                
                    <div class="row card-content p10 m-bottom-10">                    
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 m-top-10 m-bottom-10" align="center">
                            <div class="card-icon-small">
                                <i class="material-icons">perm_identity</i>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p-left-0 m-top-10 m-bottom-10 text-right">
                            <h4 class="mb-0">Clientes</h4>
                        </div>
                    </div>

                    {#<div class='row card-content no-padding m-bottom-20'>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Novos</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">{{totalClientesNovos}}</h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Valor Total</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">R$ {{valorTotalServicosNovos|number_format(2, ',', '.')}}</h5>
                        </div>
                    </div>#}
                </div>
            </a>
        </div>

        {#<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
                    <div class="card gradient-danger">
                        <div class="row card-content p10">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
                                <div class="card-icon-small">
                                    <i class="material-icons">add_shopping_cart</i>
                                </div>
                                <p class="card-text  pl-0">Orders</p>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10  text-right">
                                <h5 class="mb-0">690</h5>
                                <p class="no-margin">New</p>
                                <p>6,00,00</p>
                            </div>
                        </div>
                    </div>
                </div>#}        

        {#<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-success">
                <div class="row card-content p10">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
                        <div class="card-icon-small">
                            <i class="material-icons">timeline</i>
                        </div>
                        <p class="card-text pl-0">Cobranças </p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10 text-right">
                        <h5 class="mb-0">80%</h5>
                        <p class="no-margin">Growth</p>
                        <p>3,42,230</p>
                    </div>
                </div>
            </div>
        </div>#}

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10"title='Cobranças Faturadas'>
            <a href='{{path('ima_telecom_admin_financeiro_cobrancas')}}'>
                <div class="card gradient-success">                
                    <div class="row card-content p10 m-bottom-10">                    
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 m-top-10 m-bottom-10" align="center">
                            <div class="card-icon-small">
                                <i class="material-icons">timeline</i>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p-left-0 m-top-10 m-bottom-10 text-right">
                            <h4 class="mb-0">Cobranças</h4>
                        </div>
                    </div>

                    {#<div class='row card-content no-padding m-bottom-20'>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Novos</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">{{totalClientesNovos}}</h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Valor Total</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">R$ {{valorTotalServicosNovos|number_format(2, ',', '.')}}</h5>
                        </div>
                    </div>#}
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10" title='Cobranças Faturadas'>
            <a href='{{path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_geradas')}}'>
                <div class="card gradient-danger">                
                    <div class="row card-content p10 m-bottom-10">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 m-top-10 m-bottom-10" align="center">
                            <div class="card-icon-small">
                                <i class="material-icons">add_shopping_cart</i>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p-left-0 m-top-10 m-bottom-10 text-right">
                            <h4 class="mb-0">Notas Fiscais SVA</h4>
                        </div>
                    </div>

                    {#<div class='row card-content no-padding m-bottom-20'>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Novos</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">{{totalClientesNovos}}</h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Valor Total</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">R$ {{valorTotalServicosNovos|number_format(2, ',', '.')}}</h5>
                        </div>
                    </div>#}
                </div>
            </a>
        </div>
        {#<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-warning">
                <div class="row card-content p10">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 p10 " align="center">
                        <div class="card-icon-small">
                            <i class="material-icons">attach_money</i>
                        </div>

                        <p class="card-text pl-0">Notas Geradas</p>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p10 text-right">
                        <h5 class="mb-0">$890</h5>
                        <p class="no-margin">Today</p>
                        <p>$25,000</p>
                    </div>
                </div>
            </div>
        </div>#}

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10" title='Notas Fiscais Geradas'>
            <a href='{{path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_geradas')}}'>
                <div class="card gradient-warning">                
                    <div class="row card-content p10 m-bottom-10">                    
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 m-top-10 m-bottom-10" align="center">
                            <div class="card-icon-small">
                                <i class="material-icons">attach_money</i>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 p-left-0 m-top-10 m-bottom-10 text-right">
                            <h4 class="mb-0">Notas Fiscais SCM</h4>
                        </div>
                    </div>

                    {#<div class='row card-content no-padding m-bottom-20'>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Novos</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">{{totalClientesNovos}}</h5>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 col-5 text-left">
                            <h5 class="mb-0">Valor Total</h5>                                 
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 col-7 text-right">
                            <h5 class="mb-0">R$ {{valorTotalServicosNovos|number_format(2, ',', '.')}}</h5>
                        </div>
                    </div>#}
                </div>
            </a>
        </div>
    </div>

    <!-- grafico -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 p10">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        <div class="card-title">
                            Faturamento de {{"now"|date('Y')}}
                            {#<span class="purple-text small">
                                <i class="material-icons">keyboard_arrow_up</i> 15.58 %
                            </span>
                            <a class="btn red pull-right waves-effect waves-light"> Details </a> #}
                        </div>
                    </div>
                    <div class="card-text row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12" style="height: 350px;">
                            <canvas id="thisYearRevenue" class="absolute firstShadow" style="width: 100%; height: 100%;"></canvas>
                                {#                            <canvas id="thisYearRevenue" class="absolute firstShadow" height="350" width="1183" style="width: 1183px; height: 350px;"></canvas>#}
                                {#                            <canvas id="lastYearRevenue" class="absolute " height="350" width="1183" style="width: 1183px; height: 350px;"></canvas>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- resumo vendas -->
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-12  p10">
            <div class="card">
                <div class="card-content">
                    <h2 class="card-title p-top-0 m-bottom-10">Notas Fiscais Recentes </h2>
                    <div class="row card-info no-margin p-top-10 p-right-0">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h2>{{competenciaAtualHeader.PeriodoInicial|date('F \\d\\e Y', "America/Sao_Paulo")}}</h2>
                            <p>RELATÓRIO DE NOTAS</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 p-right-0">
                            <h1 class="text-right text-info">R$ {{valorTotalNotasGeradasCompetencia|number_format(2, ',', '.')}}</h1>
                        </div>
                    </div>

                    <div class="card-text">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class='centro'>#</th>
                                    <th>Cliente</th>
                                    <th class='centro'>STATUS</th>
                                    <th>EMISSÃO</th>
                                    <th>VALOR</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for nota in notasRecentes %}
                                    {% set classLabel = '' %}
                                    {% if nota.Situacao|lower == 'normal' or nota.Situacao|lower == 'aprovada' %} 
                                        {% set classLabel = 'label-success' %}
                                    {% elseif nota.Situacao|lower == 'cancelada' or nota.Situacao|lower == 'reprovada' %} 
                                        {% set classLabel = 'label-danger' %}
                                    {% else %} 
                                        {% set classLabel = 'label-warning' %}
                                    {% endif %}

                                    <tr title='{{nota.Nome}}'>
                                        <td>{{nota.Id}}</td>
                                        <td class="txt-oflo dotdotdot max-width-150">{{nota.Nome}}</td>
                                        <td class='centro'><span class="label {{classLabel}} label-rouded">{{nota.Situacao}}</span> </td>
                                        <td class="txt-oflo">{{nota.DataEmissao|date('F d, Y')}}</td>
                                        <td><span class="text-success">R$ {{nota.ValorNota|number_format(2, ',', '.')}}</span></td>
                                        <td class='direita'>
                                            {% if nota.TipoNota == 'scm' %}
                                                <a href="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_visualizar_nota_scm', {clienteId: nota.Cliente, notaFiscalId: nota.Id}) }}" 
                                                   target="_blank" title="Visualizar Nota Fiscal SCM PDF" class="col-separator"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                            {% else %}
                                                {% if nota.Situacao == 'aprovada' %}
                                                    <a href="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_visualizar_nota_sva', {clienteId: nota.Cliente, notaFiscalId: nota.Id}) }}" 
                                                        target="_blank" title="Visualizar Nota Fiscal SVA PDF" class="col-separator"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                                {% elseif nota.Situacao == 'emitida' %}
                                                    <a href="#" data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_verificadas_verificacao_nota', { notaId: nota.Id }) }}" data-title="Verificar Nota Fiscal SVA para à Nota Emitida" title="Verificar Nota Fiscal SVA para à Nota Emitida" class="ajax col-separator"><i class="icon fa fa-sticky-note" aria-hidden="true"></i></a>
                                                {% else %}
                                                    <a href="#" data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_geradas_geracao_nota', { cobrancaId: nota.BoletoId }) }}" data-title="Reemitir Nota Fiscal SVA" title="Reemitir Nota Fiscal SVA" class="ajax col-separator"><i class="icon fa fa-sticky-note" aria-hidden="true"></i></a>                                                    
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {#<tr>
                                    <td>1</td>
                                    <td class="txt-oflo">Elite admin</td>
                                    <td><span class="label label-success label-rouded">SALE</span> </td>
                                    <td class="txt-oflo">April 18, 2017</td>
                                    <td><span class="text-success">$24</span></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="txt-oflo">Real Homes WP Theme</td>
                                    <td><span class="label label-info label-rouded">EXTENDED</span></td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">$1250</span></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="txt-oflo">Admin-Init </td>
                                    <td><span class="label label-info label-rouded">EXTENDED</span></td>
                                    <td class="txt-oflo">April 19, 2017</td>
                                    <td><span class="text-info">$1250</span></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="txt-oflo">Medical Pro WP Theme</td>
                                    <td><span class="label label-danger label-rouded">TAX</span></td>
                                    <td class="txt-oflo">April 20, 2017</td>
                                    <td><span class="text-danger">-$24</span></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="txt-oflo">Hosting press html</td>
                                    <td><span class="label label-warning label-rouded">PENDING</span></td>
                                    <td class="txt-oflo">April 21, 2017</td>
                                    <td><span class="text-success">$24</span></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="txt-oflo">Digital Agency PSD</td>
                                    <td><span class="label label-success label-rouded">SALE</span> </td>
                                    <td class="txt-oflo">April 23, 2017</td>
                                    <td><span class="text-success">$14</span></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="txt-oflo">Helping Hands WP Theme</td>
                                    <td><span class="label label-success label-rouded">SALE</span></td>
                                    <td class="txt-oflo">April 22, 2017</td>
                                    <td><span class="text-success">$64</span></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="txt-oflo">Helping Hands WP Theme 2</td>
                                    <td><span class="label label-success label-rouded">SALE</span></td>
                                    <td class="txt-oflo">April 22, 2017</td>
                                    <td><span class="text-success">$84</span></td>
                                </tr>#}
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-12 p10">
            <div class="card">
                <div class="card-content">
                    {#<div class="card-title">
                        <h2 class="m-b-0">Cobranças Registradas</h2>
                        <h2 class="m-t-0 font-medium">R$ {{valorTotalNotasGeradasCompetencia|number_format(2, ',', '.')}}</h2>
                    </div>#}
                    <h2 class="card-title p-top-0 m-bottom-10">Cobranças Registradas </h2>
                    <div class="row card-info no-margin p-top-10 p-right-0">                        
                        <div class="col-md-12 col-sm-12 col-xs-12 p-right-0">
                            <h1 class="text-right text-info">R$ {{valorTotalLancamentosCompetencia|number_format(2, ',', '.')}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-text bg-light p20 p-top-0">
                    <ul class="earning-box">
                        {% for lancamento in lancamentosRecentes %}
                            <li class='{% if lancamento.EstaPago == false %}  {% endif %}' title='{{lancamento.Nome}}'>
                                <div class="er-row">
                                    {#<div class="er-pic">
                                        <img src="images/users/1.jpg" alt="varun" width="60" class="img-circle">
                                    </div>#}
                                    <div class="er-text">
                                        <h5 class="dotdotdot">{{lancamento.Nome}}</h5>
                                        <span class="text-muted">{{lancamento.Vencimento|date('d/m/Y') }}</span>
                                    </div>

                                    <div class="er-count m-left-20">
                                        R$ <span class="counter">{{lancamento.ValorBoleto|number_format(2, ',', '.')}}</span>
                                    </div>

                                    {% if lancamento.EstaPago == false %}
                                        <div class="er-count">
                                            <a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_visualizar_cobranca', { clienteId: lancamento.ClienteId, cobrancaId: lancamento.CobrancaId })}}" 
                                               class="col-separator" title="Visualizar Cobrança" target="_blank"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}

                        {#<li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/2.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Daniel Kristeen</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">55</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/3.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Dany John</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">72</span>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="er-row">
                                <div class="er-pic">
                                    <img src="images/users/4.jpg" alt="varun" width="60" class="img-circle">
                                </div>
                                <div class="er-text">
                                    <h3>Chris gyle</h3>
                                    <span class="text-muted">10-11-2016</span>
                                </div>
                                <div class="er-count ">
                                    $<span class="counter">66</span>
                                </div>
                            </div>
                        </li>

                        <li class="center">
                            <a class="btn btn-rounded btn-danger btn-block p-10">Withdrow money</a>
                        </li>#}
                    </ul>
                </div> 
            </div>  
        </div> 
    </div>

    {#{% for faturamento in faturamentoAnualCompetencia %}
        <div>{{faturamento.AnoVencimento}}</div>
        <div>{{faturamento.MesVencimento}}</div>
        <div>{{faturamento.ValorTotal}}</div>
    {% endfor %}#}

    <!-- outros -->
    {#<div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-primary">
                <div class="card-content center">
                    <img src="http://admin-stable.niagawebster.com/images/icon/apple-watch.png" class="card-img-small">       
                    <h5 class="card-title">50% Off</h5>
                    <p class="card-text">On apple watch</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-danger">
                <div class="card-content center">
                    <img src="http://admin-stable.niagawebster.com/images/icon/printer.png" class="card-img-small">
                    <h5 class="card-title">20% Off</h5>
                    <p class="card-text">On Canon Printer</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-warning">
                <div class="card-content center">
                    <img src="http://admin-stable.niagawebster.com/images/icon/laptop.png" class="card-img-small">
                    <h5 class="card-title">40% Off</h5>
                    <p class="card-text">On apple macbook</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 col-12 p10">
            <div class="card gradient-success">
                <div class="card-content center">
                    <img src="http://admin-stable.niagawebster.com/images/icon/bowling.png" class="card-img-small">
                    <h5 class="card-title">60% Off</h5>
                    <p class="card-text">On any game</p>
                </div>
            </div>
        </div>
    </div>#}

{% endblock %}