<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block mobile %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <link rel="manifest" href="manifest.webmanifest">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="author" content="Censanet" />
        <meta name="description" content="Provedor de internet banda larga em Campos dos Goytacazes e São João da Barra, e serviços callcenter, colocation, interfonia, hospedagem, domínio, email, cameras aovivo" />
        <meta name="keywords" content="hospedagem dominio internet callcenter bandalarga interfonia karacol email cameras" />
        <link rel="shortcut icon" href="{{ asset('bundles/imatelecom/images/logo.ico') }}" type="image/x-icon" /> 
        <link rel="apple-touch-icon" href="{{ asset('bundles/imatelecom/images/logo.ico') }}" type="image/x-icon" /> 
        <title>{% block title %}Ima Telecom - Admin{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://static.censanet.com.br/css/opensans-regular-webfont.css" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/font-awesome.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/admin/moldura.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/imatelecom/js/jquery-1.12.3.min.js') }}" ></script>
            <script src="{{ asset('bundles/imatelecom/js/bootstrap.min.js') }}" ></script>
            <script src="{{ asset('bundles/imatelecom/js/admin/moldura.js') }}" ></script>
        {% endblock %}
    </head>
    <body themebg-pattern="pattern2">
        <aside class="menu-lateral">
            <header class="container-logo">                
                <a href="{{path('ima_telecom_admin')}}" title="IMA Telecom - ADMIN"></a>
            </header>
            <nav>
                <ul id="links">
                    <li>
                        <a href="#" data-menu="sub_menu_administrativo">
                            <i class="icon fa fa-tasks" aria-hidden="true"></i> 
                            <span>
                                Administrativo
                            </span>
                        </a>
                        <ul id="sub_menu_administrativo" class="sub-menu">
                            <li>
                                <a href="{{path('ima_telecom_admin_administrativo_clientes')}}">
                                    {#<i class="icon fa fa-users" aria-hidden="true"></i> #}Clientes
                                </a>
                            </li>
                            <li>
                                <a href="{{path('ima_telecom_admin_administrativo_sicis')}}">
                                    SICI
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-menu="sub_menu_financeiro">
                            <i class="icon fa fa-briefcase" aria-hidden="true"></i> 
                            <span>
                                Financeiro
                            </span>
                        </a>
                        <ul id="sub_menu_financeiro" class="sub-menu">
                            <li>
                                <a href="{{path('ima_telecom_admin_financeiro_competencias')}}">
                                    Competências
                                </a>
                            </li>
                            <li>
                                <a href="{{path('ima_telecom_admin_financeiro_cobrancas')}}" 
                                   title="Gera às faturas baseada na Competência Ativa.">
                                    Cobranças
                                </a>
                            </li>
                            {#<li>
                                <a href="{{path('ima_telecom_admin_financeiro_faturamentos')}}" 
                                   title="Lista e Gera os faturamentos baseada na Competência.">
                                    Faturamentos
                                </a>
                            </li>#}
                            <li>
                                <a href="{{path('ima_telecom_admin_financeiro_lancamentos_bancarios')}}" 
                                   title="Lista os Lançamentos baseado na Competência.">
                                    Lançamentos Bancários
                                </a>
                            </li>
                            {#<li>
                                <a href="{{path('ima_telecom_admin_financeiro_contas_a_pagar')}}" 
                                   title="Lista o Contas a Pagar baseado na Competência.">
                                    Contas à Pagar
                                </a>
                            </li>#}
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-menu="sub_menu_fiscal">
                            <i class="icon fa fa-file" aria-hidden="true"></i> 
                            <span>
                                Fiscal
                            </span>
                        </a>
                        <ul id="sub_menu_fiscal" class="sub-menu">
                            <li>
                                <a href="{{path('ima_telecom_admin_fiscal_geracao_notas_fiscais')}}">
                                    Geração de Notas fiscais
                                </a>
                            </li>
                            <li>
                                <a href="{{path('ima_telecom_admin_fiscal_notas_fiscais_geradas')}}">
                                    Notas fiscais Geradas
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="{{ path('ima_telecom_admin_fiscal_notas_fiscais_relacoes' ) }}">
                                    Relação de Notas Fiscais Emitidas
                                </a>
                            </li>
                            <li>
                                <a href="{{path('ima_telecom_admin_fiscal_sintegras')}}">
                                    Sintegras
                                </a>
                            </li>
                        </ul>
                    </li>
                    {#<li>
                        <a href="#" data-menu="sub_menu_rotinas">
                            <i class="icon fa fa-calendar" aria-hidden="true"></i> 
                            <span>
                                Rotinas
                            </span>
                        </a>
                        <ul id="sub_menu_rotinas" class="sub-menu">
                            <li>
                                <a class='menu-ajax' href="javascript:void(0);" data-url="{{path('ima_telecom_admin_rotinas_verificar_notas_em_aberto')}}">
                                    Verificar Notas Fiscais em Aberto
                                </a>
                            </li>
                            <li>
                                <a href="{{path('ima_telecom_admin_rotinas_grupos_agendamentos')}}">
                                    Grupos de Agendamento
                                </a>
                            </li>
                            <li>
                                <a href="{{path('ima_telecom_admin_rotinas_agendamentos')}}">
                                    Agendamentos
                                </a>
                            </li>
                        </ul>
                    </li>#}

                    <li class="footer">
                        <a href="{{path('ima_telecom_logout')}}" title="Sair">
                            <i class="icon fa fa-times-circle fa-2x" aria-hidden="true"></i>                             
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <section class="main">
            <header id="detalhes_competencia">                                
                <table>
                    <thead>
                        <tr>
                            <th class="centro negrito">Cód. Competência</th>
                            <th class="centro negrito">Descrição</th>
                            <th class="centro negrito">Ano/Mês</th>
                            <th class="centro negrito">Período Inicial</th>
                            <th class="centro negrito">Período Final</th>
                            <th class="centro negrito">Última Emissão</th>
                            <th class="centro negrito">Período Futuro</th>
                            <th class="centro negrito">
                                <a id="mostrar_dados_competencia" href="javascrip:void(0);" title="Mostrar/Ocultar" class="black">
                                    <i class="icon fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="oculto">
                        <tr>
                            <td class="centro">{{ competenciaAtualHeader.Id }}</td>
                            <td class="esquerda">{{ competenciaAtualHeader.Descricao}}</td>
                            <td class="centro">{{ competenciaAtualHeader.Ano ~ '/' ~ competenciaAtualHeader.Mes }}</td>
                            <td class="centro">{{ competenciaAtualHeader.PeriodoInicial|date("d/m/Y") }}</td>
                            <td class="centro">{{ competenciaAtualHeader.PeriodoFinal|date("d/m/Y") }}</td>
                            <td class="centro">{{ competenciaAtualHeader.UltimaDataEmissao|date("d/m/Y") }}</td>                
                            <td class="centro">                                
                                <input class="checkbox no-clicked" type="checkbox" 
                                       {% if competenciaAtualHeader.PeriodoFuturo == 1 %}
                                           checked="checked"
                                       {% endif %}
                                       />
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>                
            </header>
                                    
            <div id="alerta_topo" class="alert centro oculto" role="alert">
                <button type="button" class="close">
                    <span>&times;</span>
                </button>
                <strong>Atenção!</strong>
                <span id="alerta_mensagem">Salvo com sucesso!2</span>
            </div>

            {% if status is defined %}
                <div class="alert centro {% if status %} alert-success {%else%} alert-danger {%endif%}" role="alert">
                    <button type="button" class="close">
                        <span>&times;</span>
                    </button>
                    <strong>Atenção!</strong><br />
                    <span>{{mensagem|raw}}</span>
                </div>
            {% endif %}

            {% block body %} {% endblock %}
        </section>
    </body>    
</html>