body {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 300 !important;
    font-size: 14px;
}

body {
    background-image: url('../../images/background.jpg');
}

/*
    Top Bar
*/
.show-notification li a i {
    margin-left: 0px !important;
}

.header-navbar .navbar-wrapper .navbar-logo {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    padding: 10px;
}

.navbar * {    
    color: #f1f1f1 !important;
}

a i {
    vertical-align: baseline !important;
}

.niagaweb .niagaweb-header {
    position: fixed;
    /*z-index: 1028;*/
    z-index: 2000 !important;
    border: 0px !important;
    box-shadow: none !important;
    background: #0d3a29; /*#303549;*/
    color: white !Important;
    width: 100%;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);    
    display: block;
    top: 0;
    border-radius: 0px;
}
/*.niagaweb .niagaweb-header {
    position: relative;    
}*/

/*
.header-navbar .navbar-wrapper .navbar-container .header-notification:hover .show-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top:hover .show-notification, .header-navbar .navbar-wrapper .navbar-container .header-notification:hover .profile-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top:hover .profile-notification {
    -webkit-transform: translateY(0px);
    opacity: 1;
    transform: translateY(0px);
    visibility: visible; 
}*/

.item-visivel {    
    /*top: 50px;*/
    -webkit-transform: translateY(0px) !important;
    opacity: 1 !important;
    transform: translateY(0px) !important;
    visibility: visible !important;     
}
.navbar, .niagaweb-navbar {
    z-index: 1000 !important;
}
.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    /*    padding: 0px !important;*/
    z-index: 9999999;
}
.header-navbar {
    min-height: 80px;
    padding: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
    position: absolute;
    right: 22px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 9px;
    top: 24px;
}
.niagaweb .niagaweb-header a {
    color: white !important;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left, .header-navbar .navbar-wrapper .navbar-container .nav-right {
    float: left;
    margin-bottom: 0;
}

.nav-left {
    padding-left: 0px !Important;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li, .header-navbar .navbar-wrapper .navbar-container .nav-right li {
    float: left;
    line-height: 5;
    padding: 0 10px;
    position: relative;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li a, .header-navbar .navbar-wrapper .navbar-container .nav-right li a {
    vertical-align: baseline !important;
}

ul:not(.browser-default) > li {
    list-style-type: none;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li .sidebar_toggle a, .header-navbar .navbar-wrapper .navbar-container .nav-right li .sidebar_toggle a {
    display: none;
}

.niagaweb .niagaweb-header .sidebar_toggle a {
    border-radius: 4px;
    float: left;
    font-size: 18px;
    height: 35px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: 7px;
    width: 40px;
    border-width: 0;
    border-style: solid;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left a, .header-navbar .navbar-wrapper .navbar-container .nav-right a {
    padding: 0 0.6rem;
}

.sidebar_toggle a {
    margin: -5px;
    line-height: 1;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right {
    float: right;
    margin-bottom: 0;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top {
    perspective: 1000px;
    z-index: 99;
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li > a, .header-navbar .navbar-wrapper .navbar-container .nav-right li > a {
    font-size: 16px;
    /*    display: inline-block;
        width: 100%;*/   
}

.header-navbar .navbar-wrapper .navbar-container .nav-left li > a:focus, .header-navbar .navbar-wrapper .navbar-container .nav-right li > a:focus {
    text-decoration: none;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .badge, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .badge {
    border-radius: 100px;
    right: 15px;
    position: absolute;
    top: 20px;
    padding: 4px;
}
.badge:empty {
    display: none;
}

.badge {
    color: white !important;
    font-weight: unset!important;
    right: 0;
    top: 0;
    padding: 0px !important;
    padding-left: 5px !Important;
    padding-right: 5px !Important;
    min-width: 35px;
    border-radius: 0px;
    margin-left: 14px;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    height: 20px;
    float: right;
    box-sizing: border-box;
}
.badge {
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
    font-size: 12px;
    margin-top: 1px;
    background-color: #ffbb44;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.bg-c-pink {
    background-color: #FC6180!important;
}

notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification {
    -webkit-transform: translateY(30px);
    background: #fff;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.03), 0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(30px);
    transition: all linear 0.3s;
    visibility: hidden;
    width: 24rem;
}

/*.profile-notification {
    opacity: 1 !important;
    visibility: visible !important;
}*/

.show-notification {
    background: #f5c432 !Important;
    color: white !Important;
}

.show-notification.profile-notification {
    width: 17em !important;
}

ul {
    padding-left: 0px !Important;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li:first-child {
    padding: 0.7em 20px;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li:first-child, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li:first-child {
    /*padding: 10px 20px;*/
    padding: 0px;
}

notification li, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li {
    border-top: 1px solid #4680ff, #FFB64D, #e0e0e0, #FC6180, #93BE52, #303548, #62d1f3;
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.show-notification li, .show-notification li a {
    color: white !Important;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li img, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li img, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li img, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    align-self: flex-start !important;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-user, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification .notification-user, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-user, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification .notification-user {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-msg, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification .notification-msg, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-msg, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification .notification-msg {
    margin-bottom: 5px;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification .notification-time, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification .notification-time, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification .notification-time, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification .notification-time {
    font-size: 12px;
    color: #919aa3;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:hover, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li:hover, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:hover, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li:hover {
    background-color: #e2af37; 
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child h6, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li:first-child h6, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child h6, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li:first-child h6 {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li:first-child label, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li:first-child label, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li:first-child label, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li:first-child label {
    float: right;
}

.label-danger {
    background-color: #ff7676;
}
.label {
    letter-spacing: 0.05em;
    border-radius: 60px;
    font-size: 12px;
    color: white;
    padding: 4px 12px 3px;
    display: inline-block;
    margin-bottom: .5rem;
}

notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification {
    -webkit-transform: translateY(30px);
    background: #fff;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.03), 0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(30px);
    transition: all linear 0.3s;
    visibility: hidden;
    width: 24rem;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification {
    -webkit-transform: translateY(30px);
    background: #fff;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.03), 0 -2px 1px -2px rgba(0, 0, 0, 0.02), 0 0 0 -1px rgba(0, 0, 0, 0.03);
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateY(30px);
    transition: all linear 0.3s;
    visibility: hidden;
    width: 24rem;
}

a:hover, a:focus {
    text-decoration: none;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification a, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification a {
    font-size: 15px;
    padding-left: 0;
    /*padding-left: 0;*/
    padding: 10px 20px !important;
    width: 100%;
    display: inline-block;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification li, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .show-notification li, .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification li, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification li {
    border-top: 1px solid #4680ff, #FFB64D, #e0e0e0, #FC6180, #93BE52, #303548, #62d1f3;
    line-height: initial;
    padding: 1em 20px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification i, .header-navbar .navbar-wrapper .navbar-container .mega-menu-top .profile-notification i {
    font-size: 15px !important;
    margin-left: 0;
    margin-right: 5px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile img {
    margin-right: 10px;
    width: 40px;
    height: 43px;
}

.img-radius {
    border-radius: 100%;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .user-profile i {
    font-size: 10px;
    margin-left: 10px;
}

/*
    Close Top Bar
*/


/* 
    Sidebar
*/

.niagaweb.niagaweb-wrapper, .niagaweb .niagaweb-main-container {
    position: relative;
    margin: 0 auto;
}

.niagaweb-main-container {
    display: block;
    position: relative;
    background: #F6F7FB;
    min-height: calc(100vh - 80px);
}

.niagaweb .niagaweb-header .niagaweb-left-header, .niagaweb .niagaweb-navbar {
    width: 270px;
}
.niagaweb .niagaweb-navbar {
    float: left;
}
.niagaweb .niagaweb-navbar {
    position: fixed;
}
.niagaweb .niagaweb-navbar {
    background: #fff;
}
.niagaweb .niagaweb-navbar {
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
}
.niagaweb .niagaweb-navbar {
    z-index: 1027;
    height: 100%;
}
.niagaweb .niagaweb-navbar {
    display: block;
}
.navbar, .niagaweb-navbar {
    z-index: 1000 !important; /*9999999 !important*/
}
.niagaweb-navbar {
    padding-bottom: 80px !important;
}

.niagaweb-navbar .sidebar_toggle a {
    opacity: 1;
    visibility: visible;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    position: absolute;
}
.sidebar_toggle a {
    margin: -5px;
    line-height: 1;
}

.niagaweb .niagaweb-navbar .main-menu {
    background-color: #fff;
}
.main-menu {
    width: 100% !important;
    width: 270px;
    z-index: 99;
}
.niagaweb-inner-navbar {
    height: 100%;
    display: block;
    position: relative;
}

.niagaweb .niagaweb-navbar .main-menu .main-menu-header {
    background-color: #fff;
}
.main-menu .main-menu-header {
    align-items: center;
    display: flex;
    padding: 20px 20px 15px;
}

.img-40 {
    width: 40px !important;
    height: 45px !important;
    border-radius: 100%;
}

.main-menu .main-menu-header .user-details {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.niagaweb .niagaweb-navbar .main-menu .main-menu-header .user-details span {
    color: #000;
}

.main-menu .main-menu-header .user-details span:first-child {
    margin-bottom: 5px;
    font-weight: 600;
}
.main-menu .main-menu-header .user-details span {
    color: #000;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
}

.main-menu .main-menu-header .user-details #more-details {
    cursor: pointer;
}

.main-menu .main-menu-header .user-details span:last-child {
    color: #999 !important;
    font-size: 12px;
}

.main-menu .main-menu-content .more-details {
    display: none;
}
.main-menu .main-menu-content li {
    position: relative;
}

.main-menu .main-menu-content .more-details a {
    padding: 10px 25px;
    display: block;
    color: #000;
    transition: all ease-in 0.3s;
}
.main-menu .main-menu-content .more-details a i {
    margin-right: 10px;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.niagaweb .niagaweb-navbar .niagaweb-search {
    padding: 0px 20px 5px;
    position: relative;
}

.niagaweb .niagaweb-navbar .searchbar-toggle {
    color: #4680ff;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(5) > a > .niagaweb-micon {
    background-color: #3cb864;
}

*:not(.dataTables_wrapper) input[type=text], *:not(.dataTables_wrapper) input[type=password], *:not(.dataTables_wrapper) input[type=email] {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.niagaweb-search input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: transparent;
    /*    padding: 6px 22px 6px 10px;*/
    border: none;
    border: 1px solid #ddd;
    padding-right: 30px !important;
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.niagaweb-search .search-icon {
    cursor: pointer;
    margin-top: -33px;
    padding: 6px;
    position: absolute;
    right: 25px;
}

.niagaweb .niagaweb-navbar .niagaweb-item {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.niagaweb .niagaweb-navbar .niagaweb-navigatio-lavel {    
    border-bottom-color: transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: 1;
    padding: 20px 20px 10px;
    text-transform: capitalize;
    visibility: visible;
    width: 100%;
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;    
    color: #8c8c8c !important;
}

.niagaweb .niagaweb-navbar .niagaweb-item > li {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.niagaweb .niagaweb-navbar .niagaweb-item li > a {
    border: none;
}
.niagaweb .niagaweb-navbar .niagaweb-item > li > a {
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    color: #000 !important;
    text-align: left;
    padding: 10px 20px;
    display: block;
    font-size: 14px;
    /*    padding: 0 15px;*/
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(2) > a > .niagaweb-micon {
    background-color: #FC6180;
}
.niagaweb .niagaweb-navbar .niagaweb-item > li > a > .niagaweb-micon {
    font-size: 15px;
    padding: 4px;
    margin-right: 10px;
    color: #fff;
    border-radius: 4px;
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
}

.niagaweb .niagaweb-navbar .niagaweb-item > li > a .niagaweb-mtext {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 16px;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(3) > a > .niagaweb-micon {
    background-color: #93BE52;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(4) > a > .niagaweb-micon {
    background-color: #FFB64D;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(6) > a > .niagaweb-micon {
    background-color: #FF5370;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(10) > a > .niagaweb-micon {
    background-color: #FF5370;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:hover, .niagaweb .niagaweb-navbar .niagaweb-item > li.active {
    background: #eeeeee;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(7) > a > .niagaweb-micon {
    background-color: #7C4DFF;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(8) > a > .niagaweb-micon {
    background-color: #FF5370;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(9) > a > .niagaweb-micon {
    background-color: #4680ff;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(11) > a > .niagaweb-micon {
    background-color: #93BE52;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(12) > a > .niagaweb-micon {
    background-color: #FFB64D;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(13) > a > .niagaweb-micon {
    background-color: #ab7967;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(15) > a > .niagaweb-micon {
    background-color: #7C4DFF;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(16) > a > .niagaweb-micon {
    background-color: #FF5370;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(17) > a > .niagaweb-micon {
    background-color: #4680ff;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(18) > a > .niagaweb-micon {
    background-color: #FC6180;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(17) > a > .niagaweb-micon {
    background-color: #4680ff;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(18) > a > .niagaweb-micon {
    background-color: #FC6180;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(19) > a > .niagaweb-micon {
    background-color: #93BE52;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(20) > a > .niagaweb-micon {
    background-color: #FFB64D;
}

.niagaweb .niagaweb-item.niagaweb-left-item > li:nth-child(21) > a > .niagaweb-micon {
    background-color: #ab7967;
}
.niagaweb .niagaweb-navbar .niagaweb-item > li > a.disabled {
    opacity: 0.5;
    cursor: not-allowed !important; 
}
.niagaweb .niagaweb-navbar .niagaweb-item > li.active > a {
    font-weight: 600; 
}

.niagaweb .niagaweb-navbar .niagaweb-item > li.active {
    background: #eee;
}

.niagaweb .niagaweb-navbar .niagaweb-item li.niagaweb-hasmenu .niagaweb-submenu {
    background: #eeeeee;
}

.niagaweb .niagaweb-navbar .niagaweb-item li.niagaweb-hasmenu .niagaweb-submenu li.active {
    background: #fff;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg); 
    width: 80%;
    list-style: outside none none;
    margin: 0 auto;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    position: absolute; 
    position: relative;
    width: 100%; 
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.niagaweb .niagaweb-navbar .niagaweb-item li.niagaweb-hasmenu .niagaweb-submenu li > a {
    border-bottom-color: #e6e6e6;
    color: #000;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a {
    border-bottom-width: 1px; 
    padding-left: 10px; 
    text-align: left;
    padding: 8.7px 10px; 
    display: block;
    font-size: 14px;
    font-weight: 100;
    padding: 0 15px;
    text-decoration: none;
    position: relative;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a .niagaweb-micon {
    display: none;
    font-size: 10px;
    padding-right: 5px;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a > .niagaweb-mtext {
    transition: all 0.3s ease-in-out;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a .niagaweb-mtext:before {
    content: '\e649';
    font-family: 'themify';
    padding-right: 10px;
    font-size: 8px;
    font-style: normal;
    padding-right: 4px;
    font-size: 10px;
    position: relative;
    left: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
    border-bottom-color: #fff;
}
.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a > .niagaweb-mtext:before {
    transition: all 0.3s ease-in-out;
}

.main-menu .main-menu-header .user-details span i {
    font-size: 10px;
    margin-left: 10px;
    color: #000;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}

.niagaweb .niagaweb-navbar .niagaweb-item > li.niagaweb-hasmenu .niagaweb-submenu li.niagaweb-hasmenu > a:after, .niagaweb .niagaweb-navbar .niagaweb-item > li.niagaweb-hasmenu > a:after {
    color: #000;
}
.niagaweb .niagaweb-navbar .niagaweb-item li.niagaweb-hasmenu > a:after {
    content: "\e649";
    opacity: 1;
    visibility: visible;
    float: right;
    font-style: normal;
    margin-left: 3px;
    font-size: 10px;
    position: absolute;
    right: 15px;
    top: 10px;
    font-family: 'themify';
    padding-top: 12px;
    transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
}

.niagaweb-submenu {
    display: none;
}

.niagaweb-submenu.niagaweb-trigger {
    display: block;
}


.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu.niagaweb-trigger > .niagaweb-submenu {
    position: relative;
    opacity: 1;
    visibility: visible; 
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu.niagaweb-trigger .niagaweb-submenu {
    -webkit-transform-origin: 0 0;
    transform-origin: 10% 10%;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.niagaweb .niagaweb-navbar .niagaweb-item li.niagaweb-hasmenu.niagaweb-trigger > a:after {
    content: "\e64b";
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu {
    width: 80%;
    list-style: outside none none;
    margin: 0 auto;
    padding: 10px 0;
    position: absolute;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li {
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a .niagaweb-mtext:before {    
    content: '\e649';
    font-family: 'themify';
    padding-right: 10px;
    font-size: 8px;
}

.niagaweb .niagaweb-navbar .niagaweb-item .niagaweb-hasmenu .niagaweb-submenu li > a {
    text-align: left;
    padding: 8.7px 10px;
}


/* 
    Close Sidebar 
*/


.niagaweb .niagaweb-content {
    margin-left: 270px;
    float: unset;
    right: 0;
    position: relative;
    display: block;
}

.main-body {
    padding: 10px !important;
}

.row {
    margin: 0px !important;
}

.p10 {
    padding: 10px !important;
}

.card {
    border: 0px !important;
}

.card {
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    overflow: hidden;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card .card-content {
    overflow: auto !important;
}

.gradient-danger {
    background: #FF5252!important;
    background: -webkit-linear-gradient(45deg, #FF5252 0%, #f48fb1 100%)!important;
    background: linear-gradient(45deg, #FF5252 0%, #f48fb1 100%)!important;
    color: white !important;
    border: 0px !important;
}

.gradient-primary {
    background: #0288d1!important;
    background: -webkit-linear-gradient(45deg, #0288d1 0%, #26c6da 100%)!important;
    background: linear-gradient(45deg, #0288d1 0%, #26c6da 100%)!important;
    color: white !important;
    border: 0px !important;
}

.gradient-success {
    background: #43A047!important;
    background: -webkit-linear-gradient(45deg, #43A047 0%, #1de9b6 100%)!important;
    background: linear-gradient(45deg, #43A047 0%, #1de9b6 100%)!important;
    color: white !important;
    border: 0px !important;
}

.gradient-warning {
    background: #ff6f00!important;
    background: -webkit-linear-gradient(45deg, #ff6f00 0%, #ffca28 100%)!important;
    background: linear-gradient(45deg, #ff6f00 0%, #ffca28 100%)!important;
    color: white !important;
    border: 0px !important;
}

.card .card-icon-small {
    width: 60px;
    height: 60px;
    padding: 16px;
    font-size: 26px;
    border-radius: 100%;
    background: rgba(0,0,0,0.5) !important;
}

.card .card-text {
    overflow-y: auto;
}
.card .card-text {
    font-size: 14px;
    width: 100%;
}
.card-text:last-child {
    margin-bottom: 0;
}
.card p {
    line-height: 16px;
    padding: 5px !important;
    margin: 0px !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.gradient-info *, .gradient-success *, .gradient-primary *, .gradient-danger *, .gradient-warning * {
    color: inherit !important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    /*    font-weight: 500;*/
    font-weight: bold;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.card .card-content {
    padding: 20px;
}

.card .card-content .card-header {
    padding: 0px;
    border: 0px !Important;
}
.card .card-header {
    width: 100%;
    background: transparent;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card .card-title, .card-simple .card-title {
    font-size: 18px;
    padding-top: 10px;
    font-weight: 600;
}

.card-title {
    margin-bottom: .75rem;
}

.purple-text {
    color: #9c27b0 !important;
}
.small {
    font-size: 0.8em !important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}




.btn:not(.btn-floating):not(.btn-circle):not(.pagination):not(.paginate_button) {
    min-width: 120px;
}
.btn:not([disabled]):not(.disabled) {
    cursor: pointer;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.btn:not(.dropdown-toggle) {
    margin-top: 0px !important;
    margin-bottom: 3px;
}
.card a {
    cursor: pointer !important;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}
.btn, .btn:hover, .btn:focus, .btn:active {
    box-shadow: unset !important;
}
.red {
    color: white !important;
    background-color: #F44336 !important;
}
.pull-right {
    float: right;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem !important;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card .card-text {
    overflow-y: auto;
    font-size: 14px;
    width: 100%;
}

canvas.firstShadow {
    z-index: 9;
}
canvas.absolute {
    height: 350px !important;
}
.absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
canvas {
    width: 100% !important;
    max-width: 100% !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2.card-title {
    font-size: 22px !important;
}

.card .card-info {
    background: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 20px !important;
    padding: 10px;
    padding-top: 20px;
    font-weight: normal;
}

.card .card-info * {
    font-weight: normal !important;
}

.card .card-info h2 {
    font-size: 2em;
}

.card .card-info h1 {
    font-size: 2.5em;
}

.text-info {
    color: #17a2b8!important;
}

.card .card-text table {
    width: 100%;
    margin: 0px !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
table {
    max-width: 100%;
    display: table !Important;
    width: 100% !important;
    margin: 0px !important;
    font-size: 14px;
    max-width: 100% !important;
    border-collapse: collapse;
}

table.bordered tr, table thead {
    border-bottom: 1px solid gainsboro;
}
table * {
    word-wrap: break-word !important;
    max-width: 100%;
}

.table thead th {
    vertical-align: bottom;
    /*    border-bottom: 2px solid #dee2e6;*/
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    /*    border-top: 1px solid #dee2e6;*/    
}
td, th {
    text-transform: uppercase !important;
    text-align: left !Important;
    word-wrap: break-word !important;
    white-space: normal !Important;
}
th {
    font-weight: bold;
}
td {
    vertical-align: middle !Important;
}

.label-success {
    background-color: #53e69d;
}
.label-info {
    background-color: #2cabe3;
}
.label-warning {
    background-color: #ffc36d;
}

.label-rounded, .label-rouded {
    border-radius: 60px;
    padding: 4px 12px 3px;
}
.label {
    letter-spacing: 0.05em;
    border-radius: 60px;
    font-size: 12px;
    color: white;
    padding: 4px 12px 3px;
}

.text-success {
    color: #28a745!important;
}
.text-danger {
    color: #dc3545!important;
}

.h4, h4 {
    font-size: 1.5rem;
}

.h2, h2 {
    font-size: 2rem;
}

.p20 {
    padding: 20px !important;
}
.bg-light {
    background-color: #f8f9fa!important;
}

.earning-box {
    padding: 0px;
    margin: 0px;
}

ul {
    padding-left: 0px !Important;
}

.earning-box li {
    display: box;
    list-style: none;
    padding: 20px 0;
}

.earning-box li:first-child {    
    padding-top: 0px;
}

.earning-box li:last-child {    
    padding-bottom: 0px;
}

.earning-box li .er-row {
    overflow: hidden;
}

.earning-box li .er-row .er-pic {
    float: left;
    margin-right: 20px;
}

.earning-box li .er-row .er-pic img {
    width: 60px;
}

.earning-box li .er-row .er-text {
    float: left;
    width: 45%;
}
.earning-box li .er-row .er-text h3 {
    margin: 5px 0 0 0px;
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-muted {
    color: #868e96!important;
}

.earning-box li .er-row .er-count {
    float: right;
    font-size: 12pt;
    padding-top: 10px;
    color: #41b3f9;
    font-weight: 400;
}

.center {
    text-align: center;
    align-items: center;
    vertical-align: center;
}

.btn:not(.btn-floating):not(.btn-circle):not(.pagination):not(.paginate_button) {
    min-width: 120px;
}

.btn-danger, .btn-danger.disabled {
    background: #ff7676!important;
    border: 1px solid #ff7676!important;
}

.btn-danger, .btn-success, .btn-info, .btn-warning, .btn-primary {
    color: white !important;
    font-weight: normal;
}
.btn-block {
    width: 100%;
    display: block;
    margin-bottom: 5px !Important;
}
.btn-rounded {
    border-radius: 20px;
}

.btn-danger:hover,
.btn-danger.disabled:hover,
.btn-danger:focus,
.btn-danger.disabled:focus,
.btn-danger.focus,
.btn-danger.disabled.focus {
    background: #ff7676!important;
    opacity: 0.8!important;
    border: 1px solid #ff7676!important;
}

.btn-default,
.btn-default.disabled {
    background: #e4e7ea!important;
    border: 1px solid #e4e7ea!important;
}

.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger.focus:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger.focus,
.btn-danger:focus {
    background-color: #ff7676!important;
    border: 1px solid #ff7676!important;
}

.card .card-img-small {
    width: 100px;
}

.row {
    width: 100%;
}

/*
    FIM DASHBOARD
*/






/*
    FORM
*/

.card-simple {
    background: white;
    padding: 15px;
    border: 1px solid gainsboro;
    border-radius: 0px;
    font-size: 12px;
    margin-bottom: 20px !important;
}

.p5 {
    padding: 5px !important;
}

.form-control {
    border-radius: 0px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    /*font-size: 1rem;*/
    font-size: 9pt;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /*    border-radius: .25rem;*/
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    box-shadow: none !important;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select {
    min-width: 220px !Important;
}

select.simple {
    min-width: 25% !important;
    font-weight: normal;
    font-size: 9pt;
    padding: 3.7px 7.5px;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type="radio"]:checked + label {
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    font-weight: normal;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="radio"] + label {
    padding-left: 26px !important;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 13px !important;    
}

/*[type="checkbox"] + label {
    padding-left: 26px !important;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 13px !important;  
}*/

[type="checkbox"] + label {
    position: relative;    
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-size: 13px; 
}

[type="radio"] + label, [type="checkbox"] + label {
    /*margin-right: 10px !Important;*/
    margin-bottom: 0px !important;
    padding-left: 20px;
    height: 20px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

[type="radio"]:checked + label:before {
    border: 2px solid transparent;
}
[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:before, [type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border-radius: 50%;
}
[type="radio"] + label:before, [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #26a69a;
    z-index: 0;
}

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
    border: 2px solid #5a5a5a;
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -2px;
    width: 11px;
    height: 19px;
}
[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 11px;
    height: 19px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    /*margin-top: 2px;*/
    transition: .2s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

.form-group .form-line.primary input, .form-group .form-line.primary *:not(input), input.primary {
    border-color: #42A5F5 !important;
    color: #42A5F5 !important;
}

.form-group .form-line.success input, .form-group .form-line.success *:not(input), .success, input.success {
    border-color: #66BB6A !important;
    color: #66BB6A !important;
}

.form-group .form-line.danger input, .form-group .form-line.danger *:not(input), .error, input.danger {
    border-color: #EF5350 !important;
    color: #EF5350 !important;
}

.form-group .form-line.warning input, .form-group .form-line.warning *:not(input), .warning, input.warning {
    border-color: #ffa726 !important;
    color: #ffa726 !important;
}

.form-group .form-line.info input, .form-group .form-line.info *:not(input), input.info {
    border-color: #29b6f6 !important;
    color: #29b6f6 !important;
}

small {
    font-size: 14px !important;
    font-style: italic !important;
    font-weight: 300;
}

code {
    color: #e83e8c !important;
}
code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
}
code, kbd, pre, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
code, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

.direita {
    text-align: right;
}

.centro {
    text-align: center;
}

.oculto {
    display: none;
}

.no-padding {
    padding: 0px !important;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

a:hover {
    text-decoration: none !important;
}

label {
    font-size: 11pt;
}

.m-left-20 {
    margin-left: 20px;
}

.m-top-15 {
    margin-top: 15px;
}

.p-left-10 {
    padding-left: 10px;
}

.p-left-20 {
    padding-left: 20px;
}

.p-right-10 {
    padding-right: 10px;
}

.p-right-20 {
    padding-right: 20px;
}

.p-top-15 {
    padding-top: 15px;
}

.p-bottom-0 {
    padding-bottom: 0px;
}

.alert {
    top: 90px !important;
    right: 10px !important;
}

[data-notify="progressbar"] {
    /*    z-index: 1050 !important;*/    
}

.negrito {
    font-weight: bold;
}

.separator-h-10 {
    margin: 10px 0px;
}

.separator-h-20 {
    margin: 20px 0px;
}

.separator-h-30 {
    margin: 30px 0px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-bottom-30 {
    margin-bottom: 30px;
}

.alert {
    z-index: 5000 !important;
}

.font-9 {
    font-size: 9pt !important;
}

.font-10 {
    font-size: 10pt !important;
}

.card-simple.no-margin, .no-margin {
    margin: 0px !important;
}

label.dotdotdot {
    display: inline-block !important;
    /*width:180px;*/
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.chosen-container {   
    max-width: 100%;
}

div.calendar {
    margin: 0px !important;
}

div.calendar div.calendar-table {
    padding: 0px !important;
}

div.calendar table.table-condensed {
    margin: 0px !important;
}

div.calendar table.table-condensed thead th, table.table-condensed tbody td {
    max-width: 30px !important;
    text-align: center !important;
    vertical-align: middle;
}

div.calendar table.table-condensed thead th.month select {
    max-width: 100% !important;
    min-width: 20% !important;
}

.btn-file {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-file, .btn-secondary {
    vertical-align: middle !important;
    font-size: 12pt !important;
    line-height: 12pt;
    padding: 8px 0px !important;
}

.btn-secondary, .btn-secondary:hover {
    color: #fff;
}

.btn-secondary {    
    background-color: #868e96 !important;
    border-color: #868e96 !important;
}

.btn-secondary:hover {    
    background-color: #727b84 !important;
    border-color: #6c757d !important;
}

.kv-fileinput-caption {
    font-size: 12pt;
    line-height: 12pt;
    vertical-align: middle;
    padding: 7px 0px;
}

.file-caption.icon-visible .file-caption-name {
    padding-left: 22px !important;
}

.kv-fileinput-caption {
    padding-left: 7px !important;
}

dt.legend {
    padding: 0px 5px;
}

dl.legend {
    width: 150px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px 15px;
    text-align: left;
    margin-bottom: 0px;
}

dt.legend, dd.legend {
    display: inline;
}

.pull-left {
    float: left;
}

.m-bottom-15 {
    margin-bottom: 15px;
}

.btn.m-bottom-10 {
    margin-bottom: 10px !important;
}

.chosen-container.chosen-container-single {
    width: 100% !important;
}

.m-top-0 {
    margin-top: 0px;
}

.m-top-20 {
    margin-top: 20px;
}

.modal-footer .m-left-20 {    
    margin-left: 20px !important;
}

.modal-footer .m-bottom-0 {    
    margin-bottom: 0px;
}

.p-top-10 {
    padding-top: 10px;
}

.p-right-0 {
    padding-right: 0px;
}

.card-info.p-top-10 {
    padding-top: 10px !important;
}

.card-info.p-right-0 {
    padding-right: 0px;
}
/*
.card-info.no-margin {
    margin: 0px !important;
}*/

.card-title.p-top-0 {
    padding-top: 0px;
}

.card-text.p-top-0 {
    padding-top: 0px !important; 
}

.card-title.m-bottom-10 {
    margin-bottom: 10px !important; 
}

.er-text .dotdotdot {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.2em; 
    white-space: nowrap;
}

.p-left-0 {
    padding-left: 0px;
}

.card-content.p-left-0 {
    padding-left: 0px;
}

textarea {
    resize: none;
}

.v-align-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 21px !important;
}

.m-left-10 {
    margin-left: 10px;
}

.m-right-20 {
    margin-right: 20px;
}