/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2017, 10:53:24
    Author     : jrodolfo
*/

.centro {
    text-align: center;
}

.direita {
    text-align: right;
}

.esquerda {
    text-align: left;
}

.no-padding {
    padding: 0px;
}

.oculto {
    display: none;
}

.cadastro-novo {
    color: #a94442;
}

.cadastro-existente {
    color: #3c763d;
}

.date-footer label {
    width: 100%;
}

.col-left {
    margin-right: 10px;
}

.col-right {
    margin-left: 10px;
}

.negrito {
    font-weight: bold;
}

.italico {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

.red {
    color: red;
}

.black {
    color: black;
}

.titulo-categoria {
    font-size: 14pt;
    font-weight: bold;
    /*color: black;*/
}

table tbody td a:hover {
    text-decoration: none;
}

section.loading {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background: rgba(255, 255, 255, 0.75) url('../../images/loading.gif') no-repeat scroll center center;
}

section.main header#detalhes_competencia {    
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;    
}

section.main header#detalhes_competencia table {
    width: 100%;    
}

section.main header#detalhes_competencia table thead {    
    background: #fccf33;
    border-bottom: 2px solid #031f14;
}

section.main header#detalhes_competencia table thead th {
    font-size: 11pt;
    line-height: 11pt;    
}

section.main header#detalhes_competencia table thead th a:hover {
    color: black;
}

section.main header#detalhes_competencia table thead th,
section.main header#detalhes_competencia table tbody td {
    padding: 10px 5px; 
}

section.main header#detalhes_competencia table tbody {
    padding: 5px 0px;
    background: #E6E6E6;
}

section.main header#detalhes_competencia table tbody td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

section.main header .checkbox {
    width: 100%;
}

section.main {
    float: right;
    width: calc(100% - 300px);
    overflow-x: hidden;
}

section.main header.menu-horizontal-main {
    /*background: #E6E6E6;*/
    margin-top: 20px;
    padding: 0px 15px;
}

section.main header.menu-horizontal-main ul {
    list-style: none;    
    padding: 5px 0px;
}

table {
    width: calc(100% - 50px);    
}

section.main section {
    padding: 20px 0px;
}

aside.menu-lateral,
aside.menu-lateral nav ul#links li.footer {
    width: 300px;
    max-width: 300px;    
}

aside.menu-lateral {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100%;    
    background: #0d3a29;
    border-right: 2px solid #031f14;
}

aside.menu-lateral header.container-logo {
    text-align: center;
    /*padding: 20px 50px;*/
    background: white url('../../images/logo_meio.png') no-repeat scroll 20px 7px;
    height: 100px;
}

aside.menu-lateral header.container-logo img {
    width: 100%;
}

aside.menu-lateral header.container-logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

aside.menu-lateral nav ul#links {       
    padding: 0px;
}

aside.menu-lateral nav ul#links li a {
    padding: 10px 20px;
    width: 100%;
    display: inline-block;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

aside.menu-lateral nav ul#links li a:hover {     
    color: #031f14;
    background: #f1bf34;
    font-weight: bold;
}

aside.menu-lateral nav ul#links li ul.sub-menu {
    display: none;
    background: #082c1e;
}

aside.menu-lateral nav ul#links li a.selected {
    background: #4d7264;
    color: white;
}

aside.menu-lateral nav ul#links li a i.icon {
    margin-top: 3px;
    margin-right: 10px;
}

aside.menu-lateral nav ul#links li ul.sub-menu li {
    margin-bottom: 0px;    
}

aside.menu-lateral nav ul#links li ul.sub-menu li a {
    /*padding-left: 35px;*/
}

aside.menu-lateral nav ul#links li:nth-last-child(2) {
    margin-bottom: 40px;
}

aside.menu-lateral nav ul#links li.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    background: #031f14;
    text-align: center;
}



@media screen and (max-width: 630px) {
    aside.menu-lateral,
    aside.menu-lateral nav ul#links li.footer {
        width: 50px;
    }

    aside.menu-lateral nav ul#links li.footer a {
        padding-left: 14px;
    }

    section.main {
        width: calc(100% - 50px);    
    }

    aside.menu-lateral header.container-logo {
        padding: 0px;
        background: white url('../../images/logo.ico') no-repeat scroll 4px 7px;
        background-size: 40px 40px;
        height: 55px;
    }

    aside.menu-lateral nav ul#links li a span {
        display: none;
    }
}