{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    {#<script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/fiscal/notas_fiscais_geracao.js') }}" ></script>#}

    <script>
        $(document).ready(function (e) {
            $('#competencia').change(function () {
                var url = $(this).find(':selected').data('url');                
                window.location.href = url;
            });
            
            var searchString = '';
            $('table.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for nota in notas %}
            {% set competencia = nota.Competencia %}
            {% set nome = nota.getNome() %}
            {% set tipoPessoa = nota.getTipoPessoa() %}
                            var opcoes = '<a href="#" data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_nao_geradas_item_nota', { boletoId: nota.BoletoId }) }}" data-refresh="false" data-title="Visualizar Itens da Cobrança" title="Visualizar Itens da Cobrança" class="ajax col-separator"><i class="icon fa fa-eye" aria-hidden="true"></i></a>';
                            opcoes += '<a href="#" data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_verificadas_verificacao_nota', { notaId: nota.Id }) }}" data-title="Verificar Nota Fiscal SVA para à Nota Emitida" title="Verificar Nota Fiscal SVA para à Nota Emitida" class="ajax col-separator"><i class="icon fa fa-sticky-note" aria-hidden="true"></i></a>';

                            var columns = [];
                            columns.push('<div class="centro">{{nota.Id}}</div>');
                            columns.push('{{nome|capitalize}}');
                            columns.push('<div class="centro">{{tipoPessoa|capitalize}}</div>');
                            columns.push('<div class="centro">{{nota.DataEmissao|date("d/m/Y")}}</div>');
                            columns.push('<div>R$ {{nota.ValorNota|number_format(2, '.', ',')}}</div>');                            
                            columns.push('<div class="centro">{{nota.BoletoId}}</div>');
                            columns.push('<div class="centro">{{nota.getVencimento|date("d/m/Y")}}</div>');
                            columns.push('<div class="centro">{{competencia.Mes ~ '/' ~ competencia.Ano}}</div>');
                            columns.push('<div class="direita">' + opcoes + '</div>');

                            if (columns.filter(filter).length !== 0) {
                                rows.push(columns);
                            }
        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);

                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }

                $('body').on('click', '.ajax', function (e) {
                    e.preventDefault();

                    var title = $(this).data('title');
                    var url = $(this).data('url');
                    var refresh = $(this).data('refresh');

                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (response, textStatus, jqXHR) {
                            var dialog = bootbox.dialog({
                                title: title,
                                message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                                //size: 'large',
                                onEscape: function () {
                                    // you can do anything here you want when the user dismisses dialog
                                    console.log("Fechando");
                                    if (refresh !== false) {
                                        location.reload();
                                    }
                                }
                            });

                            dialog.init(function () {
                                setTimeout(function () {
                                    dialog.find('.bootbox-body').html(response);
                                }, 3000);
                            });

                            $('.modal-dialog').css('width:1000px !important');
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });
            });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Notas Fiscais SVA não verificadas
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">              
                <a href="javascript:void(0);" class="ajax btn btn-primary m-left-20" data-title='Verificação de Notas Fiscais SVA'
                   data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_verificadas_verificacao') }}">
                    Verificar Notas
                </a>   
            </div>
            <div style="clear: both;"></div>            
        </div>        
    </div>

    <div class="card-simple overflow"> 
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Cód. Nota</th>
                    <th>Cliente</th>
                    <th>Tipo</th>
                    <th>Data Emissão</th>
                    <th>Valor</th>
                    <th class='centro'>Cód. Fatura</th>
                    <th>Vencimento</th>
                    <th>Competência</th>
                    <th class='centro'>Opções</th>
                </tr>
            </thead>
        </table>
    </div>
    {#<header>
        <nav id='topo_menu_opcoes' class='col-lg-12 col-sm-12 col-md-12 col-xs-12'>
            <ul class='links-inline col-lg-6 col-sm-6 col-md-6 col-xs-12'>
                <li>
                    <input type='text' class='form-control' name='dataEmissao' id='dataEmissao' placeholder='Data de Emissão' />
                </li>
                <li>
                    <select id='tipoGeracao' class='form-control' name='tipoGeracao' placeholder='Tipo da Geração'>                        
                        <option value='ambos'>Ambos</option>
                        <option value='fisica'>Física</option>
                        <option value='juridica'>Jurídica</option>
                    </select> 
                </li>
                <li>
                    <a  id='gerar_nota' class='btn btn-primary'
                        href="{{ path('ima_telecom_admin_fiscal_geracao_notas_fiscais_gerar_nota_por_competencia', {competenciaId: competencia.Id }) }}" >
                        Gerar Notas
                    </a>
                </li>
            </ul>

            <div class='col-lg-6 col-sm-6 col-md-6 col-xs-12'>
                <div class="form-group">
                    <label for='selecionar_competencia' class='direita col-sm-8 control-label'>Competência</label>
                    <div class="no-padding col-sm-4">
                        <select id='selecionar_competencia' class='form-control'>
                            {% for comp in competencias %}
                                <option {% if comp.Id == competencia.Id %} selected {% endif %}
                                                                           value="{{ path('ima_telecom_admin_fiscal_geracao_notas_fiscais_por_competencia', {competenciaId: comp.Id}) }}">
                                    {{ comp.Mes ~ '/' ~ comp.Ano }}
                                </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <table class='table'>
                        <thead>
                            <tr>
                                <th class='centro'>Cód. Fatura</th>
                                <th>Cliente</th>
                                <th>Tipo</th>
                                <th>Vencimento</th>
                                <th>Valor</th>
                                <th>Competência</th>
                                <th class='centro'>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for nota in notas %}
                                {% set competencia = nota.Competencia %}
                                {% set nome = nota.getNome() %}
                                {% set tipoPessoa = nota.getTipoPessoa() %}

                                <tr class='linha'>
                                    <td class='centro'>{{nota.Idboleto}}</td>
                                    <td>{{nome|capitalize}}</td>
                                    <td>{{tipoPessoa|capitalize}}</td>
                                    <td>{{nota.Vencimento|date("d/m/Y")}}</td>
                                    <td>R$ {{nota.Valor|number_format(2, '.', ',')}}</td>  
                                    <td class='centro'>{{competencia.Mes ~ '/' ~ competencia.Mes}}</td>
                                    <td class='direita'>
                                        <a href="#" data-url="{{path('ima_telecom_admin_fiscal_geracao_notas_fiscais_item_nota', { boletoId: nota.Idboleto })}}"
                                           title="Visualizar Itens" class='visualizar-item-nota'>
                                            <i class="icon fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_fiscal_geracao_notas_fiscais_geracao_nota', { boletoId: nota.Idboleto })}}"
                                           title='Gerar Nota'  class='col-right open-popup geracao-notas'>
                                            <i class="icon fa fa-sticky-note" aria-hidden="true"></i>                                             
                                        </a>                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </section>#}

{% endblock %}