{#<script src="{{ asset('bundles/imatelecom/js/fiscal/notas_fiscais.js') }}" ></script>#}

{#<table class='table'>
    <thead>
        <tr>
            <th class='centro'>Cód. Nota</th>
            <th>Cliente</th>
            <th>Nº Nota</th>
            <th>Situação</th>
            <th>Emissão</th>
            <th>Valor</th>
            <th>Competência</th>
            <th class='centro'>Opções</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
            {% set competencia = nota.Competencia %}
            {% set nome = nota.getNome() %}
            {% set cliente = nota.getClienteId() %}   

            <tr class='linha'>
                <td class='centro'>{{nota.Id}}</td>
                <td>{{nome}}</td>
                <td>{{nota.NumeroNotaFiscal}}</td>
                <td>{{nota.Situacao|capitalize}}</td>
                <td>{{nota.DataEmissao|date("d/m/Y")}}</td>
                <td>R$ {{nota.ValorNota|number_format(2, '.', ',')}}</td>  
                <td class='centro'>{{competencia.Mes ~ '/' ~ competencia.Ano}}</td>
                <td class='direita'>
                    <a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_visualizar_nota', {clienteId: cliente, notaFiscalId: nota.Id})}}" target='_blank'
                       title='Visualizar Nota Fiscal'>
                        <i class="icon fa fa-file-pdf-o" aria-hidden="true"></i>                                             
                    </a>
                    {% if competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'normal' and nota.UltimaNotaGerada %}
                        <a href="{{path('ima_telecom_admin_fiscal_notas_fiscais_geradas_cancelamento_nota_cancelar', {notaId: nota.Id})}}" 
                           title='Cancelar Nota Fiscal' class="cancelar-nota-fiscal col-right">
                            <i class="icon fa fa-ban" aria-hidden="true"></i>                                             
                        </a>
                    {% elseif competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'cancelada' and nota.UltimaNotaGerada %}
                        <a href="{{path('ima_telecom_admin_fiscal_geracao_notas_fiscais_geracao_nota_gerar_nota', {cobrancaId: nota.BoletoId})}}" 
                           title='Regerar Nota Fiscal' class="regerar-nota-fiscal col-right">
                            <i class="icon fa fa-sticky-note" aria-hidden="true"></i>                                             
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>#}

<script>
    $(document).ready(function (e) {
        console.log("OI");
        $('body').confirmation({
            selector: '[data-toggle="confirmation"]'
        });

        var searchString = '';
        $('table#notas-fiscais-geradas').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            },
            ordering: false,
            searchable: true,
            responsive: false,
            processing: false,
            serverSide: true,
            deferRender: true,
            ajax: function (data, callback, settings) {
                searchString = data.search.value;
                var rows = [];
                var out = [];

    {% for nota in notas %}
        {% set competencia = nota.Competencia %}
        {% set nome = nota.getNome() %}
        {% set cliente = nota.getClienteId() %} 

                        var opcoes = '';
                        
                        {% if competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'aprovada' %}
                            opcoes += '<a href="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_visualizar_nota_sva', {clienteId: cliente, notaFiscalId: nota.Id}) }}" target="_blank" title="Visualizar Nota Fiscal PDF" class="col-separator"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>';
                        {% elseif  competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'reprovada' %}
                            opcoes += '<a href="#" data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_geradas_geracao_nota', { cobrancaId: nota.BoletoId }) }}" data-title="Reemitir Nota Fiscal SVA" title="Reemitir Nota Fiscal SVA" class="ajax col-separator"><i class="icon fa fa-sticky-note" aria-hidden="true"></i></a>';
                        {% endif %}
                        
        {% if competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'normal' and nota.UltimaNotaGerada %}
                        opcoes += '<a data-toggle="confirmation" data-placement="top" data-title="Você têm certeza que deseja cancelar esta nota?" data-btn-ok-label="Sim" data-btn-cancel-label="Nãão" href="#" data-url="{{path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_geradas_cancelamento_nota_cancelar_nota', {notaId: nota.Id})}}" class="confirmation col-separator" title="Cancelar Nota Fiscal" ><i class="icon fa fa-ban" aria-hidden="true"></i></a>';
            {#<a href="{{path('ima_telecom_admin_fiscal_notas_fiscais_geradas_cancelamento_nota_cancelar', {notaId: nota.Id})}}" 
               title='Cancelar Nota Fiscal' class="cancelar-nota-fiscal col-right">
                <i class="icon fa fa-ban" aria-hidden="true"></i>                                             
            </a>#}
        {#{% elseif competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'cancelada' and nota.UltimaNotaGerada %}
                        opcoes += '<a data-title="Regerando Nota Fiscal" href="#" data-url="{{path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_nao_geradas_geracao_nota', {cobrancaId: nota.BoletoId})}}" data-refresh="true" class="ajax col-separator" title="Regerar Nota Fiscal" ><i class="icon fa fa-sticky-note" aria-hidden="true"></i></a>';#}
            {#<a href="{{path('ima_telecom_admin_fiscal_geracao_notas_fiscais_geracao_nota_gerar_nota', {cobrancaId: nota.BoletoId})}}" 
               title='Regerar Nota Fiscal' class="regerar-nota-fiscal col-right">
                <i class="icon fa fa-sticky-note" aria-hidden="true"></i>                                             
            </a>#}
        {% endif %}



                        var columns = [];
                        columns.push('<div class="centro">{{nota.Id}}</div>');
                        columns.push('{{nome|capitalize}}');
                        columns.push('<div class="centro">{{nota.NumeroNotaFiscal}}</div>');
                        columns.push('<div class="centro">{{nota.Situacao|capitalize}}</div>');
                        columns.push('<div class="centro">{{nota.DataEmissao|date("d/m/Y")}}</div>');
                        columns.push('<div class="centro">R$ {{nota.ValorNota|number_format(2, '.', ',')}}</div>');
                        columns.push('<div class="centro">{{competencia.Mes ~ '/' ~ competencia.Ano}}</div>');
                        columns.push('<div class="direita">' + opcoes + '</div>');

                        if (columns.filter(filter).length !== 0) {
                            rows.push(columns);
                        }
    {% endfor %}

                    var recordsTotal = rows.length;
                    for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                        if (i < rows.length) {
                            out.push(rows[i]);
                        }
                    }

                    setTimeout(function () {
                        callback({
                            draw: data.draw,
                            data: out,
                            recordsTotal: recordsTotal,
                            recordsFiltered: recordsTotal
                        });
                    }, 50);

                    return data;
                }
            });

            function filter(string) {
                return string.toLowerCase().includes(searchString.toLowerCase());
            }

            $('body').on('confirm.bs.confirmation', '.confirmation', function () {
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (response, textStatus, jqXHR) {
                        if (response.status) {
                            var encode = Base64.encode(response.mensagem);
                            encode = encode.replaceAll('=', '');
                            window.location.href = response.redirect_url + '#' + encode;                            
                            location.reload();
                        } else {
                            var erros = response.erros.join('<br/>');
                            mostrarNotificacao('Não foi possível executar esta ação!', erros);
                        }
                    },
                    error: function (request, textStatus, errorThrown) {
                        console.log(request, textStatus, errorThrown);
                        mostrarNotificacao('Não foi possível executar esta ação!', errorThrown);
                    }
                });
            });

            $('body').on('click', '.ajax', function (e) {
                e.preventDefault();

                var title = $(this).data('title');
                var url = $(this).data('url');
                var refresh = $(this).data('refresh');
                
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (response, textStatus, xhr) {
                        var dialog = bootbox.dialog({
                            title: title,
                            message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                            //size: 'large',
                            onEscape: function () {
                                    // you can do anything here you want when the user dismisses dialog
                                    console.log("Fechando");
                                    if (refresh !== false) {
                                        location.reload();
                                    }
                                }
                        });

                        dialog.init(function () {
                            setTimeout(function () {
                                dialog.find('.bootbox-body').html(response);
                            }, 3000);
                        });

                        $('.modal-dialog').css('width:1000px !important');
                    }
                });
            });
        });
</script>

<table id='notas-fiscais-geradas' class='table'>
    <thead>
        <tr>
            <th class='centro'>Cód. Nota</th>
            <th>Cliente</th>
            <th>Nº Nota</th>
            <th>Situação</th>
            <th>Emissão</th>
            <th>Valor</th>
            <th>Competência</th>
            <th class='centro'>Opções</th>
        </tr>
    </thead>
</table>