{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
    {#    <link href="{{ asset('bundles/imatelecom/css/admin/popup.css') }}" rel="stylesheet" />#}
    {#    <link href="{{ asset('bundles/imatelecom/css/fiscal/notas_fiscais_geradas.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    {#    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>#}
    {#    <script src="{{ asset('bundles/imatelecom/js/fiscal/notas_fiscais_geradas.js') }}" ></script>#}

    <script>
        $(document).ready(function (e) {
            $('#competencia').change(function () {
                var url = $(this).find(':selected').data('url');
                window.location.href = url;
            });

            $('body').on('click', '.download', function (e) {
                e.preventDefault();

                var url = $(this).data('url');
                var title = $(this).data('title');

                var notify = $.notify({
                    title: '<strong>' + title + '</strong><br/>',
                    message: 'Não feche esta página...'
                },
                        {
                            type: 'info',
                            allow_dismiss: false,
                            showProgressbar: true,
                            progress: '0',
                            delay: 300000 // 5 minutos
                        });

                setTimeout(function () {
                    notify.update('message', 'Verificando erros.');
                    downloadFile(notify, url);
                }, 2000);
            });

            function downloadFile(notify, url) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    beforeSend: function ()
                    {
                        notify.update('message', 'Acessando o servidor. Por favor, espere!!');
                    },
                    success: function (response, textStatus, jqXHR) {
                        setTimeout(function () {
                            notify.update('delay', '5000');
                            if (response.status === true) {
                                notify.update('type', 'success');
                            } else {
                                notify.update('type', 'danger');
                            }

                            notify.update('progress', '100');
                            notify.close();
                        }, 2500);

                        setTimeout(function () {
                            if (response.status === true) {
                                window.location.href = response.download_url;
                            } else if (response.status === false) {
                                mostrarNotificacao('Foi encontrado alguns erros!', response.erros.join('\n'));
                            }
                        }, 3000);
                    },
                    error: function (request, textStatus, errorThrown) {
                        notify.update('progress', '100');
                        notify.close();

                        console.log(request, textStatus, errorThrown);
                        mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                    }
                });
            }

            function mostrarMensagemDownload(mensagem) {
                $('#mensagem_alerta').text(mensagem);
                $('#container_alerta').removeClass('oculto');
                setTimeout(function () {
                    $('#container_alerta').addClass('oculto');
                }, 30000);
            }
        });
    </script>        
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Notas Fiscais Geradas {#-> <a href="{{host}}" target="_blank">aaa</a>#}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <select id='competencia' class='simple' placeholder="Competência" >                            
                    {% for competencia in competencias %}
                        <option data-url='{{ path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_geradas_por_competencia', {competenciaId: competencia.Id} ) }}' 
                                value='{{competencia.Id}}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                    {% endfor %}
                </select>                  
                <a href="javascript:void(0);" class="download btn btn-primary m-left-20" data-title='Download da Mídia Fiscal' 
                   data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_geradas_midia_fiscal_download_por_competencia', {competenciaId: competenciaAtual.Id }) }}">
                    Download Mídia
                </a>              
                <a href="javascript:void(0);" class="download btn btn-primary m-left-20" data-title='Download das Notas Fiscais PDF' target='_blank'
                   data-url="{{ path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_geradas_notas_fiscais_pdf_download_por_competencia', {competenciaId: competenciaAtual.Id }) }}">
                    Download PDF
                </a>   
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow"> 
        <div id='container_alerta' class='row oculto'>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Bem Feeito!</h4>
                <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
                <hr class='separator-h-10'>
                <p id='mensagem_alerta' class="mb-0"></p>
            </div>
        </div>

        {% include 'ImaTelecomBundle:Fiscal:notas-fiscais-scm.html.twig' with {'notas': notas} %}
    </div>

    {#<header>
        <nav id='topo_menu_opcoes' class='col-lg-12 col-sm-12 col-md-12 col-xs-12'>
            <ul class='links-inline col-lg-6 col-sm-6 col-md-6 col-xs-12'>
                <li>
                    <a href="{{ path('ima_telecom_admin_fiscal_notas_fiscais_geradas_midia_fiscal_download_por_competencia', {competenciaId: competenciaAtualHeader.Id }) }}" target='_blank'>
                        Download Mídia Fiscal
                    </a>
                </li>
                <li>
                    <a href="{{ path('ima_telecom_admin_fiscal_notas_fiscais_geradas_pdf_download_por_competencia', {competenciaId: competenciaAtualHeader.Id }) }}" target='_blank'>
                        Download das Notas Fiscais
                    </a>
                </li>
            </ul>

            <div class='col-lg-6 col-sm-6 col-md-6 col-xs-12'>
                <div class="form-group">
                    <label for='selecionar_competencia' class='direita col-sm-8 control-label'>Competência</label>
                    <div class="no-padding col-sm-4">
                        <select id='selecionar_competencia' class='form-control'>
                            {% for comp in competencias %}
                                <option {% if comp.Id == competencia.Id %} selected {% endif %}
                                                                           value="{{ path('ima_telecom_admin_fiscal_notas_fiscais_geradas_por_competencia', {competenciaId: comp.Id}) }}">
                                    {{ comp.Mes ~ '/' ~ comp.Ano }}
                                </option>
                            {% endfor %}
                        </select> 
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">          
                    <div id='container_notas_fiscais'>
                        {% include 'ImaTelecomBundle:Fiscal:notas-fiscais.html.twig' with {'notas': notas} %}
                    </div>
                    
                </div>
            </div>            
        </div>
    </section>#}

{% endblock %}