<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.chosen-select').chosen();
        
        moment.locale('pt-br'); // default the locale to Portuguese Brazil
        $('#dataEmissao').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
        
        $('body').on('reset', '#formulario_geracao_notas_fiscais', function () {
            bootbox.hideAll();
        });
        
        $('#formulario_geracao_notas_fiscais').submit(function (e) {
            e.preventDefault();
            
            $('#container_alerta_notas_fiscais_geracao').addClass('oculto');
            
            var url = $(this).attr('action');
            var type = $(this).attr('method');
            var notify = $.notify({
                title: '<strong>Gerando Notas Fiscais</strong><br/>',
                message: 'Não feche esta página...'
            },
                    {
                        type: 'info',
                        allow_dismiss: false,
                        showProgressbar: true,
                        progress: '0',
                        delay: 300000 // 5 minutos
                    });
            setTimeout(function () {
                notify.update('message', 'Verificando erros.');
                gerarNotasFiscais(notify, type, url);
            }, 2000);
        });
        
        function gerarNotasFiscais(notify, type, url) {
            var status = true;
            var data = $('#formulario_geracao_notas_fiscais').serialize();

            $.ajax({
                url: url,
                type: type,
                data: data,
                beforeSend: function ()
                {
                    notify.update('message', 'Acessando o servidor. Por favor, espere!!');
                },
                success: function (response, textStatus, jqXHR) {
                    console.log(response);
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        
                        if (response.status === true) {
                            notify.update('type', 'success');

                            mostrarMensagemNotasFiscaisGeracao('success', 'Bem Feeito!!', '', response.mensagem);
                        } else {
                            notify.update('type', 'danger');

                            mostrarMensagemNotasFiscaisGeracao('danger', 'Ops... Aconteceu algo de errado!',
                                    'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                    response.erros.join('\n'));
                        }

                        notify.update('progress', '100');
                        notify.close();
                    }, 2500);
                },
                error: function (request, textStatus, errorThrown) {
                    console.log(errorThrown);
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        notify.update('type', 'danger');
                        notify.update('progress', '100');
                        notify.close();
                    }, 2500);

                    setTimeout(function () {                        
                        mostrarMensagemNotasFiscaisGeracao('danger', 'Ops... Aconteceu algo de errado!',
                                    'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                    errorThrown);
                    }, 3000);
                }
            });
        }

        function mostrarMensagemNotasFiscaisGeracao(className, titulo, subtitulo, mensagem) {
            $('#alerta_status_notas_fiscais_geracao').attr('class', 'alert alert-' + className);
            $('#alerta_titulo_notas_fiscais_geracao').text(titulo);
            $('#alerta_subtitulo_notas_fiscais_geracao').text(subtitulo);
            $('#erros_alerta_notas_fiscais_geracao').html(mensagem);
            $('#container_alerta_notas_fiscais_geracao').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta_notas_fiscais_geracao').addClass('oculto');
            }, 60000);
        }
    });
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta_notas_fiscais_geracao' class='row oculto'>
        <div id='alerta_status_notas_fiscais_geracao' class="alert alert-danger" role="alert">
            <h4 id='alerta_titulo_notas_fiscais_geracao' class="alert-heading"></h4>
            <p id='alerta_subtitulo_notas_fiscais_geracao'></p>
            <hr class='separator-h-10'>
            <p id='erros_alerta_notas_fiscais_geracao' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_geracao_notas_fiscais' method='POST' action='{{ path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_nao_geradas_geracao_gerar') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Geração de Notas Fiscais</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gerar Notas' />
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <h4>Resumo da Competência Atual</h4>

                {#                <p>dadta da ultima emissao valores, numero da ultima nota.. sei la</p>#}
                <p>
                    A Última Nota Fiscal foi Emitida na data {{competenciaAtual.UltimaDataEmissao|date("d/m/Y")}}, o número da última nota fiscal emitida foi
                    <span class="negrito">{{competenciaAtual.NumeroNf}}</span> na
                    <span class="negrito">Competência {{competenciaAtual.Ano ~ '/' ~ competenciaAtual.Mes}}</span>, 
                    onde a mesma se encontra no
                    <span class="negrito">Período de {{competenciaAtual.PeriodoInicial|date("d/m/Y")}} à {{competenciaAtual.PeriodoFinal|date("d/m/Y")}}</span>.
                </p>
            </div>            
        </div>

        <div class='row'>
            <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10" title=''>
                    <label for="tipoPessoa" class='dotdotdot' title='Tipo Pessoa Geração'>
                        Tipo Pessoa Geração
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar as Notas Fiscais somente para o tipo especificado."></span>
                    </label>
                    <select id='tipoPessoa' class='width-100 chosen-select' name='tipoGeracao' placeholder="Tipo Pessoa Geração">
                        <option value='ambos'>Todos</option>
                        <option value='fisica'>Física</option>
                        <option value='juridica' selected>Jurídica</option>                        
                    </select>
                </div>
            </div>
            <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10" title=''>
                    <label for="competencia" class='dotdotdot' title='Competência'>
                        Competência
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar as Notas Fiscais que estão pendentes para a Competência selecionada."></span>
                    </label>                                                    

                    <select id='competencia' class='width-100 chosen-select' name='competencia' placeholder="Competência" >                            
                        {% for competencia in competencias %}
                            <option value='{{competencia.Id}}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div id="container_vencimento" class="form-group p-left-10">
                    <label for='dataEmissao' class='dotdotdot' title='Data de Emissão da Nota Fiscal'>Data de Emissão</label><br/>
                    <input class='width-100 form-control' id='dataEmissao' type="text" name="dataEmissao" placeholder="Data de Emissão da Nota Fiscal" value=''/>
                </div>
            </div>
        </div>
    </form>
</div>