<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.chosen-select').chosen();               
        
        $('body').on('reset', '#formulario_verificacao_notas_fiscais', function () {
            bootbox.hideAll();
        });
        
        $('#formulario_verificacao_notas_fiscais').submit(function (e) {
            e.preventDefault();
            
            $('#container_alerta_notas_fiscais_verificacao').addClass('oculto');
            
            var url = $(this).attr('action');
            var type = $(this).attr('method');
            var notify = $.notify({
                title: '<strong>Verificação Notas Fiscais</strong><br/>',
                message: 'Não feche esta página...'
            },
                    {
                        type: 'info',
                        allow_dismiss: false,
                        showProgressbar: true,
                        progress: '0',
                        delay: 300000 // 5 minutos
                    });
            setTimeout(function () {
                notify.update('message', 'Verificando erros.');
                gerarNotasFiscais(notify, type, url);
            }, 2000);
        });
        
        function gerarNotasFiscais(notify, type, url) {
            var status = true;
            var data = $('#formulario_verificacao_notas_fiscais').serialize();

            $.ajax({
                url: url,
                type: type,
                data: data,
                beforeSend: function ()
                {
                    notify.update('message', 'Acessando o servidor. Por favor, espere!!');
                },
                success: function (response, textStatus, jqXHR) {
                    var isDownloaded = typeof (response) === 'string';
                    
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        /*
                        if (response.status === true) {
                            notify.update('type', 'success');

                            mostrarMensagemNotasFiscaisVerificacao('success', 'Bem Feeito!!', '', response.mensagem);
                        } else {
                            notify.update('type', 'danger');

                            mostrarMensagemNotasFiscaisVerificacao('danger', 'Ops... Aconteceu algo de errado!',
                                    'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                    response.erros.join('\n'));
                        }*/
        
                        if (isDownloaded === false) {
                            if (response.status === true) {
                                notify.update('type', 'success');
                            } else {
                                notify.update('type', 'danger');
                            }
                        } else {
                            notify.update('type', 'success');
                            mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                        }

                        notify.update('progress', '100');
                        notify.close();

                        setTimeout(function () {
                            if (isDownloaded === false && response.status === false) {
                                alert(response.erros.join('\n'));
                            } else if (isDownloaded === true) {
                                DownloadFile(response, textStatus, jqXHR);
                            }
                        }, 3000);
                    }, 2500);
                },
                error: function (request, textStatus, errorThrown) {
                    console.log(errorThrown);
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        notify.update('type', 'danger');
                        notify.update('progress', '100');
                        notify.close();
                    }, 2500);

                    setTimeout(function () {                        
                        mostrarMensagemNotasFiscaisVerificacao('danger', 'Ops... Aconteceu algo de errado!',
                                    'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                    errorThrown);
                    }, 3000);
                }
            });
        }

        function mostrarMensagemNotasFiscaisVerificacao(className, titulo, subtitulo, mensagem) {
            $('#alerta_status_notas_fiscais_verificacao').attr('class', 'alert alert-' + className);
            $('#alerta_titulo_notas_fiscais_verificacao').text(titulo);
            $('#alerta_subtitulo_notas_fiscais_verificacao').text(subtitulo);
            $('#erros_alerta_notas_fiscais_verificacao').html(mensagem);
            $('#container_alerta_notas_fiscais_verificacao').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta_notas_fiscais_verificacao').addClass('oculto');
            }, 60000);
        }

        function mostrarMensagemDownload(mensagem) {
            $('#mensagem_alerta').text(mensagem);
            $('#container_alerta').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta').addClass('oculto');
            }, 30000);
        }
    });
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta_notas_fiscais_verificacao' class='row oculto'>
        <div id='alerta_status_notas_fiscais_verificacao' class="alert alert-danger" role="alert">
            <h4 id='alerta_titulo_notas_fiscais_verificacao' class="alert-heading"></h4>
            <p id='alerta_subtitulo_notas_fiscais_verificacao'></p>
            <hr class='separator-h-10'>
            <p id='erros_alerta_notas_fiscais_verificacao' class="mb-0"></p>
        </div>
    </div>
    
    <div id='container_alerta' class='row oculto'>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem Feeito!</h4>
            <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
            <hr class='separator-h-10'>
            <p id='mensagem_alerta' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_verificacao_notas_fiscais' method='POST' action='{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_verificadas_verificacao_verificar') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Verificação de Notas Fiscais SVA</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Verificar Notas' />
            </div>
        </div>

        <hr>

        {#<div class='row'>
            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <h4>Resumo da Competência Atual</h4>
                
                <p>
                    A Última Nota Fiscal foi Emitida na data {{competenciaAtual.UltimaDataEmissao|date("d/m/Y")}}, o número da última nota fiscal emitida foi
                    <span class="negrito">{{competenciaAtual.NumeroNf}}</span> na
                    <span class="negrito">Competência {{competenciaAtual.Ano ~ '/' ~ competenciaAtual.Mes}}</span>, 
                    onde a mesma se encontra no
                    <span class="negrito">Período de {{competenciaAtual.PeriodoInicial|date("d/m/Y")}} à {{competenciaAtual.PeriodoFinal|date("d/m/Y")}}</span>.
                </p>
            </div>            
        </div>#}

        <div class='row'>
            <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10" title=''>
                    <label for="tipoPessoa" class='dotdotdot' title='Tipo Pessoa Geração'>
                        Tipo Pessoa
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá verificar as Notas Fiscais somente para o tipo especificado."></span>
                    </label>
                    <select id='tipoPessoa' class='width-100 chosen-select' name='tipoGeracao' placeholder="Tipo Pessoa Geração">
                        <option value='ambos'>Todos</option>
                        <option value='fisica'>Física</option>
                        <option value='juridica' selected>Jurídica</option>                        
                    </select>
                </div>
            </div>
            <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10" title=''>
                    <label for="competencia" class='dotdotdot' title='Competência'>
                        Competência
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá verificar as Notas Fiscais que estão pendentes para a Competência selecionada."></span>
                    </label>                                                    

                    <select id='competencia' class='width-100 chosen-select' name='competencia' placeholder="Competência" >                            
                        {% for competencia in competencias %}
                            <option value='{{competencia.Id}}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>