<script>
    $(function () {
        moment.locale('pt-br'); // default the locale to Portuguese Brazil
        $('#dataEmissao').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('body').on('reset', '#formulario_geracao_notas_fiscais', function () {
            bootbox.hideAll();
        });

        $('#formulario_geracao_notas_fiscais').submit(function (e) {
            e.preventDefault();
            
            $('#container_alerta_notas_fiscais_geracao').addClass('oculto');
            
            var url = $(this).attr('action');
            var type = $(this).attr('method');
            var notify = $.notify({
                title: '<strong>Gerando Nota Fiscal</strong><br/>',
                message: 'Não feche esta página...'
            },
                    {
                        type: 'info',
                        allow_dismiss: false,
                        showProgressbar: true,
                        progress: '0',
                        delay: 60000 // 5 minutos
                    });
            setTimeout(function () {
                notify.update('message', 'Verificando erros.');
                gerarNotasFiscais(notify, type, url);
            }, 2000);
        });

        function gerarNotasFiscais(notify, type, url) {
            var status = true;
            var data = $('#formulario_geracao_notas_fiscais').serialize();

            $.ajax({
                url: url,
                type: type,
                data: data,
                beforeSend: function ()
                {
                    notify.update('message', 'Acessando o servidor. Por favor, espere!!');
                },
                success: function (response, textStatus, jqXHR) {
                    var isDownloaded = typeof (response) === 'string';
                    
                    setTimeout(function () {
                        notify.update('delay', '5000');

/*
                        if (response.status === true) {
                            notify.update('type', 'success');

                            mostrarMensagemNotasFiscaisGeracao('success', 'Bem Feeito!!', '', response.mensagem);
                        } else {
                            notify.update('type', 'danger');

                            mostrarMensagemNotasFiscaisGeracao('danger', 'Ops... Aconteceu algo de errado!',
                                    'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                    response.erros.join('\n'));
                        }*/
        
                        if (isDownloaded === false) {
                            if (response.status === true) {
                                notify.update('type', 'success');
                            } else {
                                notify.update('type', 'danger');
                            }
                        } else {
                            notify.update('type', 'success');
                            mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                        }

                        notify.update('progress', '100');
                        notify.close();

                        setTimeout(function () {
                            if (isDownloaded === false && response.status === false) {
                                alert(response.erros.join('\n'));
                            } else if (isDownloaded === true) {
                                DownloadFile(response, textStatus, jqXHR);
                            }
                        }, 3000);
                    }, 2500);
                },
                error: function (request, textStatus, errorThrown) {
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        notify.update('type', 'danger');
                        notify.update('progress', '100');
                        notify.close();
                    }, 2500);

                    setTimeout(function () {
                        mostrarMensagemNotasFiscaisGeracao('danger', 'Ops... Aconteceu algo de errado!',
                                    'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                    errorThrown);
                    }, 3000);
                }
            });
        }

        function mostrarMensagemNotasFiscaisGeracao(className, titulo, subtitulo, mensagem) {
            $('#alerta_status_notas_fiscais_geracao').attr('class', 'alert alert-' + className);
            $('#alerta_titulo_notas_fiscais_geracao').text(titulo);
            $('#alerta_subtitulo_notas_fiscais_geracao').text(subtitulo);
            $('#erros_alerta_notas_fiscais_geracao').html(mensagem);
            $('#container_alerta_notas_fiscais_geracao').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta_notas_fiscais_geracao').addClass('oculto');
            }, 60000);
        }

        function mostrarMensagemDownload(mensagem) {
            $('#mensagem_alerta').text(mensagem);
            $('#container_alerta').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta').addClass('oculto');
            }, 30000);
        }
    });
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta_notas_fiscais_geracao' class='row oculto'>
        <div id='alerta_status_notas_fiscais_geracao' class="alert alert-danger" role="alert">
            <h4 id='alerta_titulo_notas_fiscais_geracao' class="alert-heading"></h4>
            <p id='alerta_subtitulo_notas_fiscais_geracao'></p>
            <hr class='separator-h-10'>
            <p id='erros_alerta_notas_fiscais_geracao' class="mb-0"></p>
        </div>
    </div>
    
    <div id='container_alerta' class='row oculto'>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem Feeito!</h4>
            <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
            <hr class='separator-h-10'>
            <p id='mensagem_alerta' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_geracao_notas_fiscais' method='POST' action='{{ path('ima_telecom_admin_fiscal_notas_fiscais_sva_notas_nao_verificadas_verificacao_nota_verificar', {notaId: nota.Id}) }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Verificação da Nota Fiscal SVA</h4>                
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Verificar Nota' />
            </div>
        </div>

        <hr>

        {#<div class='row'>
            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <h4>Resumo da Competência Atual</h4>                
                <p>
                    A Última Nota Fiscal foi Emitida na data {{competencia.UltimaDataEmissao|date("d/m/Y")}}, o número da última nota fiscal emitida foi
                    <span class="negrito">{{competencia.NumeroNf}}</span> na
                    <span class="negrito">Competência {{competencia.Ano ~ '/' ~ competencia.Mes}}</span>, 
                    onde a mesma se encontra no
                    <span class="negrito">Período de {{competencia.PeriodoInicial|date("d/m/Y")}} à {{competencia.PeriodoFinal|date("d/m/Y")}}</span>.
                </p>
            </div>            
        </div>#}

        {#<div class='row'>
            <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                <div id="container_vencimento" class="form-group">
                    <label for='dataEmissao' class='dotdotdot' title='Data de Emissão da Nota Fiscal'>Data de Emissão</label><br/>
                    <input class='width-100 form-control' id='dataEmissao' type="text" name="dataEmissao" placeholder="Data de Emissão da Nota Fiscal" value=''/>
                </div>
            </div>
        </div>#}

        {% set boleto = nota.Boleto %}
        {% set cliente = boleto.Cliente %}        
        {% set pessoa = cliente.Pessoa %}
        <div class='row'>
            <h4>Dados do Cliente</h4>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Cliente'>Cliente</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.Nome}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Razão Social'>Razão Social</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.RazaoSocial}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Tipo Pessoa'>Tipo Pessoa</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.TipoPessoa|capitalize}}">                    
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='CPF/CNPJ'>CPF/CNPJ</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.CpfCnpj}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='RG'>RG</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.RgInscrest}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Data de Nascimento'>Data de Nascimento</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.DataNascimento|date('d/m/Y')}}">
                </div>
            </div>

            <h4>Endereço</h4>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Endereço'>Rua</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.Rua}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">                  
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Número'>Número</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.Num}}">
                </div>
            </div>           
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Bairro'>Bairro</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.Bairro}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='CEP'>CEP</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.Cep}}">
                </div>
            </div>

            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Complemento'>Complemento</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.Complemento}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
                    <input disabled type="text" class="form-control" value="{{pessoa.PontoReferencia}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">            
                {% set cidade = pessoa.Cidade %}
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Município'>Município</label>                    
                    <input disabled type="text" class="form-control" value="{{cidade.Municipio ~ '/' ~ cidade.Uf}}">                    
                </div>
            </div>
        </div>
    </form>
</div>