<div class="card-simple overflow no-margin p-bottom-0">
    <div class='row'>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">                        
            <h4>{{cobranca.Cliente.Pessoa.Nome}}</h4>
        </div>
    </div>

    <hr class="m-top-15 m-bottom-15">

    <div class='row'>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding m-bottom-15">
            <h4>Itens da Cobrança</h4>
        </div>

        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <table class='table no-margin'>
                <thead>
                    <tr>
                        <th class="centro">Código</th>
                        <th>Plano</th>
                        <th class="direita">Valor SCM</th>
                        <th class="direita">Valor SVA</th>
                        <th class="direita">Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set valorScm = 0.0 %}
                    {% set valorSva = 0.0 %}
                    {% set valorTotal = 0.0 %}
                    {% for item in cobranca.getBoletoItems()  %}
                        {% set valorScm = valorScm + item.BaseCalculoScm %}
                        {% set valorSva = valorSva + item.BaseCalculoSva %}
                        {% set valorTotal = valorTotal + item.Valor %}
                        <tr>
                            <td class="centro">{{item.ServicoClienteId}}</td>
                            <td>{{item.servicocliente.servicoprestado.nome}}</td>
                            <td class="direita">R$ {{item.BaseCalculoScm|number_format(2, '.', ',')}}</td>
                            <td class="direita">R$ {{item.BaseCalculoSva|number_format(2, '.', ',')}}</td>
                            <td class="direita">R$ {{item.Valor|number_format(2, '.', ',')}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" class="direita">Valor Total</th>
                        <th class="direita">R$ {{valorScm|number_format(2, '.', ',')}}</th>
                        <th class="direita">R$ {{valorSva|number_format(2, '.', ',')}}</th>
                        <th class="direita">R$ {{valorTotal|number_format(2, '.', ',')}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>        
    </div>
</div>