{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    {#    <link href="{{ asset('bundles/imatelecom/css/admin/popup.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    {#    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>#}
    {#    <script src="{{ asset('bundles/imatelecom/js/fiscal/sintegras.js') }}" ></script>    #}

    <script>
        $(document).ready(function (e) {            
            $('body').confirmation({
                selector: '[data-toggle="confirmation"]'
            });
            
            var searchString = '';
            $('table.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for sintegra in sintegras %}                                                                                                                   
                    var opcoes = '<a href="#" data-url="{{ path('ima_telecom_admin_fiscal_sintegras_download', {sintegraId: sintegra.id}) }}" data-title="Download do Arquivo Sintegra" title="Download do Arquivo Sintegra" class="download col-separator"><i class="icon fa fa-download" aria-hidden="true"></i></a>';

            {% if sintegra.CompetenciaId == competenciaAtualHeader.Id %}
                            opcoes += '<a href="#" data-url="{{ path('ima_telecom_admin_fiscal_sintegras_regerar_arquivo', {sintegraId: sintegra.id}) }}" data-title="Regerar arquivo Sintegra" data-refresh="true" title="Regerar arquivo Sintegra" class="regerar-arquivo col-separator"><i class="icon fa fa-recycle" aria-hidden="true"></i></a>';
                            opcoes += '<a data-toggle="confirmation" data-placement="top" data-title="Você têm certeza?" data-btn-ok-label="Sim" data-btn-cancel-label="Nãão" href="#" data-url="{{ path('ima_telecom_admin_fiscal_sintegras_excluir', {sintegraId: sintegra.id}) }}" data-title="Excluir arquivo Sintegra" data-refresh="true" title="Excluir arquivo Sintegra" class="confirmation-excluir col-separator"><i class="icon fa fa-trash-o" aria-hidden="true"></i></a>';
            {% endif %}


                            var columns = [];
                            columns.push('<div class="centro">{{sintegra.Id}}</div>');
                            columns.push('<div class="centro">{{sintegra.Competencia.Ano ~ '/' ~ sintegra.Competencia.Mes}}</div>');
                            columns.push('<div class="centro">{{sintegra.DataGeracao|date("d/m/Y")}}</div>');
                            var regeracao = '<div class="centro">';
            {% if sintegra.DataRegeracao is not null %}
                            regeracao += '{{sintegra.DataRegeracao|date("d/m/Y")}}';
            {% endif %}
                            regeracao += '</div>';
                            columns.push(regeracao);
                            columns.push('<div class="centro">{{sintegra.usuario.login}}</div>');
                            columns.push('<div class="direita">' + opcoes + '</div>');

                            if (columns.filter(filter).length !== 0) {
                                rows.push(columns);
                            }
        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);

                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }

                $('body').on('click', '.ajax', function (e) {
                    e.preventDefault();

                    var title = $(this).data('title');
                    var url = $(this).data('url');
                    var refresh = $(this).data('refresh');

                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (response, textStatus, jqXHR) {
                            var dialog = bootbox.dialog({
                                title: title,
                                message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                                //size: 'large',
                                onEscape: function () {
                                    // you can do anything here you want when the user dismisses dialog
                                    console.log("Fechando");
                                    if (refresh !== false) {
                                        location.reload();
                                    }
                                }
                            });

                            dialog.init(function () {
                                setTimeout(function () {
                                    dialog.find('.bootbox-body').html(response);
                                }, 3000);
                            });

                            $('.modal-dialog').css('width:1000px !important');
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });

                $('body').on('click', '.download', function (e) {
                    e.preventDefault();

                    var title = $(this).data('title');
                    var url = $(this).data('url');

                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {
                            var isDownloaded = DownloadFile(response, textStatus, jqXHR);
                            if (isDownloaded !== false) {
                                mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                            } else {
                                alert('Erro no servidor');
                            }
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });

                $('body').on('click', '.regerar-arquivo', function (e) {
                    e.preventDefault();

                    var title = $(this).data('title');
                    var url = $(this).data('url');

                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {
                            console.log(response);
                            if (response.status) {
                                window.location.href = response.redirect_url + '#' + Base64.encode(response.mensagem).slice(0, -1);
                                window.location.reload();
                            } else {
                                var erros = response.erros.join('<br/>');
                                mostrarNotificacao('Corrija os seguintes erros para poder prosseguir!', erros);
                            }
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });
                
                $('body').on('confirm.bs.confirmation', '.confirmation-excluir', function () {
                    var url = $(this).data('url');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {
                            if (response.status) {
                                var encode = Base64.encode(response.mensagem);
                                encode = encode.replaceAll('=', '');
                                window.location.href = response.redirect_url + '#' + encode;                                
                                location.reload();
                            } else {
                                var erros = response.erros.join('<br/>');
                                mostrarNotificacao('Não foi possível excluir!', erros);
                            }
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Não foi possível excluir!', errorThrown);
                        }
                    });
                });
                
                function mostrarMensagemDownload(mensagem) {
                    $('#mensagem_alerta').text(mensagem);
                    $('#container_alerta').removeClass('oculto');
                    setTimeout(function () {
                        $('#container_alerta').addClass('oculto');
                    }, 30000);
                }
            });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Arquivos Sintegras
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="javascript:void(0);" class="ajax btn btn-primary" data-title='Geração do Arquivo Sintegra'
                   data-url="{{ path('ima_telecom_admin_fiscal_sintegras_geracao') }}">
                    Gerar Arquivo
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow"> 
        <div id='container_alerta' class='row oculto'>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Bem Feeito!</h4>
                <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
                <hr class='separator-h-10'>
                <p id='mensagem_alerta' class="mb-0"></p>
            </div>
        </div>

        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th class='centro'>Competência</th>
                    <th class='centro'>Data de Geração</th>
                    <th class='centro'>Data de Regeração</th>
                    <th class='centro'>Usuário</th>
                    <th class='negrito centro'>Opções</th>
                </tr>
            </thead>
        </table>
    </div>

    {#<section>
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <div class="direita">  
                        <a href="javascript:void(0);" class="open-popup geracao-arquivo-sintegra" data-url="{{path('ima_telecom_admin_fiscal_sintegras_gerar_por_competencia')}}">
                            Gerar Arquivo
                        </a>
                    </div>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th class='negrito centro'>Código</th>
                                <th class='negrito centro'>Competência</th>
                                <th class='negrito centro'>Data de Geração</th>
                                <th class='negrito centro'>Data de Regeração</th>
                                <th class='negrito centro'>Usuário</th>
                                <th class='negrito centro'>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sintegra in sintegras %}
                                <tr>
                                    <td class='centro'>{{sintegra.Id}}</td>
                                    <td class='centro'>{{sintegra.Competencia.Ano ~ '/' ~ sintegra.Competencia.Mes}}</td>                                    
                                    <td class='centro'>{{sintegra.DataGeracao|date("d/m/Y")}}</td>
                                    <td class='centro'>
                                        {% if sintegra.DataRegeracao is not null %}
                                            {{sintegra.DataRegeracao|date("d/m/Y")}}
                                        {% endif %}
                                    </td>
                                    <td class='centro'>
                                        {{sintegra.usuario.login}}
                                    </td>
                                    <td class='centro'>
                                        <a href="{{path('ima_telecom_admin_fiscal_sintegras_download', {sintegraId: sintegra.id})}}" target="_blank"
                                           title='Download do arquivo Sintegra' class='col-left'>
                                            <i class="icon fa fa-download" aria-hidden="true"></i>                                             
                                        </a>
                                        {% if sintegra.CompetenciaId == competenciaAtualHeader.Id %}
                                            <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_fiscal_sintegras_regerar_arquivo', {sintegraId: sintegra.id})}}"
                                               title='Regerar arquivo Sintegra' class='regerar-arquivo-sintegra'>
                                                <i class="icon fa fa-recycle" aria-hidden="true"></i>                                             
                                            </a>
                                            <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_fiscal_sintegras_excluir', {sintegraId: sintegra.id})}}"
                                               title='Excluir arquivo Sintegra' class='col-right excluir-arquivo-sintegra'>
                                                <i class="icon fa fa-trash-o" aria-hidden="true"></i>                                             
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </section>#}

{% endblock %}