<script>
    $('.chosen-select').chosen();
    $('[data-toggle="tooltip"]').tooltip();

    $('body').on('reset', '#formulario_geracao_sintegras', function () {
        bootbox.hideAll();
    });

    $('#formulario_geracao_sintegras').submit(function (e) {
        e.preventDefault();

        $('#container_alerta').addClass('oculto');

        var url = $('#competencia').val();
        var type = $(this).attr('method');

        var notify = $.notify({
            title: '<strong>Gerando Arquivo Sintegra</strong><br/>',
            message: 'Não feche esta página...'
        }, {
            type: 'info',
            allow_dismiss: false,
            showProgressbar: true,
            progress: '0',
            delay: 60000 // 1 minuto
        });

        setTimeout(function () {
            notify.update('message', 'Verificando erros.');
            gerarArquivoSintegra(notify, type, url);
        }, 2000);
    });

    function gerarArquivoSintegra(notify, type, url) {
        $.ajax({
            url: url,
            type: type,
            beforeSend: function ()
            {
                notify.update('message', 'Acessando o servidor. Por favor, espere!!');
            },
            success: function (response, textStatus, jqXHR) {
                setTimeout(function () {
                    notify.update('delay', '5000');
                    console.log(response)
                    if (response.status === true) {
                        notify.update('type', 'success');

                        mostrarMensagem('success', 'Bem Feeito!!', '', response.mensagem);
                    } else {
                        notify.update('type', 'danger');

                        mostrarMensagem('danger', 'Ops... Aconteceu algo de errado!',
                                'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                response.erros.join('\n'));
                    }
                    notify.update('progress', '100');
                    notify.close();
                }, 2500);
            },
            error: function (request, textStatus, errorThrown) {
                setTimeout(function () {
                    notify.update('delay', '5000');
                    notify.update('type', 'danger');
                    notify.update('progress', '100');
                    notify.close();
                }, 2500);

                setTimeout(function () {
                    alert(errorThrown);
                }, 3000);
            }
        });
    }    
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta_popup' class='row oculto'>
        <div id='alerta_status_popup' class="alert alert-danger" role="alert">
            <h4 id='alerta_titulo_popup' class="alert-heading"></h4>
            <p id='alerta_subtitulo_popup'></p>
            <hr class='separator-h-10'>
            <p id='erros_alerta_popup' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_geracao_sintegras' method='POST' action=''>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Geração do Arquivo Sintegra</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gerar Arquivo' />
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group" title=''>
                    <label for="competencia" class='dotdotdot' title='Competência'>
                        Competência
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar o Arquivo do Sintegra para a Competência selecionada."></span>
                    </label>                                                    

                    <select id='competencia' class='width-100 chosen-select' name='competencia' placeholder="Competência" >                            
                        {% for competencia in competencias %}
                            <option value='{{ path('ima_telecom_admin_fiscal_sintegras_geracao_por_competencia', {competenciaId: competencia.Id}) }}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>