/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2017, 11:28:13
    Author     : jrodolfo
*/

.ui-widget-content {
    padding: 0px !important;
}

#cobrancas-lancamento {
    width: 100% !important;
}