/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/10/2017, 18:27:16
    Author     : jrodolfo
*/

/*form#formulario_pessoa div.no-padding {
    padding-right: 15px;
}

form#formulario_pessoa div.no-padding:last-child {
    padding-right: 0px;
}*/

form#formulario_pessoa div#container_cep {
    vertical-align: middle;
    width: 100%;
}

form#formulario_pessoa div#container_cep div.col-left {
    margin-right: 20px;
}

form#formulario_pessoa div#container_cep a#buscar_cep {
    margin-top: 24px;
    margin-bottom: 16px;
    width: 100%;
}

form#formulario_pessoa div#container_cidade {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

form#formulario_pessoa div#container_tipo_telefone {
    padding-right: 10px;
}

form#formulario_pessoa table tbody td.tipo-telefone {
    text-transform: capitalize;
}