/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/11/2017, 12:40:22
    Author     : jrodolfo
*/


table tbody td a:hover,
table tbody td a:focus {
    text-decoration: none;
}

table tbody td.selected {
    position: relative;
    z-index: 6;
    pointer-events: none;
    background: #fccf33;
    color: black;
}

table tbody td.selected a {
    color: black;
}