{% extends 'ImaTelecomBundle:AuthUser:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/imatelecom/css/auth/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/auth/login.js') }}" ></script>  
    <script src="{{ asset('bundles/imatelecom/js/ie.js') }}" ></script>    
    <script>
        var result = inscricaoEstadual('793893310', '');
        console.log(result);
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close">
                <span>&times;</span>
            </button>    
            <strong>Atenção!</strong> 
            {{ error.message }}
        </div>
    {% endif %}

    <section class="center">
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <img src="{{ asset('bundles/imatelecom/images/logo_meio.png') }}" alt="" title="" />
                </div>
            </div>
            <div class="row">
                <form name='formLogin' action="{{ path('ima_telecom_login_check') }}" method="post">
                    <h4 class="centro">Área Administrativa</h4>

                    <div class="form-group">                        
                        <label for="username">Usuário</label>
                        <input id="username" class="form-control" aria-describedby="usuarioHelp" placeholder="Usuário" type="text" name="_username" value="{{ last_username }}" required  autofocus />
                        <small id="usuarioHelp" class="form-text text-muted">Por favor, insira seu usuário do domínio.</small> 
                    </div>
                    <div class='form-group'>
                        <label for="password">Senha</label>
                        <input class="form-control" aria-describedby="senhaHelp" placeholder="Senha" type="password" name="_password" value="" required /> 
                        <small id="senhaHelp" class="form-text text-muted">Por favor, insira sua senha do domínio.</small> 
                    </div>

                    <div class="form-check">
                        <label class="form-check-label" for="remember_me">
                            <input type="checkbox" class="form-check-input" name="_remember_me" checked />
                            Manter-me logado
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary flt-right login">Login</button>            
                </form>
            </div>
        </div>
    </section>

{% endblock %}