<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block mobile %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <link rel="manifest" href="manifest.webmanifest">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="author" content="Censanet" />
        <meta name="description" content="Provedor de internet banda larga em Campos dos Goytacazes e São João da Barra, e serviços callcenter, colocation, interfonia, hospedagem, domínio, email, cameras aovivo" />
        <meta name="keywords" content="hospedagem dominio internet callcenter bandalarga interfonia karacol email cameras" />
        <link rel="shortcut icon" href="{{ asset('bundles/imatelecom/images/logo.ico') }}" type="image/x-icon" /> 
        <link rel="apple-touch-icon" href="{{ asset('bundles/imatelecom/images/logo.ico') }}" type="image/x-icon" /> 
        <title>{% block title %}Ima Telecom - Login{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="https://static.censanet.com.br/css/opensans-regular-webfont.css" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/reset.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/imatelecom/css/auth/moldura.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/imatelecom/js/jquery-1.12.3.min.js') }}" ></script>
            <script src="{{ asset('bundles/imatelecom/js/bootstrap.min.js') }}" ></script>                        
        {% endblock %}
    </head>
    <body>        
        {% block body %} {% endblock %}
        
        {#<footer>
            <div class="container-fluid">
                <div class="row" id="container-footer">                
                    <div class="col-lg-8 col-sm-8 col-xs-12 col-md-8 texto-rodape">
                        <div class="container-rodape-esquerdo">
                            <p class="esquerda">                      
                                Todos os direitos reservados.<br />
                                <span class="negrito">CENSANET</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-4 col-xs-12 col-md-4 direita texto-rodape">
                        <a class="container-logo-rodape" href="{{url('default_homepage')}}" title="Censanet">
                            <img src="{{asset('bundles/default/images/censanet_logo_suporte_rodape.png')}}" alt="Censanet" title="Censanet" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>#}
    </body>    
</html>