<table class='table'>
    <thead>
        <tr>
            <th>Selecionado</th>
            <th class='negrito centro'>Cód. Boleto</th>
            <th class='negrito'>Vencimento</th>
            <th class='negrito'>Valor</th>
            <th class='negrito'>Competência</th>                    
            <th class='negrito'>Data de Pagamento</th>
        </tr>
    </thead>
    <tbody>
        {% for cobranca in cobrancas %}
            <tr>
                <td class='centro'>
                    <div class="radio">                                                
                        <input id='cobranca_{{cobranca.Idboleto}}' title='Selecionar Cobrança'
                               class='cobranca' type="checkbox" name='cobranca' value='{{cobranca.Idboleto}}'>
                        <label for='cobranca_{{cobranca.Idboleto}}'></label>
                    </div>
                </td>
                <td class='centro'>{{cobranca.Idboleto}}</div></td>
                <td class='centro'>{{cobranca.Vencimento|date('d/m/Y')}}</td>
                <td class='centro'>{{cobranca.Valor|number_format(2, ',', '.')}}</td>
                <td class='centro'>{{cobranca.Competencia.Ano ~ '/' ~ cobranca.Competencia.Mes}}</td>
                <td class='centro'>
                    {% if cobranca.EstaPago == 1 %}
                        {{cobranca.DataPagamento|date('d/m/Y')}}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>