<script>
    $(document).ready(function () {
        $('#motivoCancelamento').chosen();

        moment.locale('pt-br'); // default the locale to Portuguese Brazil
        $('#dataCancelamento').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        $('body').on('reset', '#formulario_cancelamento_cliente', function (e) {
            bootbox.hideAll();
        });

        $('body').on('submit', '#formulario_cancelamento_cliente', function (e) {
            e.preventDefault();

            let url = $(this).attr('action');
            let type = $(this).attr('method');
            let data = $(this).serializeArray();

            $.ajax({
                url: url,
                type: type,
                data: data,
                success: function (response, textStatus, jqXHR) {
                    if (response.status) {
                        mostrarMensagem('success', 'Bem Feeito!!', '', response.mensagem);
                        AtualizarDadosPessoais();
                    } else {
                        mostrarMensagem('danger', 'Ops... Aconteceu algo de errado!',
                                'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                response.erros.join('\n'));
                    }
                },
                error: function (request, textStatus, errorThrown) {
                    console.log(request, textStatus, errorThrown);
                    mostrarMensagem('danger', 'Ops... Aconteceu algo de errado!',
                            'Por favor, verifique os erros ocorridos que foram listados abaixo.', errorThrown);
                }
            });
        });
    });
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta_popup' class='row oculto'>
        <div id='alerta_status_popup' class="alert alert-danger" role="alert">
            <h4 id='alerta_titulo_popup' class="alert-heading"></h4>
            <p id='alerta_subtitulo_popup'></p>
            <hr class='separator-h-10'>
            <p id='erros_alerta_popup' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_cancelamento_cliente' method='POST' action='{{ path('ima_telecom_admin_administrativo_clientes_cliente_cancelamento_cliente_cancelar', {clienteId: cliente.Idcliente}) }}'>
        <div class='row'>
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
                <h4>Cancelar {{ cliente.Pessoa.Nome }}</h4>
            </div>

            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 no-padding">                
                <div class="form-group p-right-10">
                    <label for='dataCancelamento' class='dotdotdot' title='Data do Cancelamento'>Data do Cancelamento</label>
                    <input id="dataCancelamento" name="dataCancelamento" type="text" class="form-control" placeholder="Data do Cancelamento">
                </div>
            </div>

            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">                  
                <div class="form-group p-right-10">
                    <label for='motivoCancelamento' class='dotdotdot' title='Motivo de Cancelamento'>Motivo de Cancelamento</label>
                    <select id='motivoCancelamento' class='width-100' name='motivoCancelamento' placeholder="Escolha um Motivo">  
                        {% for motivo in motivos %}
                            <option value="{{motivo.Idmotivo}}">{{motivo.Nome}}</option>                                
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="direita col-sm-5 col-lg-5 col-md-5 col-xs-5 no-padding m-top-30">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Confirmar Cancelamento' />
            </div>
        </div>
    </form>
</div>