<link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
<script src="{{ asset('bundles/imatelecom/js/jquery.mask.min.js') }}" ></script> 
<script src="{{ asset('bundles/imatelecom/js/administrativo/clientes-cliente-servicos-servico.js') }}" ></script>

{% set servicoId = 0 %}
{% if servico.IdservicoCliente is not null %} 
    {% set servicoId = servico.IdservicoCliente %}
{% endif %}
{% set enderecoServico = servico.Endereco %}
{% set contrato = servico.Contrato %}
{% set servicoPrestado = servico.ServicoPrestado %}
{% set plano = servicoPrestado.getPlano %}

<div class="card-simple overflow no-margin p-bottom-0">
    <div class='row oculto container_alerta_servico'>
        <div class="alert alert-danger alerta_status_servico" role="alert">
            <h4 class="alert-heading alerta_titulo_servico"></h4>
            <p class='alerta_subtitulo_servico'></p>
            <hr class='separator-h-10'>
            <p class="mb-0 erros_alerta_servico"></p>
        </div>
    </div>

    <form id='formulario_servico' onReset="bootbox.hideAll();
            return true;" onSubmit="salvarServico(this);
                    return false;" method='POST' action='{{path('ima_telecom_admin_administrativo_clientes_cliente_servicos_servico_salvar', {clienteId: servico.clienteId, servicoId: servicoId})}}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Cadastro do Serviço</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Salvar' />
            </div>
        </div>

        <hr>

        <ul class="nav nav-tabs" id="container_servico_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="servico-tab" data-toggle="tab" href="#servico" role="tab" aria-controls="servico" aria-selected="true">Serviço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="endereco-servico-tab" data-toggle="tab" href="#endereco-servico" role="tab" aria-controls="endereco-servico" aria-selected="true">Endereço do Serviço</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contrato-tab" data-toggle="tab" href="#contrato" role="tab" aria-controls="contrato" aria-selected="false">Contrato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="dados-cobranca-tab" data-toggle="tab" href="#dados-cobranca" role="tab" aria-controls="dados-cobranca" aria-selected="false">Dados para Cobrança</a>
            </li>
        </ul>
        <div class="tab-content" id="servicoTabContent">
            <div class="tab-pane fade active" id="servico" role="tabpanel" aria-labelledby="servico-tab"> 
                <div class='row p-top-15'>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">                  
                        <div class="form-group p-right-10">
                            <label for='servicoPrestadoId' class='dotdotdot' title='Serviço'>Serviço</label>
                            <select id='servicoPrestadoId' class='width-100 chosen-select-servico' name='servicoPrestadoId' placeholder="Escolha um Serviço">  
                                {% for serv in servicos %}
                                    <option value="{{serv.IdservicoPrestado}}" data-url="{{path('ima_telecom_admin_administrativo_servicos_servico_por_id', {servicoId: serv.IdservicoPrestado})}}"
                                            {% if serv.IdservicoPrestado == servico.ServicoPrestado.IdservicoPrestado %} selected {% endif %}>{{serv.Nome}}</option>                                
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-left-10 p-right-10">
                            <label for='codCesta' class='dotdotdot' title='Código da Cesta'>Cód. Cesta</label>
                            <input id='codCesta' name='codCesta' type="text" class="form-control" placeholder="Código da Cesta" value="{{servico.CodCesta}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-left-10 p-right-10">
                            <label for='importId' class='dotdotdot' title='Código de Importação'>Cód. Importação</label>
                            <input id='importId' name='importId' type="text" class="form-control" placeholder="Código de Importação" value="{{servico.ImportId}}">
                        </div>
                    </div>

                    <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
                        <div class="form-group p-left-10">
                            <label for='periodoReferencia' class='dotdotdot' title='Período de Referência'>Período de Referência</label>                                    
                            <select id='periodoReferencia' class="chosen-select-servico" name="periodoReferencia" data-placeholder="Escolha um tipo de referência">
                                <option value="anterior" {% if servico.TipoPeriodoReferencia == 'anterior' %} selected {% endif %}>Anterior</option>
                                <option value="corrente" {% if servico.TipoPeriodoReferencia == 'corrente' %} selected {% endif %}>Corrente</option>
                                <option value="posterior" {% if servico.TipoPeriodoReferencia == 'posterior' %} selected {% endif %}>Posterior</option>
                            </select>
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-right-10">
                            <label for='dataContratado' class='dotdotdot' title='Data do Contrato'>Data do Contrato</label>
                            <input {% if servico.IdservicoCliente is not null %} disabled="true" {% endif %} id="dataContratado" name="dataContratado" type="text" class="form-control" placeholder="Data do Contrato" value="{{servico.DataContratado|date('d/m/Y')}}">
                        </div>
                    </div>

                    {% if servico.IdservicoCliente is not null %}
                        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                            <div class="form-group p-left-10 p-right-10 no-margin">
                                <label>Serviço Cancelado</label><br/>

                                <input type="radio" {% if servico.DataCancelado is not null %} checked {% endif %}> 
                                <label><span>Sim</span></label>  

                                <input type="radio" {% if servico.DataCancelado is null %} checked {% endif %}> 
                                <label><span>Não</span></label> 
                            </div>
                        </div>

                        <div class="{% if servico.DataCancelado is null %} invisible {% endif %} no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            <div class="form-group p-left-10">
                                <label for='dataCancelado' class='dotdotdot' title='Data do Cancelamento'>Data do Cancelamento</label>
                                <input {% if servico.DataCancelado is not null %} disabled="true" {% endif %} id="dataCancelado" type="text" class="form-control" placeholder="Data do Cancelamento" value="{{servico.DataCancelado|date('d/m/Y')}}">
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class='row'>
                    <hr class='width-100 m-top-15'>
                    <h4>Informações sobre o Serviço</h4>

                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label for='servicoPrestadoPlanoNome' class='dotdotdot' title='Plano'>Plano</label>
                            <input readonly id='servicoPrestadoPlanoNome' type="text" class="form-control" value="{{plano.Nome}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-left-10 p-right-10">
                            <label for='servicoPrestadoCodigo' class='dotdotdot' title='Código do Serviço Prestado'>Cód. do Serviço</label>
                            <input readonly id='servicoPrestadoCodigo' type="text" class="form-control" value="{{servicoPrestado.Codigo|upper}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10">
                            <label for='servicoPrestadoTecnologia' class='dotdotdot' title='Tecnologia do Serviço Prestado'>Tecnologia</label>
                            <input readonly id='servicoPrestadoTecnologia' type="text" class="form-control" value="{{servicoPrestado.Tecnologia|capitalize}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10">
                            <label for='servicoPrestadoDownload' class='dotdotdot' title='Download do Serviço Prestado'>Download</label>
                            <input readonly id='servicoPrestadoDownload' type="text" class="form-control" value="{{servicoPrestado.Download}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-right-10">
                            <label for='servicoPrestadoUpload' class='dotdotdot' title='Upload do Serviço Prestado'>Upload</label>
                            <input readonly id='servicoPrestadoUpload' type="text" class="form-control" value="{{servicoPrestado.Upload}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10">
                            <label for='servicoPrestadoGarantiaBanda' class='dotdotdot' title='Garantia de Banda do Serviço Prestado'>Garantia de Banda</label>
                            <input readonly id='servicoPrestadoGarantiaBanda' type="text" class="form-control" value="{{servicoPrestado.GarantiaBanda}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10">
                            <label for='servicoPrestadoFranquia' class='dotdotdot' title='Franquia do Serviço Prestado'>Franquia</label>
                            <input readonly id='servicoPrestadoFranquia' type="text" class="form-control" value="{{servicoPrestado.Franquia}}">
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <hr class='width-100 m-top-15'>
                    <h4>Informações sobre a Nota Fiscal</h4>

                    <div id='container_taxa' class='{% if servicoPrestado.Tipo == 'internet' %} oculto {% endif %}'>
                        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            <div class="form-group p-right-10">
                                <label for='codigoObra' class='dotdotdot' title='Código de Obra'>Cód. de Obra</label>
                                <input id='codigoObra' name='codigoObra' type="text" class="form-control" placeholder="Código de Obra" value="{{contrato.CodigoObra}}">
                            </div>
                        </div>

                        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            <div class="form-group p-left-10 p-right-10">
                                <label for='art' class='dotdotdot' title='ART'>ART</label>
                                <input id='art' name='art' type="text" class="form-control" placeholder="ART" value="{{contrato.Art}}">
                            </div>
                        </div>
                    </div>

                    <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="form-group">
                            <label for='descricaoNotaFiscal' title='Descrição da Nota Fiscal'>Descrição da Nota Fiscal</label> <br />
                            <textarea id='descricaoNotaFiscal' class="form-control" name='descricaoNotaFiscal' placeholder="Esta informação ficará no corpo da Nota Fiscal" rows="5">{{servico.DescricaoNotaFiscal}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="endereco-servico" role="tabpanel" aria-labelledby="endereco-servico-tab"> 
                <div class='row p-top-15'>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Endereço'>Endereço</label>
                            <input id='endereco' name='endereco' type="text" class="form-control" value="{{enderecoServico.Rua}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Número'>Número</label>
                            <input id='num' name='numero' type="text" class="form-control" value="{{enderecoServico.Num}}">
                        </div>
                    </div>           
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Bairro'>Bairro</label>
                            <input id='bairro' name='bairro' type="text" class="form-control" value="{{enderecoServico.Bairro}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='CEP'>CEP</label>
                            <input id='cep' name='cep' type="text" class="form-control" value="{{enderecoServico.Cep}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Complemento'>Complemento</label>
                            <input id='complemento' name='complemento' type="text" class="form-control" value="{{enderecoServico.Complemento}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
                            <input id='pontoReferencia' name='pontoReferencia' type="text" class="form-control" value="{{enderecoServico.PontoReferencia}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">                
                        {% set cidadeAtual = enderecoServico.Cidade %}

                        <div class="form-group p-left-10">
                            <label for='cidade' class='dotdotdot' title='Município'>Município</label> <br/>
                            <select id='cidade' class='width-100 chosen-select-servico' name='cidade' placeholder="Informe a Cidade">
                                {% for cidade in cidades %}
                                    <option value="{{cidade.idcidade}}" data-value='{{cidade.Municipio|replace({' ': '_'})}}' {% if enderecoServico.cidadeId == cidade.idcidade %} selected {% endif %}>{{cidade.municipio}} / {{cidade.uf}}</option>                                            
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contrato" role="tabpanel" aria-labelledby="contrato-tab"> 
                <div class='row p-top-15'>
                    <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4"> 
                            <div class="form-group p-right-10">
                                <label for='tipoFaturamentoId' class='dotdotdot' title='Tipo do Faturamento'>Tipo do Faturamento</label>
                                <select id='tipoFaturamentoId' class='width-100 chosen-select-servico' name='tipoFaturamentoId' placeholder="Escolha um tipo de faturamento">                        
                                    {% for tipo in servico.TiposFaturamento %}
                                        <option value="{{tipo.Id}}" {% if contrato.TipoFaturamentoId == tipo.Id %} selected {% endif %}>{{tipo.Descricao}}</option>
                                    {% endfor %} 
                                </select>
                            </div>
                        </div>

                        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4"> 
                            <div class="form-group p-left-10 p-right-10">
                                <label for='regraFaturamentoId' class='dotdotdot' title='Regra de Faturamento'>Regra de Faturamento</label>
                                <select id='regraFaturamentoId' class='width-100 chosen-select-servico' name='regraFaturamentoId' placeholder="Escolha uma regra de faturamento">
                                    {% for regra in servico.RegrasFaturamento %}
                                        <option value="{{regra.IdregraFaturamento}}" {% if contrato.RegraFaturamentoId == regra.IdregraFaturamento %} selected {% endif %}>{{regra.Descricao}}</option>
                                    {% endfor %} 
                                </select>
                            </div>
                        </div>
                        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4"> 
                            <div class="form-group p-left-10 p-right-10 no-margin">
                                <label>Possui Reembolso?</label><br/>

                                <input class='servico-contrato-tem-reembolso' id='temReembolsoSim' name='temReembolso' value='1' type="radio" {% if contrato.TemReembolso == '1' %} checked {% endif %}> 
                                <label for='temReembolsoSim'><span>Sim</span></label>  

                                <input class='servico-contrato-tem-reembolso' id='temReembolsoNao' name='temReembolso' value='0' type="radio" {% if contrato.TemReembolso == '0' %} checked {% endif %}> 
                                <label for='temReembolsoNao'><span>Não</span></label> 
                            </div>
                        </div>

                    </div>

                    <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                            <div class="form-group p-right-10 no-margin">
                                <label>Possui SVA?</label><br/>

                                <input class='servico-contrato-tem-sva' id='temSvaSim' name='temSva' value='1' type="radio" {% if contrato.TemSva == '1' %} checked {% endif %}> 
                                <label for='temSvaSim'><span>Sim</span></label>  

                                <input class='servico-contrato-tem-sva' id='temSvaNao' name='temSva' value='0' type="radio" {% if contrato.TemSva == '0' %} checked {% endif %}> 
                                <label for='temSvaNao'><span>Não</span></label> 
                            </div>
                        </div>

                        <div id="container_contrato_sva" class="{% if contrato.TemSva == '0' %} oculto {% endif %}">
                            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                <div class="form-group p-left-10 p-right-10 no-margin">
                                    <label>Tipo do SVA</label><br/>

                                    <input class='servico-contrato-tipo-sva' id='tipoSvaSim' name='tipoSva' value='valor' type="radio" {% if contrato.TipoSva == 'valor' %} checked {% endif %}> 
                                    <label for='tipoSvaSim'><span>Valor</span></label>  

                                    <input class='servico-contrato-tipo-sva' id='tipoSvaNao' name='tipoSva' value='percentual' type="radio" {% if contrato.TipoSva == 'percentual' %} checked {% endif %}> 
                                    <label for='tipoSvaNao'><span>Percentual</span></label> 
                                </div>
                            </div>

                            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                <div class="form-group p-left-10 no-margin">
                                    <label for='sva' title='Valor SVA'>Valor SVA</label><br/>
                                    <input id='sva' type='text' maxlength="100" minlength="0" class="form-control money" name='sva' value='{{contrato.Sva|number_format(2, '.', ',')}}' />
                                </div>
                            </div>
                            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label>Descrição SVA</label> <br />
                                    <textarea class="form-control" name='descricaoSva' placeholder="Esta informação sairá na Nota Fiscal" rows="4">{{contrato.DescricaoSva}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                            <div class="form-group p-right-10 no-margin">
                                <label>Possui SCM?</label><br/>

                                <input class='servico-contrato-tem-scm' id='temScmSim' name='temScm' value='1' type="radio" {% if contrato.TemScm == '1' %} checked {% endif %}> 
                                <label for='temScmSim'><span>Sim</span></label>  

                                <input class='servico-contrato-tem-scm' id='temScmNao' name='temScm' value='0' type="radio" {% if contrato.TemScm == '0' %} checked {% endif %}> 
                                <label for='temScmNao'><span>Não</span></label> 
                            </div>
                        </div>

                        <div id="container_contrato_scm" class="{% if contrato.TemScm == '0' %} oculto {% endif %}">
                            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                <div class="form-group p-left-10 p-right-10 no-margin">
                                    <label>Tipo do SCM</label><br/>

                                    <input class='servico-contrato-tipo-scm' id='tipoScmSim' name='tipoScm' value='valor' type="radio" {% if contrato.TipoScm == 'valor' %} checked {% endif %}> 
                                    <label for='tipoScmSim'><span>Valor</span></label>  

                                    <input class='servico-contrato-tipo-scm' id='tipoScmNao' name='tipoScm' value='percentual' type="radio" {% if contrato.TipoScm == 'percentual' %} checked {% endif %}> 
                                    <label for='tipoScmNao'><span>Percentual</span></label> 
                                </div>
                            </div>

                            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                <div class="form-group p-left-10 no-margin">
                                    <label for='scm' title='Valor SVA'>Valor SCM</label><br/>
                                    <input id='scm' type='text' maxlength="100" minlength="0" class="form-control money" name='scm' value='{{contrato.Scm|number_format(2, '.', ',')}}' />
                                </div>
                            </div>
                            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                <div class="form-group">
                                    <label>Descrição SCM</label> <br />
                                    <textarea class="form-control" name='descricaoScm' placeholder="Esta informação sairá na Nota Fiscal" rows="4">{{contrato.DescricaoScm}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="dados-cobranca" role="tabpanel" aria-labelledby="dados-cobranca-tab">
                <div class='row p-top-15'>
                    <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">               
                        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            <div class="form-group p-right-10">
                                {% set valorOriginal = plano.Valor %}
                                {% if servicoId is not null %}
                                    {% set valorOriginal = servico.Valor %}
                                {% endif %}
                                <label for='planoValorOriginal' class='dotdotdot' title='Valor Original do Serviço'>Valor Original do Serviço</label>
                                <input readonly id='planoValorOriginal' type="text" class="form-control money" value="{{valorOriginal|number_format(2, '.', ',')}}">
                            </div>
                        </div>       
                        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            <div class="form-group p-left-10 p-right-10">
                                <label for="valorDesconto" class='dotdotdot' title='Valor de Desconto'>Valor de Desconto</label>
                                <input id="valorDesconto" name="valorDesconto" type="text" class="form-control money" value="{{servico.ValorDesconto|number_format(2, '.', ',')}}">
                            </div>
                        </div>                             

                        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3" title='Informações Adicionais &#13;&#13;* Optando por "SIM". &#13;        - Pegará o valor informado para a Geração de Cobranças e de Notas Fiscais. &#13;* Optando por "NÃO". &#13;        - Pegará o valor original do Serviço Prestado para a Geração de Cobranças e de Notas Fiscais.'>
                            <div class="form-group p-left-10 p-right-10 no-margin">
                                <label>Forçar Valor?</label><br/>

                                <input class='servico-contrato-forcar-valor' id='forcarValorSim' name='forcarValor' value='1' type="radio" {% if contrato.ForcarValor == '1' %} checked {% endif %}> 
                                <label for='forcarValorSim'><span>Sim</span></label>  

                                <input class='servico-contrato-forcar-valor' id='forcarValorNao' name='forcarValor' value='0' type="radio" {% if contrato.ForcarValor == '0' %} checked {% endif %}> 
                                <label for='forcarValorNao'><span>Não</span></label> 
                            </div>
                        </div>     
                        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                            <div class="form-group p-left-10">
                                <label for="valorForcado" class='dotdotdot' title='Valor Forçado p/ Cobranças'>Valor Forçado p/ Cobranças</label>
                                <input id="valorForcado" {% if contrato.ForcarValor == '0' %} readonly {% endif %} name="valorForcado" minlength="0" type="text" class="form-control money" value="{{contrato.Valor|number_format(2, '.', ',')}}">
                            </div>
                        </div>
                    </div>
                    <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3" title='Informações Adicionais &#13;&#13;* Optando por "SIM". &#13;        - Pegará o valor informado para a Geração de Cobranças e de Notas Fiscais. &#13;* Optando por "NÃO". &#13;        - Pegará o valor original do Serviço Prestado para a Geração de Cobranças e de Notas Fiscais.'>
                        <div class="form-group p-right-10 no-margin">
                            <label>Gerar Cobrança?</label><br/>

                            <input id='gerarCobrancaSim' name='gerarCobranca' value='1' type="radio" {% if contrato.GerarCobranca == '1' %} checked {% endif %}> 
                            <label for='gerarCobrancaSim'><span>Sim</span></label>  

                            <input id='gerarCobrancaNao' name='gerarCobranca' value='0' type="radio" {% if contrato.GerarCobranca == '0' %} checked {% endif %}> 
                            <label for='gerarCobrancaNao'><span>Não</span></label> 
                        </div>
                    </div>

                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        {% set valor = plano.Valor %}
                        {% if servicoId is not null %}
                            {% set valor = servico.Valor %}
                        {% endif %}

                        {% if contrato.ForcarValor == '1' %}
                            {% set valor = contrato.Valor %}
                        {% endif %}
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Valor Total Cobranças'>Valor Total</label>
                            <input readonly id='valorTotal' type="text" class="form-control money" value="{{(valor - servico.ValorDesconto)|number_format(2, '.', ',')}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>       

        {% if servico.IdservicoCliente is not null %}
            <div class='row'>
                <div class="centro col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="form-group date-footer">
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <label>Data de Cadastro</label>
                            <p>{{servico.dataCadastro|date('d/m/Y')}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <label>Data de Alteração</label>
                            <p>{{servico.dataAlterado|date('d/m/Y')}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                            <label>Usuário de Alteração</label>
                            <p>{{servico.usuario.login}}</p>
                        </div>

                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>