<script src="{{ asset('bundles/imatelecom/js/administrativo/clientes-cliente-dados-pessoais.js') }}" ></script>

<div id='container_alerta_popup' class='row oculto'>
    <div id='alerta_status_popup' class="alert alert-danger" role="alert">
        <h4 id='alerta_titulo_popup' class="alert-heading"></h4>
        <p id='alerta_subtitulo_popup'></p>
        <hr class='separator-h-10'>
        <p id='erros_alerta_popup' class="mb-0"></p>
    </div>
</div>

<form id='formulario_pessoa' method='POST' action='{{ path('ima_telecom_admin_administrativo_clientes_cliente_dados_pessoais_salvar', {clienteId: cliente.Idcliente }) }}'>
    <div class='row'>                                                
        <h4>Dados Pessoais</h4>

        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
            <div class="form-group p-right-10">
                <label for='nome' class='dotdotdot' title='Nome'>Nome</label>
                <input id='nome' name='nome' type="text" class="form-control" placeholder="Informe o Nome" value="{{pessoa.Nome}}">
            </div>
        </div>

        <div class='container-pessoa-juridica {% if pessoa.TipoPessoa == 'fisica' %} oculto {% endif %}'>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">                  
                <div class="form-group p-left-10">
                    <label for='razaoSocial' class='dotdotdot' title='Razão Social'>Razão Social</label>
                    <input id='razaoSocial' name='razaoSocial' type="text" class="form-control" placeholder="Informe a Razão Social" value="{{pessoa.RazaoSocial}}">
                </div>
            </div> 
        </div>

        <div class='container-pessoa-fisica {% if pessoa.TipoPessoa == 'juridica' %} oculto {% endif %}'>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                <div class="form-group p-left-10 p-right-10">
                    <label for='dataNascimento' class='dotdotdot' title='Data de Nascimento'>Data de Nascimento</label>
                    <input id='dataNascimento' name="dataNascimento" class='width-100 form-control' type="text" placeholder="Data de Nascimento" value='{{pessoa.DataNascimento|date('d/m/Y')}}'/>
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                <div class="form-group p-left-10">
                    <label for='sexo' class='dotdotdot' title='Sexo'>Sexo</label>
                    <select id='sexo' class='width-100 chosen-select' name='sexo' placeholder="Informe o Sexo">                                        
                        <option value='m' {% if pessoa.Sexo == 'm' %} selected {% endif %}>Masculino</option>
                        <option value='f' {% if pessoa.Sexo == 'f' %} selected {% endif %}>Feminino</option>                        
                    </select>
                </div>
            </div>
        </div>

        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
            <div class="form-group p-right-10">
                <label for='email' class='dotdotdot' title='E-mail'>E-mail</label>
                <input id='email' name='email' type="text" class="form-control" placeholder="Informe o e-mail" value="{{pessoa.Email}}">
            </div>
        </div>

        <div class='container-pessoa-fisica {% if pessoa.TipoPessoa == 'juridica' %} oculto {% endif %}'>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label for='cpf' class='dotdotdot' title='CPF'>CPF</label>
                    <input id='cpf' name='cpf' type="text" class="form-control" placeholder="Informe o CPF" value="{{pessoa.CpfCnpj}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label for='rg' class='dotdotdot' title='RG'>RG</label>
                    <input id='rg' name='rg' type="text" class="form-control" placeholder="Informe o RG" value="{{pessoa.RgInscrest}}">
                </div>
            </div>
        </div>

        <div class='container-pessoa-juridica {% if pessoa.TipoPessoa == 'fisica' %} oculto {% endif %}'>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label for='cnpj' class='dotdotdot' title='CNPJ'>CNPJ</label>
                    <input id='cnpj' name='cnpj' type="text" class="form-control" placeholder="Informe o CNPJ" value="{{pessoa.CpfCnpj}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label for='inscricaoEstadual' class='dotdotdot' title='Inscrição Estadual'>Insc. Estadual</label>
                    <input id='inscricaoEstadual' name='inscricaoEstadual' type="text" class="form-control" placeholder="Inscrição Estadual" value="{{pessoa.RgInscrest}}">
                </div>
            </div>
        </div>

        <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10 no-margin">
                    <label>Tipo da Pessoa</label><br/>

                    <input class='tipo-pessoa' id='tipo-pessoa-fisica' type="radio" name='tipoPessoa' value='fisica' {% if pessoa.TipoPessoa == 'fisica' %} checked {% endif %}> 
                    <label for="tipo-pessoa-fisica"><span>Física</span></label>  

                    <input class='tipo-pessoa' id='tipo-pessoa-juridica' type="radio" name='tipoPessoa' value='juridica' {% if pessoa.TipoPessoa == 'juridica' %} checked {% endif %}> 
                    <label for="tipo-pessoa-juridica"><span>Jurídica</span></label> 
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 no-margin" title=''>
                    <label>Ativo</label> <br />
                    <input type="checkbox" {% if cliente.Ativo == '1' %} checked="true" {% endif %}>
                    <label>Sim</label>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3 no-padding">                
                <div class="form-group p-left-10 p-right-10">
                    <label for='importIdPessoa'>Código de Importação</label> <br />
                    <input id='importIdPessoa' name='importIdPessoa' type="text" class="form-control" placeholder="Código de Importação" value="{{pessoa.ImportId}}">
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3 direita">
                <div class="form-group p-left-10" title=''>
                    <a class="btn btn-danger ajax" href="javascript:void();" data-title='Cancelar Cliente'
                       data-url='{{ path('ima_telecom_admin_administrativo_clientes_cliente_cancelamento_cliente', {clienteId: cliente.Idcliente}) }}'>
                        Cancelar Cliente
                    </a>
                </div>
            </div>
        </div>

        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
            <div class="form-group p-right-10 no-margin" title=''>
                <label for='dataContratoCliente' class='dotdotdot' title='Data do Contrato'>Data do Contrato</label>
                <input id="dataContratoCliente" name="dataContratoCliente" type="text" class="form-control" placeholder="Data do Contrato" value='{{cliente.DataContrato|date('d/m/Y')}}' {% if cliente.Idcliente is not null and cliente.DataContrato|date('Y-m-d') < "now"|date('Y-m-d') %} readonly {% endif %}>
            </div>
        </div>

        {% if cliente.DataCancelado is not null %}
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 no-margin" title=''>
                    <label for='dataCancelamentoCliente' class='dotdotdot' title='Data do Cancelamento'>Data do Cancelamento</label>
                    <input id="dataCancelamentoCliente" type="text" class="form-control" placeholder="Data do Cancelamento" value='{{cliente.DataCancelado|date('d/m/Y')}}' readonly>
                </div>
            </div>
        {% endif %} 

        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
            <div class="form-group p-left-10 p-right-10 no-margin" title='É Fornecedor'>
                <label>Fornecedor</label> <br />
                <input id='fornecedor' type="checkbox" name='efornecedor' {% if pessoa.EFornecedor %} checked="true" {% endif %}>
                <label for="fornecedor">Sim</label>
            </div>
        </div>
    </div>

    <div class='row'>
        <hr class='width-100 m-top-15'>
        <h4>Endereço Pessoal</h4>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="form-group p-right-10">
                <label class='dotdotdot' title='Endereço'>Endereço</label>
                <input id='endereco' name='endereco' type="text" class="form-control" value="{{pessoa.Rua}}">
            </div>
        </div>
        <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
            <div class="form-group p-left-10 p-right-10">
                <label class='dotdotdot' title='Número'>Número</label>
                <input id='num' name='num' type="text" class="form-control" value="{{pessoa.Num}}">
            </div>
        </div>           
        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
            <div class="form-group p-left-10 p-right-10">
                <label class='dotdotdot' title='Bairro'>Bairro</label>
                <input id='bairro' name='bairro' type="text" class="form-control" value="{{pessoa.Bairro}}">
            </div>
        </div>
        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
            <div class="form-group p-left-10">
                <label class='dotdotdot' title='CEP'>CEP</label>
                <input id='cep' name='cep' type="text" class="form-control" value="{{pessoa.Cep}}">
            </div>
        </div>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="form-group p-right-10">
                <label class='dotdotdot' title='Complemento'>Complemento</label>
                <input id='complemento' name='complemento' type="text" class="form-control" value="{{pessoa.Complemento}}">
            </div>
        </div>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="form-group p-left-10 p-right-10">
                <label class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
                <input id='pontoReferencia' name='pontoReferencia' type="text" class="form-control" value="{{pessoa.PontoReferencia}}">
            </div>
        </div>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            {% set cidades = pessoa.Cidades %}
            {% set cidadeAtual = pessoa.Cidade %}

            <div class="form-group p-left-10">
                <label for='cidade' class='dotdotdot' title='Município'>Município</label>
                <select id='cidade' class='width-100 chosen-select' name='cidade' placeholder="Informe a Cidade">
                    {% for cidade in cidades %}
                        <option value="{{cidade.idcidade}}" data-value='{{cidade.Municipio|replace({' ': '_'})}}' {% if pessoa.cidadeId == cidade.idcidade %} selected {% endif %}>{{cidade.municipio}} / {{cidade.uf}}</option>                                            
                    {% endfor %}
                </select>

            </div>
        </div>

        <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="form-group">
                <label for='obs' class='dotdotdot' title='Observação'>Observação</label>
                <textarea id='obs' class="form-control" name='observacao' placeholder="Observações" rows="5">{{pessoa.Obs}}</textarea>
            </div>
        </div>

    </div>

    {% if cliente.Idcliente is not null and cliente.Idcliente != 0 %}
        <div class='row centro'>            
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Cadastro</label>
                    <p>{{cliente.DataCadastro|date('d/m/Y')}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Alteração</label>
                    <p>{{cliente.DataAlterado|date('d/m/Y')}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Usuário de Alteração</label>
                    <p>{{cliente.Usuario.login}}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class='row'>                        
        <div class="direita">
            {% if cliente.Idcliente is not null %}
                <button type="reset" class="btn btn-primary">Cancelar Edição</button>
            {% endif %}

            <button type="submit" class="btn btn-success m-left-20">Gravar</button>
        </div>
    </div>
</form>