<link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
<script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/administrativo/cliente_notas_fiscais_geracao.js') }}" ></script>

<section>
    <div class="container-fluid">
        <form id='formulario_geracao_notas_fiscais' method="POST" action="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_notas_por_servico_gerar_nota_fiscal', {clienteId: cliente.Idcliente, servicoId: servicoCliente.IdservicoCliente}) }}">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        <div class="form-group col-left">
                            <label for="dataEmissao">Dt. de Emissão</label>
                            <input type="text" class="form-control" id="dataEmissao" name="dataEmissao" placeholder="Data de Emissão" value="">
                        </div>
                    </div>
                </div>  
                {#<h2>Considerações</h2>
                <span>                    
                    As cobranças que já foram registradas na competência atual não serão geradas/atualizadas, a menos que sejam excluídas. <br/>
                    O dia do vencimento é referente à Regra de Faturamento de cada contrato. <br/>
                    O Mês e Ano do vencimento da(s) cobrança(s) será(ão) baseada(s) na competência atual (Pegando sempre o mês posterior ao atual). <br/>
                </span>#}

                <div class="direita col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <button type="reset" class="col-left col-right btn btn-danger">Cancelar</button>
                    <button type="submit" class="col-right btn btn-success">Gerar</button>
                </div>
            </div>
        </form>
      
        <div id='container_notas_fiscais'>
            {% include 'ImaTelecomBundle:Fiscal:notas-fiscais.html.twig' with {'notas': notas} %}
        </div>                
    </div>
</section>