<link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>

<script>
    $(document).ready(function (e) {
        var table = $('table#notas_fiscais').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>


<div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 no-padding direita m-top-15 m-bottom-15'>        
        <a data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_geracao_nota', {clienteId: cliente.Idcliente}) }}" 
           href="javascript:void(0);" class="btn btn-primary" onClick="carregarPopup(this);" data-title='Geração de Notas Fiscais'>
            Gerar Nota
        </a>
    </div>

    <table id='notas_fiscais' class='table'>
        <thead>
            <tr>
                <th class='negrito centro'>Código</th>
                <th class='negrito'>Serviço Prestado</th>
                <th class='negrito'>Vencimento</th>
                <th class='negrito'>Valor da Nota</th>                    
                <th class='negrito'>Data de Emissão</th>
                <th class='negrito'>Chave</th>
                <th class='negrito centro'>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for notas in cliente.getNotas() %}
                {% for nota in notas %}
                    <tr>
                        <td class='centro'>{{nota.Id}}</td>
                        <td class='centro'>
                            {% if nota.Boleto is not null %}
                                {% set servicos = [] %}
                                {% for servicoPrestado in nota.DadosFiscalItems %}
                                    {% set servicos = servicos|merge([servicoPrestado.BoletoItem.ServicoCliente.IdservicoCliente ~ ' - ' ~ servicoPrestado.BoletoItem.ServicoCliente.ServicoPrestado.Nome]) %}
                                {% endfor %}
                                {{ servicos|join(' | ') }}
                            {% elseif nota.BoletoItem is not null %}
                                {{nota.BoletoItem.ServicoCliente.ServicoPrestado.Nome}}
                            {% endif %}
                        </td>
                        <td class='centro'>
                            {% if nota.Boleto is not null %}
                                {{nota.Boleto.Vencimento|date("d/m/Y")}}
                            {% elseif nota.BoletoItem is not null %}
                                {{nota.BoletoItem.Boleto.Vencimento|date("d/m/Y")}}
                            {% endif %}
                        </td>
                        <td class='centro'>R$ {{nota.ValorNota|number_format(2, ',', '.')}}</td>                    
                        <td class='centro'>{{nota.DataEmissao|date("d/m/Y")}}</td>
                        <td class='centro'>{{nota.MestreChaveDigitalMeio}}</td>
                        <td class='direita'>
                            <a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_visualizar_nota_scm', {clienteId: nota.Cliente.Idcliente, notaFiscalId: nota.Id})}}" target='_blank'
                               title='Visualizar Nota Fiscal' class='col-separator'>
                                <i class="icon fa fa-file-pdf-o" aria-hidden="true"></i>                                             
                            </a>
                            {% if competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'normal' and nota.UltimaNotaGerada %}
                                <a href="#" data-url="{{path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_geradas_cancelamento_nota_cancelar_nota', {notaId: nota.Id})}}" 
                                   title='Cancelar Nota Fiscal' class="col-separator" onClick="cancelarNotaFiscal(this);">
                                    <i class="icon fa fa-ban" aria-hidden="true"></i>
                                </a>
                            {% elseif competenciaAtualHeader.Id == nota.CompetenciaId and nota.Situacao == 'cancelada' and nota.UltimaNotaGerada %}
                                <a href="#" data-url="{{path('ima_telecom_admin_fiscal_notas_fiscais_scm_notas_nao_geradas_geracao_nota', {cobrancaId: nota.getBoleto.Idboleto})}}" 
                                   data-title='Regerando Nota Fiscal' title='Regerar Nota Fiscal' class="col-separator" onClick="carregarPopup(this);">
                                    <i class="icon fa fa-sticky-note" aria-hidden="true"></i>                                             
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>