<link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>

<script>
    $(document).ready(function () {
        $('.chosen-select-notas').chosen();

        $('body').on('click', '#cancelar_geracao', function () {
            bootbox.hideAll();
        });

        moment.locale('pt-br'); // default the locale to Portuguese Brazil
        $('#dataEmissao').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY'
            }
        });

        let url = $('#servicoClienteId option:selected').data('url');
        mostrarCobrancas(url);

        $('#servicoClienteId').on('change', function () {            
            let url = $(this).find(':selected').data('url'); //$(this).data('url');
            mostrarCobrancas(url);
        });

        function mostrarCobrancas(url) {
            let container = '#container_cobrancas_servico';
            
            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function ()
                {
                    $(container).html('<p class="m-top-15 centro"><i class="fa fa-spin fa-spinner"></i> Loading...</p>');
                },
                success: function (response, textStatus, jqXHR) {                    
                    $(container).html(response);
                },
                error: function (request, textStatus, errorThrown) {
                    console.log(request, textStatus, errorThrown);
                    mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                }
            });
        }

        $('body').on('change', '.cobranca', function (e) {
            let isChecked = $(this).is(':checked');
        });

        $('body').on('click', '#gerar_nota', function (e) {
            e.preventDefault();

            let url = $(this).data('url');
            let cobrancas = [];

            $('input:checkbox.cobranca').each(function () {
                let isChecked = this.checked;
                
                if (isChecked) {
                    cobrancas.push($(this).val());
                }
            });

            let data = {
                dataEmissao: $('#dataEmissao').val(),
                cobrancas: cobrancas
            };

            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function (response, textStatus, jqXHR) {
                    if (response.status) {
                        mostrarMensagemNotasFiscais('success', 'Bem Feeito!!', '', response.mensagem);
                        //AtualizarNotasFiscais();
                    } else {
                        mostrarMensagemNotasFiscais('danger', 'Ops... Aconteceu algo de errado!',
                                'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                response.erros.join('\n'));
                    }
                },
                error: function (request, textStatus, errorThrown) {
                    console.log(request, textStatus, errorThrown);
                    mostrarMensagemNotasFiscais('danger', 'Ops... Aconteceu algo de errado!',
                            'Por favor, verifique os erros ocorridos que foram listados abaixo.', errorThrown);
                }
            });
        });
    });
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div class='row'>
        <div id='container_alerta_notas_fiscais' class='row oculto'>
            <div id='alerta_status_notas_fiscais' class="alert alert-danger" role="alert">
                <h4 id='alerta_titulo_notas_fiscais' class="alert-heading"></h4>
                <p id='alerta_subtitulo_notas_fiscais'></p>
                <hr class='separator-h-10'>
                <p id='erros_alerta_notas_fiscais' class="mb-0"></p>
            </div>
        </div>

        <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h4>Resumo da Competência Atual</h4>

            {#                <p>dadta da ultima emissao valores, numero da ultima nota.. sei la</p>#}
            <p>
                A Última Nota Fiscal foi Emitida na data {{competenciaAtual.UltimaDataEmissao|date("d/m/Y")}}, o número da última nota fiscal emitida foi
                <span class="negrito">{{competenciaAtual.NumeroNf}}</span> na
                <span class="negrito">Competência {{competenciaAtual.Ano ~ '/' ~ competenciaAtual.Mes}}</span>, 
                onde a mesma se encontra no
                <span class="negrito">Período de {{competenciaAtual.PeriodoInicial|date("d/m/Y")}} à {{competenciaAtual.PeriodoFinal|date("d/m/Y")}}</span>.
            </p>
        </div>            
    </div>

    <div class='row'>
        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">                  
            <div class="form-group p-right-10">
                <label for='servicoClienteId' class='dotdotdot' title='Serviço'>Serviço do Cliente</label>
                <select id='servicoClienteId' class='width-100 chosen-select-notas' placeholder="Escolha um Serviço">  
                    {% for serv in servicos %}
                        <option value="{{serv.IdservicoCliente}}"
                                data-url='{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_geracao_nota_cobrancas_por_servico', {clienteId: cliente.Idcliente, servicoClienteId: serv.IdservicoCliente}) }}'>
                            {{serv.IdservicoCliente ~ ' - ' ~ serv.ServicoPrestado.Nome}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="no-padding col-lg-4 col-sm-4 col-md-4 col-xs-4">
            <div class="form-group p-left-10 p-right-10">
                <label for='dataEmissao' class='dotdotdot' title='Data de Emissão'>Data de Emissão</label><br/>
                <input class='width-100 form-control' id='dataEmissao' type="text" name="dataEmissao" placeholder="Data de Emissão" value=''/>
            </div>
        </div>
        <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 no-padding direita m-top-20'>        
            <a id='cancelar_geracao' href="javascript:void(0);" class="btn btn-danger">
                Cancelar
            </a>        
            <a id='gerar_nota' data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_geracao_nota_gerar', {clienteId: cliente.Idcliente}) }}" 
               href="javascript:void(0);" class="btn btn-primary m-left-20" data-title='Novo Serviço'>
                Gerar Nota
            </a>
        </div>
    </div>

    <div class='row'>
        <hr class='m-top-0 m-bottom-15'>
        <h4>Cobranças para geração da Nota</h4>

        <div id='container_cobrancas_servico'></div>
    </div>
</div>