<link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/imatelecom/css/administrativo/cliente_cobrancas_geracao.css') }}" rel="stylesheet" />

<script src="{{ asset('bundles/imatelecom/js/jquery.mask.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/jquery.formatCurrency-1.4.0.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
<script src="{{ asset('bundles/imatelecom/js/administrativo/clientes-cliente-cobrancas-geracao.js') }}" ></script>

<script>
    $(document).ready(function () {
        $('body').on('reset', '#formulario_geracao_cobrancas', function (e) {
            bootbox.hideAll();
        });
    });
</script>

<style>
    #servicosGeracaoCobranca {
        margin-bottom: 0px !important;
    }
</style>

<div class="card-simple overflow no-margin p-bottom-0">
    <div class='row'>
        <div id='container_alerta_cobranca' class='row oculto'>
            <div id='alerta_status_cobranca' class="alert alert-danger" role="alert">
                <h4 id='alerta_titulo_cobranca' class="alert-heading"></h4>
                <p id='alerta_subtitulo_cobranca'></p>
                <hr class='separator-h-10'>
                <p id='erros_alerta_cobranca' class="mb-0"></p>
            </div>
        </div>

        {% set valorTotal = 0.0 %}
        <table id='servicosGeracaoCobranca' class='table'>
            <thead>
                <tr>
                    <th class='negrito esquerda'>
                        <input type="checkbox" id='selecionarTodosServicos' /> Todos
                    </th>
                    <th class='negrito centro'>Código</th>
                    <th class='negrito centro'>Serviço Prestado</th>
                    <th class='negrito centro'>Desconto</th>
                    <th class='negrito centro'>Valor</th>
                    <th class='negrito centro'>Valor Final</th>
                </tr>
            </thead>
            <tbody>                
                {% for servico in servicos %}
                    {#{% set plano = servico.ServicoPrestado.Plano %}#}
                    {% set servicoPrestado = servico.ServicoPrestado %}
                    {% set valorTotal = valorTotal + (servico.Valor - servico.ValorDesconto) %}
                    <tr>
                        <td>
                            <div class="centro">                                                
                                <input id='servico_cliente_{{servico.IdservicoCliente}}' title='Selecionar Serviço' 
                                       data-id-servico='{{servico.IdservicoCliente}}' data-id='servico_selecionado_{{servico.IdservicoCliente}}'
                                       type="checkbox" name='selecionarServico'  value='{{servico.IdservicoCliente}}'>
                                <label for='servico_cliente_{{servico.IdservicoCliente}}'></label>
                            </div>
                        </td>
                        <td class='centro'>{{servico.IdservicoCliente}}</td>
                        <td class='centro'>{{servicoPrestado.Nome}}</td>
                        <td class='centro'>R$ {{servico.ValorDesconto|number_format(2, ',', '.')}}</td>
                        <td class='centro'>R$ {{servico.Valor|number_format(2, ',', '.')}}</td>
                        <td class='centro'>
                            <div class="form-inline direita form-check">
                                <label for="servico_selecionado_{{servico.IdservicoCliente}}"
                                       class='col-left form-check-label'>
                                    R$
                                </label> 
                                <input id='servico_selecionado_{{servico.IdservicoCliente}}' value='{{(servico.Valor - servico.ValorDesconto)|number_format(2, ',', '.')}}'
                                       type='text' name="valorCobranca" class="money form-control form-control-sm form-check-input" placeholder="Valor da cobrança">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan='5' class='negrito direita'>Valor Total da Cobrança</th>
                    <th id='valor_total' class='negrito centro'>R$ {{valorTotal|number_format(2, ',', '.')}}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <form id='formulario_geracao_cobrancas' method="POST" action="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_geracao_gerar', {clienteId: clienteId} )}}">
        <div class='row'>        
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10 no-margin">
                    <label>Cobrancas Separadas</label><br/>

                    <input id='cobrancaSeparadaSim' name='cobrancaSeparada' class="cobranca-separada" value='1' type="radio" checked> 
                    <label for='cobrancaSeparadaSim'><span>Sim</span></label>  

                    <input id='cobrancaSeparadaNao' name='cobrancaSeparada' class="cobranca-separada" value='0' type="radio"> 
                    <label for='cobrancaSeparadaNao'><span>Não</span></label> 
                </div>
            </div>       
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 no-margin">
                    <label>Forçar Vencimento?</label><br/>

                    <input id='forcarVencimentoSim' class='forcar-vencimento' name='forcarVencimento' value='1' type="radio"> 
                    <label for='forcarVencimentoSim'><span>Sim</span></label>  

                    <input id='forcarVencimentoNao' class='forcar-vencimento' name='forcarVencimento' value='0' checked type="radio"> 
                    <label for='forcarVencimentoNao'><span>Não</span></label> 
                </div>
            </div>

            <div id='container_vencimento' class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 no-margin">
                    <label for='vencimento' class='dotdotdot' title='Vencimento'>Vencimento</label>
                    <input id='vencimento' name='vencimento' type="text" class="form-control" placeholder="Vencimento da Cobrança">                    
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12'>
                <hr class=''>
                <h4>Considerações</h4>

                <span>
                    Caso opte por mudar o Valor Final, saiba que o Valor Final só irá gerar caso o SCM/SVA estiverem com o Tipo "Porcentagem" na configuração do serviço. <br/>
                    As cobranças que já foram registradas na competência atual não serão geradas/atualizadas, a menos que sejam excluídas. <br/>
                    O dia do vencimento é referente à Regra de Faturamento de cada contrato. <br/>
                    O Mês e Ano do vencimento da(s) cobrança(s) será(ão) baseada(s) na competência atual (Pegando sempre o mês posterior ao atual). <br/>
                </span>
            </div>
        </div>

        <div class='row'>
            <div class="no-padding direita col-lg-12 col-sm-12 col-md-12 col-xs-12"> 
                <div class="form-group p-top-15">
                    <button type="reset" class="btn btn-danger">Cancelar</button>
                    <button type="submit" class=" m-left-20 btn btn-success">Gerar</button>
                </div>
            </div>
        </div>
    </form>
</div>