{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />

    <style>
        li.nav-item.oculto {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/jquery.mask.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/administrativo/clientes-cliente.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Cadastro de Cliente
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">
                <a class="btn btn-primary" href="{{path('ima_telecom_admin_administrativo_clientes_cliente_novo')}}">
                    Novo Cadastro
                </a>                    
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    {% set pessoa = cliente.Pessoa %}
    <div class="card-simple overflow"> 
        <div class="esquerda col-lg-10 col-sm-10 col-md-10 col-xs-10 no-padding">
            <div class="esquerda col-lg-3 col-sm-3 col-md-3 col-xs-3 no-padding">
                <label class="cadastro-existente">Código do Cliente:</label> 
                <label>{{ cliente.Idcliente }}</label>
            </div>
            <div class="esquerda col-lg-9 col-sm-9 col-md-9 col-xs-9 no-padding">
                <label class="cadastro-existente">Cliente:</label> 
                <label>{{ pessoa.Nome }}</label>
            </div>
        </div>
        <div class="direita col-lg-2 col-sm-2 col-md-2 col-xs-2 no-padding">
            <a class="btn btn-primary" href="{{path('ima_telecom_admin_administrativo_clientes')}}">
                Clientes
            </a>
        </div>

        <hr class='width-100 m-top-30'>

        <ul class="nav nav-tabs" id="container_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="cliente-tab" data-toggle="tab"  data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_dados_pessoais', {clienteId: cliente.Idcliente}) }}" href="#cliente" role="tab" aria-controls="cliente" aria-selected="true">Cliente</a>
            </li>
            {% if cliente.Idcliente is not null and cliente.Idcliente != 0 %}
                <li class="nav-item">
                    <a class="nav-link" id="telefones-tab" data-toggle="tab" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_telefones', {clienteId: cliente.Idcliente}) }}" href="#telefones" role="tab" aria-controls="telefones" aria-selected="true">Telefones</a>
                </li>
                <li id='menu_fornecedor' class="nav-item {% if pessoa.EFornecedor == false %} oculto {% endif %}">
                    <a class="nav-link" id="fornecedor-tab" data-toggle="tab" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_fornecedor', {clienteId: cliente.Idcliente}) }}" href="#cliente-fornecedor" role="tab" aria-controls="fornecedor" aria-selected="false">Fornecedor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="endereco-cobranca-tab" data-toggle="tab" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_endereco_cobranca', {clienteId: cliente.Idcliente}) }}" href="#endereco-cobranca" role="tab" aria-controls="endereco-cobranca" aria-selected="true">Endereço de Cobrança</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="servicos-tab" data-toggle="tab" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_servicos', {clienteId: cliente.Idcliente}) }}" href="#servicos" role="tab" aria-controls="servicos" aria-selected="false">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cobrancas-tab" data-toggle="tab" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas', {clienteId: cliente.Idcliente}) }}" href="#cobrancas" role="tab" aria-controls="cobrancas" aria-selected="false">Cobranças</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="notas-fiscais-tab" data-toggle="tab" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais', {clienteId: cliente.Idcliente}) }}" href="#notas-fiscais" role="tab" aria-controls="notas-fiscais" aria-selected="false">Notas Fiscais</a>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active p-top-15" id="cliente" role="tabpanel" aria-labelledby="cliente-tab"> </div>            
            <div class="tab-pane fade p-top-15" id="telefones" role="tabpanel" aria-labelledby="telefones-tab"></div>
            <div class="tab-pane fade p-top-15" id="cliente-fornecedor" role="tabpanel" aria-labelledby="fornecedor-tab"></div>
            <div class="tab-pane fade p-top-15" id="endereco-cobranca" role="tabpanel" aria-labelledby="endereco-cobranca-tab"></div>
            <div class="tab-pane fade" id="servicos" role="tabpanel" aria-labelledby="servicos-tab"></div>
            <div class="tab-pane fade" id="cobrancas" role="tabpanel" aria-labelledby="cobrancas-tab"></div>
            <div class="tab-pane fade" id="notas-fiscais" role="tabpanel" aria-labelledby="notas-fiscais-tab"></div>
        </div>
    </div>

{% endblock %}