<script>
    $(document).ready(function () {
        $('.chosen-select-endereco-cobranca').chosen();

        $('body').on('submit', '#formulario_endereco', function (e) {
            e.preventDefault();

            $('html, body').animate({
                scrollTop: $("html").offset().top
            }, 500);

            let url = $(this).attr('action');
            let type = $(this).attr('method');
            let data = $(this).serializeArray();

            $.ajax({
                url: url,
                type: type,
                data: data,
                success: function (response, textStatus, jqXHR) {
                    if (response.status) {
                        mostrarMensagemEndereco('success', 'Bem Feeito!!', '', response.mensagem);
                    } else {
                        mostrarMensagemEndereco('danger', 'Ops... Aconteceu algo de errado!',
                                'Por favor, verifique os erros ocorridos que foram listados abaixo.',
                                response.erros.join('<br/>'));
                    }
                },
                error: function (request, textStatus, errorThrown) {
                    console.log(request, textStatus, errorThrown);
                    mostrarMensagemEndereco('danger', 'Ops... Aconteceu algo de errado!',
                            'Por favor, verifique os erros ocorridos que foram listados abaixo.', errorThrown);
                }
            });
        });
    });

    function mostrarMensagemEndereco(className, titulo, subtitulo, mensagem) {
        $('#alerta_status_endereco').attr('class', 'alert alert-' + className);
        $('#alerta_titulo_endereco').text(titulo);
        $('#alerta_subtitulo_endereco').text(subtitulo);
        $('#erros_alerta_endereco').html(mensagem);
        $('#container_alerta_endereco').removeClass('oculto');
        setTimeout(function () {
            $('#container_alerta_endereco').addClass('oculto');
        }, 60000);
    }
</script>

<div id='container_alerta_endereco' class='row oculto'>
    <div id='alerta_status_endereco' class="alert alert-danger" role="alert">
        <h4 id='alerta_titulo_endereco' class="alert-heading"></h4>
        <p id='alerta_subtitulo_endereco'></p>
        <hr class='separator-h-10'>
        <p id='erros_alerta_endereco' class="mb-0"></p>
    </div>
</div>

<form id='formulario_endereco' method='POST' action='{{ path('ima_telecom_admin_administrativo_clientes_cliente_endereco_cobranca_salvar', {clienteId: cliente.Idcliente }) }}'>
    <div class='row'>                                                
        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="form-group p-right-10">
                <label class='dotdotdot' title='Endereço'>Endereço</label>
                <input id='endereco' name='endereco' type="text" class="form-control" value="{{endereco.Rua}}">
            </div>
        </div>
        <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
            <div class="form-group p-left-10 p-right-10">
                <label class='dotdotdot' title='Número'>Número</label>
                <input id='num' name='num' type="text" class="form-control" value="{{endereco.Num}}">
            </div>
        </div>           
        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
            <div class="form-group p-left-10 p-right-10">
                <label class='dotdotdot' title='Bairro'>Bairro</label>
                <input id='bairro' name='bairro' type="text" class="form-control" value="{{endereco.Bairro}}">
            </div>
        </div>
        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
            <div class="form-group p-left-10">
                <label class='dotdotdot' title='CEP'>CEP</label>
                <input id='cep' name='cep' type="text" class="form-control" value="{{endereco.Cep}}">
            </div>
        </div>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="form-group p-right-10">
                <label class='dotdotdot' title='Complemento'>Complemento</label>
                <input id='complemento' name='complemento' type="text" class="form-control" value="{{endereco.Complemento}}">
            </div>
        </div>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            <div class="form-group p-left-10 p-right-10">
                <label class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
                <input id='pontoReferencia' name='pontoReferencia' type="text" class="form-control" value="{{endereco.PontoReferencia}}">
            </div>
        </div>

        <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
            {% set cidades = endereco.Cidades %}
            {% set cidadeAtual = endereco.Cidade %}

            <div class="form-group p-left-10">
                <label for='cidade' class='dotdotdot' title='Município'>Município</label>
                <select id='cidade' class='width-100 chosen-select-endereco-cobranca' name='cidade' placeholder="Informe a Cidade">
                    {% for cidade in cidades %}
                        <option value="{{cidade.idcidade}}" data-value='{{cidade.Municipio|replace({' ': '_'})}}' {% if endereco.cidadeId == cidade.idcidade %} selected {% endif %}>{{cidade.municipio}} / {{cidade.uf}}</option>                                            
                    {% endfor %}
                </select>

            </div>
        </div>
    </div>
    {% if endereco.IdenderecoCliente is not null %}
        <div class='row centro'>            
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Cadastro</label>
                    <p>{{endereco.DataCadastro|date('d/m/Y')}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Alteração</label>
                    <p>{{endereco.DataAlterado|date('d/m/Y')}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Usuário de Alteração</label>
                    <p>{{endereco.Usuario.login}}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class='row'>                        
        <div class="direita">            
            {% if endereco.IdenderecoCliente is not null %}
                <button type="reset" class="btn btn-primary">Cancelar Edição</button>
            {% endif %}

            <button type="submit" class="btn btn-success m-left-20">Gravar</button>
        </div>
    </div>
</form>