<link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
<link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>

<script>
    $(document).ready(function (e) {
        var table = $('table#cobrancas').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>


<div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 no-padding direita m-top-15 m-bottom-15'>        
        <a data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_geracao', {clienteId: cliente.Idcliente}) }}" 
           href="javascript:void(0);" class="btn btn-primary" onClick="carregarPopup(this);" data-title='Geração de Cobrança'>
            Gerar Cobrança
        </a>
    </div>

    <table id='cobrancas' class='table'>
        <thead>
            <tr>
                <th class='negrito centro'>Cód. Boleto</th>
                <th class='negrito'>Vencimento</th>
                <th class='negrito'>Valor</th>
                <th class='negrito'>Competência</th>                    
                <th class='negrito'>Data de Pagamento</th>
                <th class='negrito centro'>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for cobranca in boletos %}
                <tr>
                    <td><div class='centro'>{{cobranca.Idboleto}}</div></td>
                    <td>{{cobranca.Vencimento|date('d/m/Y')}}</td>
                    <td>{{cobranca.Valor|number_format(2, ',', '.')}}</td>
                    <td>{{cobranca.Competencia.Ano ~ '/' ~ cobranca.Competencia.Mes}}</td>
                    <td>
                        {% if cobranca.EstaPago == 1 %}
                            {{cobranca.DataPagamento|date('d/m/Y')}}
                        {% endif %}
                    </td>
                    <td>
                        <div class='direita'>
                            <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_detalhes_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.idboleto })}}"
                               class='visualizar-detalhes-cobranca col-separator' onClick="carregarPopup(this);" data-refresh='false' data-title="Visualizar Detalhes da Cobrança" title='Detalhes da Cobrança'>
                                <i class="icon fa fa-info" aria-hidden="true"></i>
                            </a>

                            {% if cobranca.Registrado == 1 and cobranca.EstaPago == 0 %}
                                <a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_visualizar_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.idboleto })}}"                                  
                                   title='Visualizar Cobrança' target="_blank">
                                    <i class="icon fa fa-file-pdf-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}

                            {% if cobranca.Registrado == 0 and cobranca.EstaPago == 0 %}
                                <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_excluir_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.idboleto })}}"
                                   class='col-separator excluir-cobranca' onClick="excluirCobranca(this);" title='Excluir Cobrança'>
                                    <i class="icon fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>