<script src="{{ asset('bundles/imatelecom/js/administrativo/clientes-cliente-telefones.js') }}" ></script>

<div class='row'>
    <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding'>        
        <table id='telefones' class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Número</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for telefone in telefones %}            
                    <tr>
                        <td class="tipo-telefone">
                            {{telefone.tipo}}
                        </td>
                        <td>
                            ({{telefone.ddd}}) {{telefone.numero}}
                        </td>
                        <td>
                            <div class='direita'>
                                <a href="#" class="editar-telefone" 
                                   data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_telefones_editar_telefone', {clienteId: cliente.idcliente, telefoneId: telefone.id })}}"
                                   title='Editar' onClick="javascript:editarTelefone(this);">
                                    <i class="icon fa fa-edit" aria-hidden="true"></i>                                             
                                </a>

                                <a href="#" class="excluir-telefone col-separator"                                   
                                   data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_telefones_excluir_telefone', {clienteId: cliente.idcliente, telefoneId: telefone.id })}}"
                                   title='Excluir' onClick="javascript:excluirTelefone(this);">
                                    <i class="icon fa fa-trash" aria-hidden="true"></i>                                             
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% if telefones|length == 0 %}
                    <tr>
                        <td colspan="3" class='centro'>
                            Ops. Nenhum telefone cadastrado.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <form id='formulario_telefone' method='POST' onReset="cancelarTelefone(); return true;" onSubmit="adicionarTelefone(this); return false;" action='{{ path('ima_telecom_admin_administrativo_clientes_cliente_telefones_salvar_telefone', {clienteId: cliente.Idcliente}) }}'>
        <input id='telefoneId' type="hidden" name="telefoneId" value="" />
        
        <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding'>
            <div class="form-group p-left-20 p-right-10">
                <label for='tipoTelefone' class='dotdotdot' title='Tipo do Telefone'>Tipo</label>
                <select id='tipoTelefone' class='width-100' name='tipoTelefone' placeholder="Informe o Tipo">                                        
                    <option value='principal'>Principal</option>
                    <option value='celular'>Celular</option>                        
                </select>
            </div>
        </div>
        <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding'>
            <div class="form-group p-left-10 p-right-10">
                <label for='numero' class='dotdotdot' title='Número do Telefone'>Número</label>
                <input id='numero' name='numero' type="text" class="form-control phone-with-ddd" placeholder="Informe o número">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding esquerda">   
            <div class="form-group p-left-10">
                <button type="submit" class="btn btn-success m-bottom-20">Adicionar</button>
                <button type="reset" class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </form>    
</div>