<script>
    $(document).ready(function (e) {
        var table = $('table#servicos').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            }
        });
    });
</script>


<div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 no-padding direita m-top-15 m-bottom-15'>        
        <a data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_servicos_servico', {clienteId: cliente.Idcliente, servicoId: 0}) }}" 
           href="javascript:void(0);" class="btn btn-primary" data-title='Novo Serviço' onClick="javascript:carregarPopup(this);">
            Novo Serviço
        </a>
    </div>

    <table id='servicos' class='table'>
        <thead>
            <tr>
                <th class='negrito centro'>Código</th>
                <th class='negrito'>Nome</th>
                <th class='negrito'>Desc. Nota Fiscal</th>                    
                <th class='negrito'>Contratado</th>
                <th class='negrito'>Cancelamento</th>
                <th class='negrito centro'>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for servico in cliente.servicoClientes %}
                <tr>
                    <td><div class='centro'>{{servico.IdservicoCliente}}</div></td>
                    <td>{{servico.ServicoPrestado.Nome}}</td>
                    <td>{{servico.DescricaoNotaFiscal}}</td>
                    <td>{{servico.DataContratado|date("d/m/Y")}}</td>
                    <td>
                        {% if servico.DataCancelado is not empty %}
                            {{servico.DataCancelado|date("d/m/Y")}}
                        {% endif %}
                    </td>
                    <td>
                        <div class='direita'>
                            <a data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais_notas_por_servico', {clienteId: servico.clienteId, servicoId: servico.IdservicoCliente}) }}" 
                               href="javascript:void(0);" title='Notas Fiscais Vinculadas' data-title='Notas Fiscais Vinculadas ao Serviço Prestado' class="col-separator">
                                <i class="icon fa fa-file-pdf-o" aria-hidden="true"></i>                                             
                            </a>

                            <a data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_servicos_servico', {clienteId: servico.clienteId, servicoId: servico.IdservicoCliente}) }}" 
                               href="javascript:void(0);" title='Editar Serviço' class="col-separator ajax" data-title='Editar Serviço'>
                                <i class="icon fa fa-edit" aria-hidden="true"></i>                                             
                            </a>
                               
                            <a data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_servicos_excluir_servico', {clienteId: servico.clienteId, servicoId: servico.IdservicoCliente}) }}" 
                               href="javascript:void(0);" title='Excluir Serviço' class="col-separator" onClick="javascript:excluirServico(this);">
                                <i class="icon fa fa-trash-o" aria-hidden="true"></i>                                             
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>