{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    

    <link href="{{ asset('bundles/imatelecom/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />    
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/jquery.dotdotdot.js') }}" ></script>    
    {#    <script src="{{ asset('bundles/imatelecom/js/administrativo/clientes.js') }}" ></script> #}

    <script>
        $(document).ready(function (e) {
            var searchString = '';
            $('.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for cliente in clientes %}
                        var opcoes = '<a href="{{ path('ima_telecom_admin_administrativo_clientes_cliente', {clienteId: cliente.Idcliente}) }}" title="Dados do Cliente" class="col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>';
                        {#opcoes += '<a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_servicos', {clienteId: cliente.Idcliente})}}" title="Serviços do Cliente" class="col-separator"><i class="icon fa fa-shield" aria-hidden="true"></i></a>';
                        opcoes += '<a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas', {clienteId: cliente.Idcliente})}}" title="Cobranças do Cliente" class="col-separator"><i class="icon fa fa-briefcase" aria-hidden="true"></i></a>';
                        opcoes += '<a href="{{path('ima_telecom_admin_administrativo_clientes_cliente_notas_fiscais', {clienteId: cliente.Idcliente})}}" title="Notas Fiscais do Cliente" class="col-separator"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>';#}

                        var columns = [];
                        columns.push('<div class="centro">{{cliente.Idcliente}}</div>');
                        columns.push('{{cliente.Nome|replace({'\n': ''})}}');
                        columns.push('<div style="vertical-align: middle" class="centro"><input type="checkbox" class="no-clicked" {% if cliente.Ativo == '1' %} checked="true" {% endif %}><label></label></div>');
                        columns.push('{{cliente.DataContrato|date("d/m/Y")}}</div>');
                        columns.push('<div class="direita">' + opcoes + '</div>');

                        if (columns.filter(filter).length !== 0) {
                            rows.push(columns);
                        }

        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);

                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }
            });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Cartela de Clientes
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">
                <a class="btn btn-primary" href="{{path('ima_telecom_admin_administrativo_clientes_cliente_novo')}}">
                    Novo Cadastro
                </a>                      
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Nome</th>
                    <th>Ativo</th>
                    <th>Contratado</th>
                    <th class='centro'>Opções</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}