<script src="{{ asset('bundles/imatelecom/js/administrativo/clientes-cliente-fornecedor.js') }}" ></script>
<style>
    #nova-conta {
        padding-top: 29px;
    }
</style>

<div id='container_alerta_popup' class='row oculto'>
    <div id='alerta_status_popup' class="alert alert-danger" role="alert">
        <h4 id='alerta_titulo_popup' class="alert-heading"></h4>
        <p id='alerta_subtitulo_popup'></p>
        <hr class='separator-h-10'>
        <p id='erros_alerta_popup' class="mb-0"></p>
    </div>
</div>

<form id='formulario_fornecedor' method='POST' action='{{ path('ima_telecom_admin_administrativo_clientes_cliente_fornecedor_salvar', {clienteId: cliente.Idcliente }) }}'>
    <div class='row'>                                                
        <h4>Dados do Fornecedor</h4>

        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
            <div class="form-group p-right-10">
                <label for='bancoAgenciaConta' class='dotdotdot' title='Banco e Agência'>Tipo: Agência/Conta - Banco</label>
                <select id='bancoAgenciaConta' class='width-100 chosen-conta' name='bancoAgenciaConta' placeholder="Informe o Banco e Agência">
                    {% for bancoAgenciaConta in bancosAgenciaConta %}
                        {% set tipoConta = bancoAgenciaConta.TipoConta == 'corrente' ? 'CC' : 'CP' %}
                        {% set conta = tipoConta ~ ': ' ~ bancoAgenciaConta.getBancoAgenciaNome ~ '/' ~ bancoAgenciaConta.NumeroConta ~ ' - ' ~ bancoAgenciaConta.getBancoNome %}
                        <option value="{{bancoAgenciaConta.IdbancoAgenciaConta}}" data-value='' {% if fornecedor.BancoAgenciaContaId == bancoAgenciaConta.IdbancoAgenciaConta %} selected {% endif %}>{{conta}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
            <div class="form-group p-left-10" id='nova-conta'>
                <a class="btn btn-primary conta-bancaria" href="javascript:void();" data-title='Nova Conta'
                   data-url='{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta', {contaBancariaId: 0}) }}'>
                    Nova Conta
                </a>
            </div>
        </div>
        <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
            <div class="form-group p-left-10 no-margin" title=''>
                <label>Ativo</label> <br />
                <input type="checkbox" {% if fornecedor.Ativo == '1' %} checked="true" {% endif %}>
                <label>Sim</label>
            </div>
        </div>        

        <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div class="form-group">
                <label for='obs' class='dotdotdot' title='Observação'>Observação</label>
                <textarea id='obs' class="form-control" name='observacao' placeholder="Observações" rows="5">{{fornecedor.Observacao}}</textarea>
            </div>
        </div>
    </div>

    {% if fornecedor.Idfornecedor is not null and fornecedor.Idfornecedor != 0 %}
        <div class='row centro'>            
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Cadastro</label>
                    <p>{{fornecedor.DataCadastro|date('d/m/Y')}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Alteração</label>
                    <p>{{fornecedor.DataAlterado|date('d/m/Y')}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Usuário de Alteração</label>
                    <p>{{fornecedor.Usuario.login}}</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class='row'>                        
        <div class="direita">
            {% if fornecedor.Idfornecedor is not null %}
                <a href='#' class='btn btn-warning toggleFornecedor m-right-20' data-url='{{ path('ima_telecom_admin_administrativo_clientes_cliente_fornecedor_toggle_status', {clienteId: cliente.Idcliente, fornecedorId: fornecedor.Idfornecedor}) }}'>{% if fornecedor.Ativo %}Desativar{% else %}Ativar{% endif %}</a>
                <button type="reset" class="btn btn-primary">Cancelar Edição</button>                                
            {% endif %}

            <button type="submit" class="btn btn-success m-left-20">Gravar</button>
        </div>
    </div>
</form>