{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    

    <link href="{{ asset('bundles/imatelecom/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>

    <script>
        $(function () {
            $('.chosen-select').chosen();

            $('form').submit(function (e) {
                e.preventDefault();

                var url = $(this).attr('action');
                var type = $(this).attr('method');
                var data = $(this).serializeArray();

                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    success: function (response, textStatus, jqXHR) {
                        if (response.status) {
                            window.location.href = response.redirect_url + '#' + Base64.encode(response.mensagem).slice(0, -1);
                        } else {
                            var erros = response.erros.join('<br/>');
                            mostrarNotificacao('Corrija os seguintes erros para poder prosseguir!', erros);
                        }
                    },
                    error: function (request, textStatus, errorThrown) {
                        mostrarNotificacao('Não foi possível excluir!', errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Cadastro de Serviços Prestados
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">
                <a class='btn btn-primary' href="{{path('ima_telecom_admin_administrativo_servicos_prestados')}}">
                    Serviços Prestados
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow"> 
        {% set idservicoPrestado = 0 %}
        {% if servico.IdservicoPrestado is not null %}
            {% set idservicoPrestado = servico.IdservicoPrestado %}
        {% endif %}
        <form method='POST' action='{{path('ima_telecom_admin_administrativo_servicos_prestados_servico_prestado_salvar', { servicoPrestadoId: idservicoPrestado })}}'>
            <div class='row'>                
                <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group" title=''>
                        <label for="nome">Nome</label> <br />
                        <input class='width-100' id='nome' type="text" name="nome" placeholder="Nome do Serviço Prestado" value='{{servico.Nome}}'/>
                    </div>
                </div>
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-20" title=''>
                        <label for="tipo">Categoria</label> <br />                        
                        <select id='tipo' class='width-100 chosen-select' name='tipo' placeholder="Categoria" >                            
                            <option value='internet' {% if 'internet' == servico.Tipo %} selected {% endif %}>Internet</option>
                            <option value='multa' {% if 'multa' == servico.Tipo %} selected {% endif %}>Multa</option>
                            <option value='roteador' {% if 'roteador' == servico.Tipo %} selected {% endif %}>Roteador</option>
                            <option value='taxa' {% if 'taxa' == servico.Tipo %} selected {% endif %}>Taxa</option>
                        </select>
                    </div>
                </div>   
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-20" title=''>
                        <label for="tipoServicoPrestadoId">Tipo Serviço Prestado</label> <br />                        
                        <select id='tipoServicoPrestadoId' class='width-100 chosen-select' name='tipoServicoPrestadoId' placeholder="Tipo do Serviço Prestado" >
                            {% for tipoServico in tipoServicosPrestados %}
                                <option value='{{tipoServico.IdtipoServicoPrestado}}' {% if tipoServico.IdtipoServicoPrestado == servico.TipoServicoPrestadoId %} selected {% endif %}>{{tipoServico.Tipo|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>                     
            </div>
            <div class='row'> 
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-right-10" title=''>
                        <label for="download">Download</label> <br />
                        <input class='width-100' id='download' type="text" name="download" placeholder="Download" value='{{servico.Download}}'/>
                    </div>
                </div>  
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-10" title=''>
                        <label for="upload">Upload</label> <br />
                        <input class='width-100' id='upload' type="text" name="upload" placeholder="Upload" value='{{servico.Upload}}'/>
                    </div>
                </div>               
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-20" title=''>
                        <label for="franquia">Franquia</label> <br />
                        <input class='width-100' id='franquia' type="text" name="franquia" placeholder="Franquia" value='{{servico.Franquia}}'/>
                    </div>
                </div>             
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-20" title=''>
                        <label for="codigo">Código</label> <br />
                        <input class='width-100' id='codigo' type="text" name="codigo" placeholder="Código" value='{{servico.Codigo}}'/>
                    </div>
                </div>                    
            </div>
            <div class='row'> 
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-right-10" title=''>
                        <label for="garantiaBanda">Garantia de Banda</label> <br />
                        <input class='width-100' id='garantiaBanda' type="text" name="garantiaBanda" placeholder="Garantia de Banda" value='{{servico.GarantiaBanda}}'/>
                    </div>
                </div>
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-10" title=''>
                        <label for="tecnologia">Tecnologia</label> <br />                        
                        <select id='tecnologia' class='width-100 chosen-select' name='tecnologia' placeholder="Tecnologia" >                            
                            <option value='fibra' {% if 'fibra' == servico.Tecnologia %} selected {% endif %}>Fibra</option>
                            <option value='radio' {% if 'radio' == servico.Tecnologia %} selected {% endif %}>Rádio</option>
                            <option value='outro' {% if 'outro' == servico.Tecnologia %} selected {% endif %}>Outro</option>
                        </select>
                    </div>
                </div>
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-20" title=''>
                        <label for="plano">Plano</label> <br />                        
                        <select class='width-100 chosen-select' name='planoId'>
                            {% for plano in planos %}
                                <option value='{{plano.Idplano}}' {% if plano.Idplano == servico.PlanoId %} selected {% endif %}>{{plano.Nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group" title=''>
                        <label>Ativo</label> <br />
                        {#                        <input class='width-100' id='ativo' type="text" name="ativo" placeholder="Ativo" value='{{servico.Tecnologia}}'/>#}
                        <input id='ativo' type="checkbox" name="ativo" {% if servico.Ativo == '1' %} checked="true" {% endif %}>
                        <label for="ativo">Sim</label>
                    </div>
                </div>
                <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-6">
                    <div class="form-group p-left-10" title=''>
                        <label>Pré Pago</label> <br />
                        {#                        <input class='width-100' id='prePago' type="text" name="prePago" placeholder="Pré Pago" value='{{servico.Codigo}}'/>#}
                        <input id='prePago' type="checkbox" name="prePago" {% if servico.PrePago == '1' %} checked="true" {% endif %}>
                        <label for="prePago">Sim</label>
                    </div>
                </div>
            </div>
            <div class='row'>        
                {% if servico.IdservicoPrestado is not null %}
                    <div class="centro">
                        <div class="form-group date-footer">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <label>Data de Cadastro</label>
                                <p>{{servico.dataCadastro|date('d/m/Y')}}</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <label>Data de Alteração</label>
                                <p>{{servico.dataAlterado|date('d/m/Y')}}</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <label>Usuário de Alteração</label>
                                <p>{{servico.usuario.login}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class='row'>                        
                <div class="direita">
                    {% if servico.IdservicoPrestado is not null %}
                        <button type="reset" class="btn btn-primary">Cancelar Edição</button>                    
                        <a  class='btn btn-danger m-left-20'
                            href="{{path('ima_telecom_admin_administrativo_servicos_prestados')}}">
                            Excluir
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-success m-left-20">Gravar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}