{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    

    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />    
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <!-- https://github.com/tavicu/bs-confirmation -->
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/jquery.dotdotdot.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/administrativo/clientes.js') }}" ></script>

    <script>
        $(document).ready(function (e) {
            $('body').confirmation({
                selector: '[data-toggle="confirmation"]'
            });

            var searchString = '';
            $('table.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for servico in servicos %}
                        var opcoes = '<a href="{{ path('ima_telecom_admin_administrativo_servicos_prestados_servico_prestado', {servicoPrestadoId: servico.IdservicoPrestado}) }}" title="Editar Serviço" class="col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>';
                        opcoes += '<a data-toggle="confirmation" data-placement="top" data-title="Você têm certeza?" data-btn-ok-label="Sim" data-btn-cancel-label="Nãão" href="#" data-url="{{path('ima_telecom_admin_administrativo_servicos_prestados_servico_prestado_excluir', {servicoPrestadoId: servico.IdservicoPrestado})}}" title="Excluir Serviço" class="confirmation-excluir col-separator"><i class="icon fa fa-trash" aria-hidden="true"></i></a>';

                        var columns = [];
                        columns.push('<div class="centro">{{servico.IdservicoPrestado}}</div>');
                        columns.push('{{servico.Nome}}');
                        columns.push('<div style="vertical-align: middle" class="centro"><input type="checkbox" class="no-clicked" {% if servico.Ativo == '1' %} checked="true" {% endif %}><label></label></div>');
                        columns.push('<div class="centro">{{servico.Tipo}}</div>');
                        columns.push('<div class="centro">{{servico.Tecnologia}}</div>');                        
                        columns.push('<div class="direita">' + opcoes + '</div>');

                        if (columns.filter(filter).length !== 0) {
                            rows.push(columns);
                        }
        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);


                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }


                $('body').on('confirm.bs.confirmation', '.confirmation-excluir', function () {
                    var url = $(this).data('url');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {
                            if (response.status) {
                                var encode = Base64.encode(response.mensagem);
                                encode = encode.replaceAll('=', '');
                                window.location.href = response.redirect_url + '#' + encode;
                                location.reload();
                            } else {
                                var erros = response.erros.join('<br/>');
                                mostrarNotificacao('Não foi possível excluir!', erros);
                            }
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Não foi possível excluir!', errorThrown);
                        }
                    });
                });
            });                        
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Cartela de Serviços Prestados
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">
                    <a class="btn btn-primary" href="{{path('ima_telecom_admin_administrativo_servicos_prestados_servico_prestado')}}">
                        Novo Cadastro
                    </a>                  
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Nome</th>
                    <th>Ativo</th>
                    <th>Tipo</th>
                    <th>Tecnologia</th>                    
                    <th class='centro'>Opções</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}