{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    {#    <link href="{{ asset('bundles/imatelecom/css/admin/popup.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    {#    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>#}
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
    {#    <script src="{{ asset('bundles/imatelecom/js/administrativo/sicis.js') }}" ></script>#}

    <script>
        $(document).ready(function (e) {
            $('body').confirmation({
                selector: '[data-toggle="confirmation"]'
            });

            var searchString = '';
            $('table.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for sici in sicis %}
                        var opcoes = '';
            {% if competenciaAtualHeader.Id == sici.CompetenciaId %}
                            opcoes += '<a data-toggle="confirmation" data-placement="top" data-title="Você têm certeza?" data-btn-ok-label="Sim" data-btn-cancel-label="Nãão" href="#" data-url="{{path('ima_telecom_admin_administrativo_sicis_excluir_sici', { siciId: sici.Idsici })}}" title="Excluir Arquivo" class="confirmation-excluir col-separator"><i class="icon fa fa-trash" aria-hidden="true"></i></a>';
            {% endif %}
                            opcoes += '<a href="#" target="_blank" data-url="{{ path('ima_telecom_admin_administrativo_sicis_download_sici', { siciId: sici.Idsici }) }}" title="Download do Arquivo Excel" class="ajax col-separator"><i class="icon fa fa-download" aria-hidden="true"></i></a>';

                            var columns = [];
                            columns.push('<div class="centro">{{sici.Idsici}}</div>');
                            columns.push('{{sici.NomeArquivo}}');
                            columns.push('<div class="centro">{{sici.Ano ~ '/' ~ sici.Mes}}</div>');
                            columns.push('<div class="centro">{{sici.Competencia.Mes ~ '/' ~ sici.Competencia.Ano}}</div>');
                            columns.push('<div class="centro">{{sici.QtdeNotas}}</div>');
                            columns.push('<div class="centro">{{sici.QtdePontos}}</div>');
                            columns.push('<div class="direita">R$ {{sici.ValorTotal|number_format(2, '.', ',')}}</div>');
                            columns.push('<div class="direita">' + opcoes + '</div>');

                            if (columns.filter(filter).length !== 0) {
                                rows.push(columns);
                            }
        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);


                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }

                $('body').on('confirm.bs.confirmation', '.confirmation-excluir', function () {
                    var url = $(this).data('url');
                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {
                            if (response.status) {
                                var encode = Base64.encode(response.mensagem);
                                encode = encode.replaceAll('=', '');
                                window.location.href = response.redirect_url + '#' + encode;
                                location.reload();
                            } else {
                                var erros = response.erros.join('<br/>');
                                mostrarNotificacao('Não foi possível excluir!', erros);
                            }
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Não foi possível excluir!', errorThrown);
                        }
                    });
                });

                $('body').on('click', '.ajax', function (e) {
                    e.preventDefault();
                    var url = $(this).data('url');

                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {                            
                            if (response.status === true) {                                
                                if ('download_url' in response) {
                                    mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                                    window.location.href = response.download_url;
                                } else if ('redirect_url' in response) {
                                    var encode = Base64.encode(response.mensagem);
                                    encode = encode.replaceAll('=', '');
                                    window.location.href = response.redirect_url + '#' + encode;
                                    location.reload();
                                }
                            } else if (response.status === false) {
                                var erros = response.erros.join('<br/>');
                                mostrarNotificacao('Foi encontrado alguns erros!', erros);
                            }
                            /*
                            var isDownloaded = DownloadFile(response, textStatus, jqXHR);

                            if (isDownloaded === false) {
                                if (response.status) {
                                    var encode = Base64.encode(response.mensagem);
                                    encode = encode.replaceAll('=', '');
                                    window.location.href = response.redirect_url + '#' + encode;
                                    location.reload();
                                } else {
                                    var erros = response.erros.join('<br/>');
                                    mostrarNotificacao('Foi encontrado alguns erros!', erros);
                                }
                            } else {
                                mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                            }*/
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });

                function mostrarMensagemDownload(mensagem) {
                    $('#mensagem_alerta').text(mensagem);
                    $('#container_alerta').removeClass('oculto');
                    setTimeout(function () {
                        $('#container_alerta').addClass('oculto');
                    }, 30000);
                }
            });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Sicis Gerados
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a class="ajax btn btn-primary" href="#" data-url="{{path('ima_telecom_admin_administrativo_sicis_gerar_sici')}}">
                    Gerar Sici
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">
        <div id='container_alerta' class='row oculto'>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Bem Feeito!</h4>
                <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
                <hr class='separator-h-10'>
                <p id='mensagem_alerta' class="mb-0"></p>
            </div>
        </div>

        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Nome do Arquivo</th>
                    <th class='centro'>Ano/Mês Vencimento</th>
                    <th class='centro'>Competência</th>
                    <th class='centro'>Notas</th>
                    <th class='centro'>Pontos</th>
                    <th class='centro'>Valor</th>
                    <th class='centro'>Opções</th>
                </tr>
            </thead>
        </table>
    </div>

    {#<header class="menu-horizontal-main">
        <nav class="direita">
            <ul>
                <li>
                    <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_administrativo_sicis_gerar_sici')}}"
                       data-url-redirect="{{path('ima_telecom_admin_administrativo_sicis')}}"
                       class='gerar-arquivo-sici btn btn-primary'>
                        Gerar Sici
                    </a>                        
                </li>
            </ul>
        </nav>
    </header>#}

    {#<section>
        <div class="container-fluid">
            <div class="row"> 
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <table class='table'>
                        <thead>
                            <tr>
                                <th class='centro'>Código</th>
                                <th>Nome do Arquivo</th>
                                <th class='centro'>Ano/Mês Vencimento</th>
                                <th class='centro'>Competência</th>
                                <th class='centro'>Notas</th>
                                <th class='centro'>Pontos</th>
                                <th class='centro'>Valor</th>
                                <th class='centro'>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sici in sicis %}
                                <tr>
                                    <td class='centro'>{{sici.Idsici}}</td>
                                    <td>{{sici.NomeArquivo}}</td>
                                    <td class='centro'>{{sici.Ano ~ '/' ~ sici.Mes}}</td>
                                    <td class='centro'>{{sici.Competencia.Mes ~ '/' ~ sici.Competencia.Ano}}</td>
                                    <td class='centro'>{{sici.QtdeNotas}}</td>
                                    <td class='centro'>{{sici.QtdePontos}}</td>
                                    <td class='direita'>R$ {{sici.ValorTotal|number_format(2, '.', ',')}}</td>
                                    <td class='direita'>
                                        <a href="{{path('ima_telecom_admin_administrativo_sicis_download_sici', { siciId: sici.Idsici })}}"
                                           data-url-redirect="{{path('ima_telecom_admin_administrativo_sicis')}}" class='col-right'
                                           title='Download do Arquivo Excel'>
                                            <i class="icon fa fa-download" aria-hidden="true"></i>  
                                        </a>
                                        {% if competenciaAtualHeader.Id == sici.CompetenciaId %}
                                            <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_administrativo_sicis_excluir_sici', { siciId: sici.Idsici })}}"
                                               data-url-redirect="{{path('ima_telecom_admin_administrativo_sicis')}}"
                                               title='Excluir Arquivo'
                                               class='col-right excluir-arquivo-sici'>
                                                <i class="icon fa fa-trash" aria-hidden="true"></i>  
                                            </a>
                                        {% endif %}
                                    </td>                                   
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </section>#}

{% endblock %}