<html>
    <head>
        <!-- arvore -->
        <style>
            body {
                padding: 0;
                margin: 0;
            }
            table.arvore {
                border-collapse: collapse;
                border-spacing: 0;
            }
            
            table.arvore thead tr,
            table.arvore tfoot tr {
                height: 50px;
            }
            
            table.arvore thead th,
            table.arvore tfoot th {
                padding: 0;
            }
            
            table.arvore thead th {
                vertical-align: top;
            }
            
            table.arvore tfoot th {
                vertical-align: bottom;
            }
            
            table.arvore thead th p,
            table.arvore tfoot th p {
                width: 100%;
                font-weight: bold;
                font-size: 13pt;
                text-transform: uppercase;                
                border: 1px solid #666666;                
                padding: 4px 0px;
                background-color: #dedede;
            }

            table.arvore tbody td {                
                font-size: 11pt;
            }

            table.arvore tbody td.linha-arvore {
                border-right: 1px solid black;
            }
            
            table.arvore tbody td.filhote,
            table.arvore tbody td.macho,
            table.arvore tbody td.femea {                
                border: 1px solid black;
            }

            table.arvore tbody td.filhote p,
            table.arvore tbody td.macho p,
            table.arvore tbody td.femea p {
                width: 150px;
                max-width: 150px;
                padding: 3px 10px;
            }

            table.arvore tbody td.macho {
                background: #D7EEF4;
            }

            table.arvore tbody td.femea {
                background: #F4D7E3;
            }
            
            table.arvore tbody td.espaco-arvore-tataravos {
                height: 50px;
            }
        </style>
        
        <style>
            @page {
                size: A4;
                margin: 0;
            }
            
            @media print {                
                html, body {
                  width: 210mm;
                  height: 297mm;
                }
                
                body * {
                    -webkit-print-color-adjust: exact;
                }
                
                div.arvore-options {
                    display: none;
                }
                
                @page {                    
                    /* you can also specify margins here: */                    
                    margin: 10mm;
                }
                
                table.arvore {
                    margin: 0 auto;
                    border-collapse: collapse;
                    border-spacing: 0;
                }
                
                table.arvore tbody td.filhote p,
                table.arvore tbody td.macho p,
                table.arvore tbody td.femea p {
                    /*width: 100px;
                    max-width: 125px;*/
                } 
                    
                table.arvore tfoot {
                    display: none;
                }
            }
        </style>
        
        
        
        <!-- cracha -->
        <style>
            table.cracha {
                border-collapse: collapse;
                border-spacing: 0;
                border: 5px solid black;
                
                width: 350px;
                max-width: 350px;{#
                height: 200px;
                max-height: 200px;#}
                
                margin: 50px;
            }
            
            table.cracha tbody td.topo {
                padding-top: 3px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 3px;
                vertical-align: top;
            }
            
            table.cracha tbody td.container-dados {
                padding-top: 0px;
                padding-bottom: 3px;
                padding-left: 5px;
                padding-right: 5px;
            }
            
            table.cracha tbody td.container-logo {
                max-width: 100px;
                width: 100px;
                text-align: center;
                vertical-align: middle;                
            }
            
            table.cracha tbody td.container-logo img {
                max-width: 100px;
                width: 100px;
            }
            
            table.cracha tbody td ul.cabecalho,
            table.cracha tbody td ul.corpo {
                list-style: none;
                padding: 0px;
                margin: 0px;
            }
            
            table.cracha tbody td ul.cabecalho li {
                text-align: center;                
            }
            
            table.cracha tbody td ul.cabecalho li:first-child {
                text-transform: uppercase;
                font-weight: bold;
            }
            
            table.cracha tbody td ul.corpo li {
                text-transform: uppercase;
            }
            
            table.cracha tbody td ul.corpo li label {
                font-weight: bold;                
            }
            
            table.cracha tbody td ul.corpo li label,
            table.cracha tbody td ul.corpo li span {
                font-size: 10pt;
            }
        </style>
    </head>
    <body>                
        <div class="arvore-options">
            <select>
                <option>teste</option>
            </select>
            <a href="javascript:window.print();">Imprimir</a>
        </div>
        
        <table class="cracha">
            <tbody>
                <tr>
                    <td class="topo container-logo">
                        <a href="#">
                            <img src="{{asset('bundles/apipagseguro/images/4.jpg')}}" alt="logo nome" title="logo nome" />
                        </a>
                    </td>
                    <td class="topo">
                        <ul class="cabecalho">
                            <li>NOME FANTASIA</li>
                            <li>Telefone</li>
                            <li>email</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="container-dados" colspan="2">
                        <ul class="corpo">
                            <li>
                                <label>Sisspass: </label>
                                <span>Teste</span>
                                <label>nome científico: </label>
                                <span>Teste</span>
                            </li>
                            <li>
                                <label>NOME: </label>
                                <span>Teste</span>
                            </li>
                            <li>
                                <label>Pai: </label>
                                <span>Teste</span>
                            </li>
                            <li>
                                <label>Mãe: </label>
                                <span>Teste</span>
                            </li>
                            
                            <li>
                                <label>Proprietário: </label>
                                <span>Teste</span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>            
        </table>
        
        
        
        
        
        
        <table class="arvore">
            <thead>
                <tr>
                    <th>
                        <p>filho</p>
                    </th>
                    <th>
                        <p>pais</p>
                    </th>
                    <th>
                        <p>avós</p>
                    </th>
                    <th>
                        <p>bisavós</p>
                    </th>
                    <th>
                        <p>tataravós</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>                                        
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td class=""></td>                                        
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td></td>
                    <td></td>                                       
                </tr>
                <tr>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>                                        
                </tr>
                <tr>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>                                        
                </tr>
                <tr>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>                                        
                </tr>                                
                <tr>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td></td>                                        
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>
                    <td></td>                                       
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>                                        
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td class="filhote ">
                        <p>Filhote</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                                        
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td></td>                                        
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td></td>
                    <td></td>                                       
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="linha-arvore"></td>
                    <td></td>
                    <td class="macho">
                        <p>Macho</p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>Fêmea</p>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="femea">
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        <p>filho</p>
                    </th>
                    <th>
                        <p>pais</p>
                    </th>
                    <th>
                        <p>avós</p>
                    </th>
                    <th>
                        <p>bisavós</p>
                    </th>
                    <th>
                        <p>tataravós</p>
                    </th>
                </tr>                
            </tfoot>
        </table>
    </body>
</html>