/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/11/2017, 11:22:53
    Author     : jrodolfo
*/

div.container-item-nota {
    position: absolute;    
    z-index: 9999;
    width: 400px;
    max-width: 400px;
    max-height: 200px;
    border: 2px solid #031f14;
    border-radius: 5px;
    background: #0d3a29;
    padding: 0px 5px 5px 5px;     


    -webkit-box-shadow: 0px 0px 20px 9999px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 20px 9999px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 20px 9999px rgba(50, 50, 50, 0.75);
}

div.container-item-nota div.container-topo {
    text-align: right;
    background: #031f14;
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;        
}

div.container-item-nota div.container-topo h4 {
    width: 300px;
    max-width: 300px;        
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    text-align: left;
    float:left;
}

div.container-item-nota div.container-topo a {
    font-weight: bold;
    font-size: 14pt;
    color: white;
    line-height: 30px;
}

div.container-item-nota div.container-topo a:hover,
div.container-item-nota div.container-topo a:focus {
    text-decoration: none;
}

div.container-item-nota table {
    color: white;
}