/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2018, 09:37:36
    Author     : jrodolfo
*/

.links-inline {
    list-style: none;
    padding: 0;
}

.links-inline li {
    display: inline-block;
}