<div class="card-simple overflow no-margin p-bottom-0">
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/agencias-bancarias-agencia.js') }}" ></script>

    <form id='formulario_agencia' method='POST' action='{{ path('ima_telecom_admin_financeiro_agencias_bancarias_agencia_salvar', {agenciaBancariaId: agencia.IdbancoAgencia}) }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados da Agência Bancária</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gravar' />
            </div>
        </div>

        <hr>

        <h4>Agência Bancária</h4>
        <div class="row">
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10">
                    <label for='nome' class='dotdotdot' title='Nome da Agência'>Nome da Agência</label>
                    <input id='nome' type='text' class="form-control" name='nome' value="{{agencia.Nome}}"/>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label for='agencia' class='dotdotdot' title='Número da Agência'>Número da Agência</label>
                    <input id='agencia' type='text' class="form-control direita" name='numeroAgencia' value="{{agencia.Agencia}}"/>
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10">
                    <label for='digitoVerificador' class='dotdotdot' title='Digito Verificador'>D.V</label>
                    <input id='digitoVerificador' type='text' class="form-control direita" name='digitoVerificador' value="{{agencia.DigitoVerificador}}"/>
                </div>
            </div>
        </div>

        <h4>Endereço da Agência</h4>
        <div class='row'>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label for='rua' class='dotdotdot' title='Endereço'>Endereço</label>
                    <input id='rua' type="text" class="form-control" name='rua' value="{{enderecoAgencia.Rua}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">                  
                <div class="form-group p-left-10 p-right-10">
                    <label for='num' class='dotdotdot' title='Número'>Número</label>
                    <input id='num' type="text" class="form-control" name='num' value="{{enderecoAgencia.Num}}">
                </div>
            </div>           
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label for='bairro' class='dotdotdot' title='Bairro'>Bairro</label>
                    <input id='bairro' type="text" class="form-control" name='bairro' value="{{enderecoAgencia.Bairro}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                <div class="form-group p-left-10">
                    <label for='cep' class='dotdotdot' title='CEP'>CEP</label>
                    <input id='cep' type="text" class="form-control" name='cep' value="{{enderecoAgencia.Cep}}">
                </div>
            </div>

            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label for='complemento' class='dotdotdot' title='Complemento'>Complemento</label>
                    <input id='complemento' type="text" class="form-control" name='complemento' value="{{enderecoAgencia.Complemento}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label for='pontoReferencia' class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
                    <input id='pontoReferencia' type="text" class="form-control" name='pontoReferencia' value="{{enderecoAgencia.PontoReferencia}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">            
                {% set cidades = enderecoAgencia.Cidades %}
                {% set cidadeAtual = enderecoAgencia.Cidade %}

                <div class="form-group p-left-10">
                    <label for='cidade' class='dotdotdot' title='Município'>Município</label>
                    <select id='cidade' class='width-100 chosen-select' name='cidadeId' placeholder="Informe a Cidade">
                        {% for cidade in cidades %}
                            <option value="{{cidade.idcidade}}" data-value='{{cidade.Municipio|replace({' ': '_'})}}' {% if enderecoAgencia.cidadeId == cidade.idcidade %} selected {% endif %}>{{cidade.municipio}} / {{cidade.uf}}</option>                                            
                        {% endfor %}
                    </select>

                </div>
            </div>
        </div>

        {% if agencia.IdbancoAgencia is not null and agencia.IdbancoAgencia != 0 %}
            <div class='row centro'>            
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Cadastro</label>
                        <p>{{agencia.DataCadastro|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Alteração</label>
                        <p>{{agencia.DataAlterado|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Usuário de Alteração</label>
                        <p>{{agencia.Usuario.Login}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>