{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/agencias-bancarias.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Agências Bancárias
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="#" class="ajax btn btn-primary" data-title="Cadastrar Agência Bancária"
                   data-url="{{path('ima_telecom_admin_financeiro_agencias_bancarias_agencia', {agenciaBancariaId: 0})}}">
                    Cadastrar Agência
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Nome</th>
                    <th class='direita'>Agência</th>
                    <th class='direita'>DV</th>
                    <th class='direita'>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for agencia in agencias %}
                    <tr>
                        <td class='centro'>{{agencia.IdbancoAgencia}}</td>
                        <td>{{agencia.Nome}}</td>
                        <td class='direita'>{{agencia.Agencia}}</td>
                        <td class='direita'>{{agencia.DigitoVerificador}}</td>
                        <td class='direita'>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_agencias_bancarias_agencia', {agenciaBancariaId: agencia.IdbancoAgencia}) }}" data-title="Cadastro da Agência Bancária" title="Cadastro da Agência Bancária" class="ajax col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}