{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/bancos.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Agências Bancárias
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="#" class="ajax btn btn-primary" data-title="Cadastrar Banco"
                   data-url="{{path('ima_telecom_admin_financeiro_bancos_banco', {bancoId: 0})}}">
                    Cadastrar Banco
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Nome</th>
                    <th class='direita'>Cód. Febraban</th>
                    <th class='centro'>Ativo</th>
                    <th class='direita'>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for banco in bancos %}
                    <tr>
                        <td class='centro'>{{banco.Idbanco}}</td>
                        <td>{{banco.Nome}}</td>
                        <td class='direita'>{{banco.CodigoFebraban}}</td>
                        <td class='centro'>
                            <input type="checkbox" class="no-clicked" {% if banco.Ativo == '1' %} checked="true" {% endif %}><label></label>
                        </td>
                        <td class='direita'>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_bancos_banco', {bancoId: banco.Idbanco}) }}" data-title="Cadastro do Banco" title="Cadastro do Banco" class="ajax col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}