<div class="card-simple overflow no-margin p-bottom-0">
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/bancos-banco.js') }}" ></script>

    <form id='formulario_banco' method='POST' action='{{ path('ima_telecom_admin_financeiro_bancos_banco_salvar', {bancoId: banco.Idbanco}) }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados Bancários</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gravar' />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10">
                    <label for='nome' class='dotdotdot' title='Nome do Banco'>Nome do Banco</label>
                    <input id='nome' type='text' class="form-control" name='nome' value="{{banco.Nome}}"/>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label for='codigoFebraban' class='dotdotdot' title='Código Febraban'>Código Febraban</label>
                    <input id='codigoFebraban' type='text' class="form-control direita" name='codigoFebraban' value="{{banco.CodigoFebraban}}"/>
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10">
                    <label>Ativo</label> <br />
                    <input id='ativo' name='ativo' type="checkbox" {% if banco.Ativo == '1' %} checked="true" {% endif %}>
                    <label for='ativo'>Sim</label>                
                </div>
            </div>
        </div>       

        {% if banco.Idbanco is not null and banco.Idbanco != 0 %}
            <div class='row centro'>            
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Cadastro</label>
                        <p>{{banco.DataCadastro|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Alteração</label>
                        <p>{{banco.DataAlterado|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Usuário de Alteração</label>
                        <p>{{banco.Usuario.Login}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>