<div class="card-simple overflow no-margin p-bottom-0">
    <script src="{{ asset('bundles/imatelecom/js/jquery.mask.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas-realizacao-baixa.js') }}" ></script>
    <style>
        #descricaoMovimento {
            height: 108px;
        }

        table#formas_pagamento thead th {
            padding-top: 0px;
        }

        .container-currency {
            vertical-align: middle;
            line-height: 25pt;
            text-align: center;
        }
    </style>

    <form id='formulario_realizacao_baixa' method='POST' action='{{ path('ima_telecom_admin_financeiro_cobrancas_realizacao_baixa_realizar_baixa') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados para a Realização da Baixa</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar Baixa' />
                <input type='submit' class='btn btn-success m-left-20' value='Realizar Baixa' />
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                    {#<div class="form-group p-right-10">
                        <label for='dataPagamento' class='dotdotdot' title='Data do Pagamento'>Data do Pagamento</label><br/>
                        <input class='width-100 form-control' id='dataPagamento' type="text" name="dataPagamento" placeholder="Data do Pagamento" value=''/>
                    </div>#}
                    <div class="form-group p-right-10" title='Conta Caixa'>
                        <label for="contaCaixa" class='dotdotdot' title='Conta Caixa'>
                            Conta Caixa
                        </label>
                        <select id='contaCaixa' class='width-100 chosen-select' placeholder="Conta Caixa">
                            {% for contaCaixa in contasCaixa %} 
                                <option value='{{contaCaixa.IdcontaCaixa}}'>{{contaCaixa.Descricao|capitalize}}</option>  
                            {% endfor %}                      
                        </select>
                    </div>
                </div>

                <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                    <div class="form-group p-left-10 p-right-10">
                        <label for='dataBaixa' class='dotdotdot' title='Data da Baixa'>Data da Baixa</label><br/>
                        <input class='width-100 form-control' autocomplete='off' id='dataBaixa' type="text" name="dataBaixa" placeholder="Data da Baixa" value=''/>
                    </div>
                </div>
            </div>

            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6"> 
                <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                        <div class="form-group p-left-10 p-right-10" title='Forma de Pagamento'>
                            <label for="formaPagamento" class='dotdotdot' title='Forma de Pagamento'>
                                Forma de Pagamento
                            </label>
                            <select id='formaPagamento' class='width-100 chosen-select' placeholder="Forma de Pagamento">
                                {% for formaPagamento in formasPagamento %} 
                                    <option value='{{formaPagamento.IdformaPagamento}}' data-tem-numero-documento='{{formaPagamento.TemNumeroDocumento}}'>{{formaPagamento.Nome|capitalize}}</option>  
                                {% endfor %}                      
                            </select>
                        </div>
                    </div>
                    <div>
                        <a href='#' onClick='AdicionarFormaPagamento(this);' class='btn btn-success v-align-bottom m-left-10 m-right-10'>Adicionar</a>
                    </div>
                </div>   
            </div>          
        </div>

        <div class='row'>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class='p-right-10'>
                    <table id='formas_pagamento'>
                        <thead>
                            <tr>
                                <th class='centro'>Tipo</th>
                                <th class='centro'>Nº Documento</th>
                                <th class='direita'>Valor Total</th>
                                <th class='direita'>Opções</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                    <div class="form-group  p-left-10 p-right-10" title='Valor Forma de Pagamento'>
                        <label for="valorFormaPagamento" class='dotdotdot' title='Valor Forma de Pagamento'>
                            Valor Forma de Pagamento
                        </label>
                        <input class='width-100 form-control direita money' id='valorFormaPagamento' autocomplete='off' type="text" placeholder="Valor Forma de Pagamento" value=''/>
                    </div>
                </div>
                <div id='container_numero_documento' class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">                
                    <div class="form-group p-left-10" title='Número do Documento'>
                        <label for="numeroDocumento" class='dotdotdot' title='Número do Documento'>
                            Número do Documento
                        </label>
                        <input class='width-100 form-control' id='numeroDocumento' autocomplete='off' type="text" placeholder="Número do Documento" value=''/>
                    </div>
                </div>
            </div>
        </div>

        <div class='row'>
            <table id='lancamentos_selecionados'>
                <thead>
                    <tr>
                        <th class='centro'>Selecionar</th>
                        <th class='centro'>Cód. Cobrança</th>
                        <th class='direita'>Valor Original</th>
                        <th class='direita'>Valor Multa</th>
                        <th class='direita'>Valor Juros</th>
                        <th class='direita'>Valor Desconto</th>
                        <th class='direita'>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lancamento in lancamentos %}
                        <tr>
                            <td>
                                <input type='hidden' id='container_linha_{{lancamento.Idboleto}}'                                           
                                       data-id-lancamento='{{lancamento.Idboleto}}'
                                       data-id-checkbox='#lancamento_{{lancamento.Idboleto}}'
                                       data-id-valor-original="#valor_original_{{lancamento.Idboleto}}"
                                       data-id-valor-multa="#valor_multa_{{lancamento.Idboleto}}"
                                       data-id-valor-juros="#valor_juros_{{lancamento.Idboleto}}"
                                       data-id-valor-desconto="#valor_desconto_{{lancamento.Idboleto}}"
                                       data-id-valor-total="#valor_total_{{lancamento.Idboleto}}" />

                                <div class="centro">
                                    <input id="lancamento_{{lancamento.Idboleto}}" title="Selecionar Lançamento" checked="true" data-container-linha='#container_linha_{{lancamento.Idboleto}}'
                                           type="checkbox" name="selecionarLancamento" class="selecionar-lancamento" value="">
                                    <label for="lancamento_{{lancamento.Idboleto}}"></label>
                                </div>
                            </td>
                            <td class='centro'>{{lancamento.Idboleto}}</td>
                            <td id='valor_original_{{lancamento.Idboleto}}' class='direita valor-original' data-valor-original="{{lancamento.Valor|number_format(2, '.', ',')}}">R$ {{lancamento.Valor|number_format(2, ',', '.')}}</td>
                            <td class='direita'>
                                <label class="no-padding col-lg-2 col-sm-2 col-md-2 col-xs-2 container-currency">
                                    R$
                                </label>
                                <div class="no-padding col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                    <input id='valor_multa_{{lancamento.Idboleto}}' class='width-100 form-control direita alteracao-valor-lancamento money'
                                           data-container-linha='#container_linha_{{lancamento.Idboleto}}' autocomplete='off' 
                                           type="text" value='R$ 0,00'/>
                                </div>
                            </td>
                            <td class='direita'>
                                <label class="no-padding col-lg-2 col-sm-2 col-md-2 col-xs-2 container-currency">
                                    R$
                                </label>
                                <div class="no-padding col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                    <input id='valor_juros_{{lancamento.Idboleto}}' class='width-100 form-control direita alteracao-valor-lancamento money'
                                           data-container-linha='#container_linha_{{lancamento.Idboleto}}' autocomplete='off' 
                                           type="text" value='R$ 0,00'/>
                                </div>
                            </td>
                            <td class='direita'>
                                <label class="no-padding col-lg-2 col-sm-2 col-md-2 col-xs-2 container-currency">
                                    R$
                                </label>
                                <div class="no-padding col-lg-10 col-sm-10 col-md-10 col-xs-10">
                                    <input id='valor_desconto_{{lancamento.Idboleto}}' class='width-100 form-control direita alteracao-valor-lancamento money'
                                           data-container-linha='#container_linha_{{lancamento.Idboleto}}' autocomplete='off'                                       
                                           type="text" value='R$ 0,00'/>
                                </div>
                            </td>
                            <td id='valor_total_{{lancamento.Idboleto}}' class='direita valor-total' data-valor-total="{{lancamento.Valor|number_format(2, '.', ',')}}">R$ {{lancamento.Valor|number_format(2, ',', '.')}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class='row'>            
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10 direita" title='Valor Original'>
                    <label for="valorOriginal" class='dotdotdot' title='Valor Original'>
                        Valor Original (R$)
                    </label>
                    <input class='width-100 form-control direita' autocomplete='off' readonly=true id='valorOriginal' type="text" name="valorOriginal" placeholder="Valor Original" value=''/>
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 direita" title='Valor Multa'>
                    <label for="valorMulta" class='dotdotdot' title='Valor Multa'>
                        Valor Multa (R$)
                    </label>
                    <input class='width-100 form-control direita alteracao-lancamentos money' autocomplete='off' id='valorMulta' type="text" name="valorMulta" placeholder="Valor Multa" value=''/>
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 direita" title='Valor Juros'>
                    <label for="valorJuros" class='dotdotdot' title='Valor Juros'>
                        Valor Juros (R$)
                    </label>
                    <input class='width-100 form-control direita alteracao-lancamentos money' autocomplete='off' id='valorJuros' type="text" name="valorJuros" placeholder="Valor Juros" value=''/>
                </div>
            </div>                             
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 direita" title='Valor Desconto'>
                    <label for="valorDesconto" class='dotdotdot' title='Valor Desconto'>
                        Valor Desconto (R$)
                    </label>
                    <input class='width-100 form-control direita alteracao-lancamentos money' autocomplete='off' id='valorDesconto' type="text" name="valorDesconto" placeholder="Valor Desconto" value=''/>
                </div>
            </div>     
            {#            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6"></div>  #}
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10 direita" title='Valor Total'>
                    <label for="valorTotal" class='dotdotdot' title='Valor Total'>
                        Valor Total (R$)
                    </label>
                    <input class='width-100 form-control direita' readonly=true id='valorTotal' autocomplete='off' type="text" name="valorTotal" placeholder="Valor Total" value=''/>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="form-group">
                    <label for='descricaoMovimento' class='dotdotdot' title='Descrição do Movimento'>Descrição do Movimento</label>
                    <textarea id='descricaoMovimento' class="form-control" autocomplete='off' name='descricaoMovimento' placeholder="Descrição do Movimento" rows="5"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>