<div class="card-simple overflow no-margin">
    <script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas-historico-por-cobranca.js') }}" ></script>

    <div class='row'>        
        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
            <div class="form-group p-right-10 no-margin">
                <label class='dotdotdot' title='Cliente/Fornecedor'>Cliente/Fornecedor</label>
                <input readonly type="text" class="form-control" value="{{nomeFornecedor}}" title="{{nomeFornecedor}}">
            </div>
        </div>
    </div>

    <hr class="m-top-15 m-bottom-15">

    <div class='row'>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding m-bottom-15">
            <h4>Históricos da Cobrança</h4>
        </div>

        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <table id='contas_bancarias' class='table no-margin'>
                <thead>
                    <tr>
                        <th class="centro">Código</th>
                        <th class="centro">Status</th>
                        <th class="direita">Vencimento</th>
                        <th class="direita">Data de Alteração</th>
                        <th class="direita">Usuário</th>
                        <th class="direita">Opções</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for historico in historicos %}
                        <tr>
                            <td class="centro">{{historico.IdboletoBaixaHistorico}}</td>
                            <td class="centro">
                                {% if historico.Status == 'em_aberto' %}
                                    Em Aberto
                                {% else %}
                                    {{historico.Status|capitalize}}
                                {% endif %}
                            </td>
                            <td class="direita">{{historico.DataVencimento|date('d/m/Y')}}</td>
                            <td class="direita">{{historico.DataAlterado|date('d/m/Y H:i:s')}}</td>
                            <td class="direita">{{historico.Usuario.Login}}</td>
                            <td class="direita">
                                <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_cobrancas_historico_por_cobranca_detalhes', {cobrancaId: historico.BoletoId, historicoId: historico.IdboletoBaixaHistorico}) }}" 
                                   title="Detalhes do Histórico" onClick='javascript:CarregarDetalhesHistorico(this);' 
                                   class="col-separator"><i class="icon fa fa-info" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>        
    </div>

    <div id='container_detalhes_historico' class='oculto'>
        <div class='row'>
            <h4>Lançamento</h4>
            <div class="no-padding col-sm-5 col-lg-5 col-md-5 col-xs-5">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Convênio'>Convênio</label>
                    <input id='convenioNome' readonly type="text" class="form-control" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Número do Convênio'>Número do Convênio</label>
                    <input id='convenioNumero' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Dígito Verficador do Convênio'>D.V</label>
                    <input id='convenioDigitoVerificador' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Sequencial do Arquivo de Cobrança'>Sequencial</label>
                    <input id='sequencialArquivoCobranca' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Competência do Lançamento'>Competência</label>
                    <input id='lancamentoCompetencia' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
        </div>

        <div class='row'>
            <h4>Cliente</h4>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Nome do Cliente'>Nome</label>
                    <input id='clienteNome' readonly type="text" class="form-control" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Tipo do Cliente'>Tipo</label>
                    <input id='clienteTipoPessoa' readonly type="text" class="form-control" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='CPF/CNPJ do Cliente'>CPF/CNPJ</label>
                    <input id='clienteCpfCnpj' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
        </div>

        <div class='row'>
            <h4>Cobrança</h4>
            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <div class="form-group p-right-10">
                        <label class='dotdotdot' title='Vencimento da Cobrança'>Vencimento</label>
                        <input id='cobrancaVencimento' readonly type="text" class="form-control direita" value="">
                    </div>
                </div>
                <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <div class="form-group p-left-10 p-right-10">
                        <label class='dotdotdot' title='Numero do Documento'>Nº do Documento</label>
                        <input id='cobrancaNumeroDocumento' readonly type="text" class="form-control direita" value="">
                    </div>
                </div>
                <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
                    <div class="form-group p-left-10 p-right-10">
                        <label class='dotdotdot' title='Código do Movimento'>Cód. do Movimento</label>
                        <input id='cobrancaCodigoMovimento' readonly type="text" class="form-control direita" value="">
                    </div>
                </div>

                <div class="no-padding col-sm-5 col-lg-5 col-md-5 col-xs-5">
                    <div class="form-group p-left-10">
                        <label class='dotdotdot' title='Descrição do Movimento'>Descrição do Movimento</label>
                        <textarea readonly id='cobrancaDescricaoMovimento' class="form-control" rows="2"></textarea>
                    </div>
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Valor Original da Cobrança'>Valor Original</label>
                    <input id='cobrancaValorOriginal' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Valor Multa da Cobrança'>Valor Multa</label>
                    <input id='cobrancaValorMulta' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10  p-right-10">
                    <label class='dotdotdot' title='Valor Juros da Cobrança'>Valor Juros</label>
                    <input id='cobrancaValorJuros' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Valor Desconto da Cobrança'>Valor Desconto</label>
                    <input id='cobrancaValorDesconto' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Valor Total da Cobrança'>Valor Total</label>
                    <input id='cobrancaValorTotal' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Valor do Custo da Tarifa'>Valor da Tarifa</label>
                    <input id='cobrancaValorTarifa' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Data do Pagamento'>Data do Pagamento</label>
                    <input id='cobrancaDataPagamento' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Data da Recusa'>Data da Recusa</label>
                    <input id='cobrancaDataRecusa' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Status da Cobrança'>Status da Cobrança</label>
                    <input id='cobrancaStatus' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-9 col-lg-9 col-md-9 col-xs-9">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Mensagem de Retorno'>Mensagem de Retorno</label>
                    <textarea readonly id='cobrancaMensagemRetorno' class="form-control" rows="2"></textarea>
                </div>
            </div>
        </div>

        <div class='row'>
            <h4>Dados da Baixa</h4>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Conta Caixa'>Conta Caixa</label>
                    <input id='baixaContaCaixa' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Data da Baixa'>Data da Baixa</label>
                    <input id='baixaDataBaixa' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Data do Pagamento'>Data do Pagamento</label>
                    <input id='baixaDataPagamento' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Usuário da Baixa'>Usuário da Baixa</label>
                    <input id='baixaUsuarioBaixa' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Valor Original da Baixa'>Valor Original</label>
                    <input id='baixaValorOriginal' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Valor Multa da Baixa'>Valor Multa</label>
                    <input id='baixaValorMulta' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10  p-right-10">
                    <label class='dotdotdot' title='Valor Juros da Baixa'>Valor Juros</label>
                    <input id='baixaValorJuros' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Valor Desconto da Baixa'>Valor Desconto</label>
                    <input id='baixaValorDesconto' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Valor Total da Baixa'>Valor Total</label>
                    <input id='baixaValorTotal' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Competência da Baixa'>Competência da Baixa</label>
                    <input id='baixaCompetencia' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="form-group">
                    <label class='dotdotdot' title='Descrição do Movimento'>Descrição do Movimento</label>
                    <textarea readonly id='baixaDescricaoMovimento' class="form-control" rows="2"></textarea>
                </div>
            </div>

            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                    <label class='dotdotdot' title='Formas de Pagamento'>Formas de Pagamento</label>
                    <table id='baixaFormasPagamento' class='table'>
                        <thead>
                            <tr>
                                {#<th class='centro'>Código</th>#}
                                <th>Forma de Pagamento</th>
                                <th class='direita'>Número do Documento</th>
                                <th class='direita'>Valor</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>                        
        </div>

        <div class='row'>
            <h4>Dados do Estorno</h4>
            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <div class="form-group p-right-10">
                        <label class='dotdotdot' title='Conta Caixa'>Conta Caixa</label>
                        <input id='estornoContaCaixa' readonly type="text" class="form-control direita" value="">
                    </div>
                </div>
                <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <div class="form-group p-left-10 p-right-10">
                        <label class='dotdotdot' title='Data do Estorno'>Data do Estorno</label>
                        <input id='estornoDataEstorno' readonly type="text" class="form-control direita" value="">
                    </div>
                </div>
                <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                    <div class="form-group p-left-10">
                        <label class='dotdotdot' title='Usuário do Estorno'>Usuário do Estorno</label>
                        <input id='estornoUsuarioEstorno' readonly type="text" class="form-control direita" value="">
                    </div>
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Valor Original do Estorno'>Valor Original</label>
                    <input id='estornoValorOriginal' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Valor Multa do Estorno'>Valor Multa</label>
                    <input id='estornoValorMulta' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10  p-right-10">
                    <label class='dotdotdot' title='Valor Juros do Estorno'>Valor Juros</label>
                    <input id='estornoValorJuros' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Valor Desconto do Estorno'>Valor Desconto</label>
                    <input id='estornoValorDesconto' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Valor Total do Estorno'>Valor Total</label>
                    <input id='estornoValorTotal' readonly type="text" class="form-control direita" value="">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Competência do Estorno'>Competência do Estorno</label>
                    <input id='estornoCompetencia' readonly type="text" class="form-control direita" value="">
                </div>
            </div>

            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="form-group">
                    <label class='dotdotdot' title='Descrição do Movimento'>Descrição do Movimento</label>
                    <textarea readonly id='estornoDescricaoMovimento' class="form-control" rows="2"></textarea>
                </div>
            </div>
        </div>

        <div class='row centro'>            
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Cadastro</label>
                    <p id='dataCadastro'></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Data de Alteração</label>
                    <p id='dataAlterado'></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                <div class="form-group">
                    <label>Usuário de Alteração</label>
                    <p id='usuarioAlterado'></p>
                </div>
            </div>
        </div>
    </div>
</div>