<div class="card-simple overflow no-margin p-bottom-0">
    <script src="{{ asset('bundles/imatelecom/js/jquery.mask.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas-geracao-cobranca-contas-a-pagar.js') }}" ></script>
    
    <div id='container_alerta' class='row oculto'>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem Feeito!</h4>
            <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
            <hr class='separator-h-10'>
            <p id='mensagem_alerta' class="mb-0"></p>
        </div>
    </div>
    
    <form id='formulario_geracao_cobrancas' method='POST' action='{{ path('ima_telecom_admin_financeiro_cobrancas_geracao_cobranca_contas_a_pagar_geracao_por_fornecedor') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados para a Geração do Contas à Pagar</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gerar Contas à Pagar' />
            </div>
        </div>

        <hr>

        <div class='row'>                   
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10" title=''>
                    <label for="fornecedor" class='dotdotdot' title='Fornecedor'>
                        Fornecedor
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar a Cobrança somente para o Fornecedor especificado."></span>
                    </label>
                    <select id='fornecedor' class='width-100 chosen-select' name='fornecedorId' placeholder="Informe o Fornecedor">                        
                        {% for fornecedor in fornecedores %}
                            <option value="{{fornecedor.Idfornecedor}}">{{fornecedor.getNomePessoa}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-left-10" title=''>
                    <label for="competencia" class='dotdotdot' title='Competência'>
                        Competência
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar a Cobrança para a Competência selecionada."></span>
                    </label>                                                    

                    <select id='competencia' class='width-100 chosen-select' name='competencia' placeholder="Competência" >                            
                        {% for competencia in competencias %}
                            <option value='{{competencia.Id}}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>            
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10">
                    <label for='vencimento' class='dotdotdot' title='Vencimento da Cobrança'>Vencimento da Cobrança</label><br/>
                    <input class='width-100 form-control' id='vencimento' type="text" name="vencimento" placeholder="Vencimento da Cobrança" value=''/>
                </div>
            </div>  
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-left-10">
                    <label for='valor' class='dotdotdot' title='Valor da Cobrança'>Valor da Cobrança</label><br/>
                    <input class='width-100 form-control direita money' id='valor' type="text" name="valor" placeholder="Valor da Cobrança" value=''/>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="form-group">
                    <label for='descricaoMovimento' class='dotdotdot' title='Descrição do Movimento'>Descrição do Movimento</label>
                    <textarea id='descricaoMovimento' class="form-control" name='descricaoMovimento' placeholder="Descrição do Movimento" rows="5"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>