{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/daterangepicker.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/moment.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/moment-with-locales.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/daterangepicker.js') }}" ></script> 
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 no-padding">
                Cobranças Geradas
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-padding direita">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <select id='tipo_lancamento' class='simple' placeholder="Tipo do Lançamento" >                    
                        {% for tipoLancamento in tiposLancamento %}
                            <option data-url='{{ path('ima_telecom_admin_financeiro_cobrancas_por_competencia', {competenciaId: competenciaAtual.Id, tipoLancamento: tipoLancamento.Tipo} ) }}' 
                                    value='{{tipoLancamento.Tipo}}' {% if tipoLancamentoAtual == tipoLancamento.Tipo %} selected {% endif %}>{{tipoLancamento.Nome }}</option>
                        {% endfor %}
                    </select>   

                    <select id='competencia' class='simple m-left-20' placeholder="Competência" >                            
                        {% for competencia in competencias %}
                            <option data-url='{{ path('ima_telecom_admin_financeiro_cobrancas_por_competencia', {competenciaId: competencia.Id, tipoLancamento: tipoLancamentoAtual} ) }}' 
                                    value='{{competencia.Id}}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding m-top-15">
                    <a id='baixa' href="javascript:void(0);" class="ajax btn btn-primary m-left-10 oculto" data-title='Realização da Baixa' data-tipo="baixa"
                       data-url="{{ path('ima_telecom_admin_financeiro_cobrancas_realizacao_baixa') }}">
                        Realizar Baixa
                    </a>

                    <a id='estorno' href="javascript:void(0);" class="ajax btn btn-primary m-left-10 oculto" data-title='Realização do Estorno da Baixa' data-tipo="estorno"
                       data-url="{{ path('ima_telecom_admin_financeiro_cobrancas_realizacao_estorno_baixa') }}">
                        Realizar Estorno
                    </a>
                        
                    {% if tipoLancamentoAtual != 'a_pagar' %}
                        <a href="javascript:void(0);" class="ajax btn btn-primary m-left-10" data-title='Geração de Cobranças para o Contas à Receber na Competência Atual' data-tipo="geracao"
                           data-url="{{ path('ima_telecom_admin_financeiro_cobrancas_geracao_cobranca') }}">
                            Gerar Contas à Receber
                        </a>
                    {% endif %}

                    {% if tipoLancamentoAtual != 'a_receber' %}
                        <a href="javascript:void(0);" class="ajax btn btn-primary m-left-10" data-title='Geração de Cobranças para o Contas à Pagar na Competência Atual' data-tipo="geracao"
                           data-url="{{ path('ima_telecom_admin_financeiro_cobrancas_geracao_cobranca_contas_a_pagar') }}">
                            Gerar Contas à Pagar
                        </a>
                    {% endif %}
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">        
        {% include 'ImaTelecomBundle:Financeiro:cobrancas-geradas.html.twig' with {'cobrancas': cobrancas, 'visualizarCliente': true, 'competenciaAtual': competenciaAtual, 'tipoLancamentoAtual': tipoLancamentoAtual} %}
    </div>

{% endblock %}