<script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
<script>
    $(document).ready(function (e) {
        let visualizarCliente = {{visualizarCliente}};
                $('table.table').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            },
            pageLength: 50,
            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
            columnDefs: [
                {
                    targets: 0,
                    searchable: false,
                    orderable: false,
                    width: '1%',
                    render: function (data, type, full, meta) {
                        let checked = '',
                                estaPago = '',
                                dataVencimento = new Date(full.Vencimento.substring(0, 10) + 'T00:00:00'),
                                dataAtual = new Date();
                        
                        dataAtual.setHours(0, 0, 0, 0);

                        if (full.Idboleto in cobrancasSelecionadas) {
                            checked = 'checked';
                        }

                        if (dataAtual > dataVencimento && !full.EstaPago)
                            estaPago = 'alert-danger';
                        else if (full.EstaPago)
                            estaPago = 'alert-success';
                        else if (!full.EstaPago && full.Registrado && dataAtual <= dataVencimento)
                            estaPago = 'alert-info';

                        return `<div class="centro" data-esta-pago='${estaPago}'><input id="cobranca_${data}" ${checked} title="Selecionar Lançamento" data-esta-pago="${full.EstaPago}" data-id-cobranca="${data}" data-id="cobranca_selecionado_${data}" type="checkbox" name="selecionarCobranca" class="selecionar-cobranca" value="${data}"><label for="cobranca_${data}"></label></div>`;
                    }
                },
                {
                    targets: 1,
                    className: 'centro'
                },
                {
                    targets: [3, 4, 5, 6],
                    className: 'direita'
                },
                {
                    targets: 3,
                    render: function (data, type, full, meta) {
                        let date = new Date(full.Vencimento.substring(0, 10) + 'T00:00:00'); // UTC está retornando diferente da conf. do banco de dados
                        return date.toLocaleDateString();
                    }
                },
                {
                    targets: 4,
                    render: function (data, type, full, meta) {
                        return `R$ ${full.Valor.format(2)}`;
                    }
                },
                {
                    targets: 5,
                    searchable: false,
                    orderable: true,
                    render: function (data, type, full, meta) {
                        return `${full.Competencia}`;
                    }
                },
                {
                    targets: 6,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, full, meta) {
                        let historicoCobrancaUrl = '{{path('ima_telecom_admin_financeiro_cobrancas_historico_por_cobranca', { cobrancaId: 'id_cobranca' })}}';
                        historicoCobrancaUrl = historicoCobrancaUrl.replace("id_cobranca", full.Idboleto);

                        let clienteUrl = '{{path('ima_telecom_admin_administrativo_clientes_cliente', { clienteId: 'cliente_id' })}}';
                        clienteUrl = clienteUrl.replace("cliente_id", full.ClienteId);

                        let cobrancaUrl = '{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_visualizar_cobranca', { clienteId: 'cliente_id', cobrancaId: 'cobranca_id' })}}';
                        cobrancaUrl = cobrancaUrl.replace("cliente_id", full.ClienteId).replace("cobranca_id", full.Idboleto);

                        let excluirCobrancaUrl = '{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_excluir_cobranca', { clienteId: 'cliente_id', cobrancaId: 'cobranca_id' })}}';
                        excluirCobrancaUrl = excluirCobrancaUrl.replace("cliente_id", full.ClienteId).replace("cobranca_id", full.Idboleto);

                        let opcoes = '';

                        opcoes += `<a href='#' data-url="${historicoCobrancaUrl}" class="historico col-separator" title="Histórico da Cobrança" data-title="Histórico da Cobrança"><i class="icon fa fa-history" aria-hidden="true"></i></a>`;

                        if (visualizarCliente) {
                            opcoes += `<a href="${clienteUrl}" class="col-separator" title="Dados do Cliente"><i class="icon fa fa-info" aria-hidden="true"></i></a>`;
                        }

                        if (full.Registrado === 1 && full.EstaPago === 0) {
                            opcoes += `<a href="${cobrancaUrl}" class="col-separator" title="Visualizar Cobrança" target="_blank"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>`;
                        }

                        if (full.Registrado === 0 && full.EstaPago === 0) {
                            opcoes += `<a data-toggle="confirmation" data-placement="top" data-title="Você têm certeza?" data-btn-ok-label="Sim" data-btn-cancel-label="Nãão" href="javascript:void(0);" data-url="${excluirCobrancaUrl}" class="col-separator confirmation-excluir" title="Excluir Cobrança"><i class="icon fa fa-trash-o" aria-hidden="true"></i></a>`;
                        }

                        return opcoes;
                    }
                }
            ],
            processing: true,
            serverSide: true,
            deferRender: true,
            ajax: {
                url: "{{ path('ima_telecom_admin_listagem_cobrancas', {competenciaId: competenciaAtual.Id, tipoLancamento: tipoLancamentoAtual}) }}",
                type: "POST"
            },
            sAjaxDataProp: "data",
            columns: [
                {data: "Idboleto"},
                {data: "Idboleto", name: 'Boleto'},
                {data: "Nome", name: 'Pessoa'},
                {data: "Vencimento", name: 'Boleto'},
                {data: "Valor", name: 'Boleto'},
                {data: "Competencia", name: 'Competencia'},
                {data: "Idboleto", name: 'Boleto'}
            ],
            order: [[2, "asc"]],
            rowCallback: function (row, data, dataIndex) {
                var rowId = data[0];
                var className = $('td:eq(0) div', row).data('esta-pago');
                $(row).addClass(className);

                return row;
            }
        });
    });
</script>
<script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas-geradas.js') }}" ></script>

<div class='row'>
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'><input type="checkbox" id='selecionarTodasCobrancas' /> Selecionar</th>
                    <th class='centro'>Cód. Cobrança</th>
                    <th>Cliente</th>
                    <th>Vencimento</th>
                    <th>Valor</th>
                    <th>Competência</th>
                    <th class='centro'>Opções</th>
                </tr>
            </thead>
        </table>

        <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15">
            <div class="form-group pull-right no-margin">
                <dl class="legend" style="width: 200px">
                    <dt class="legend alert-info">&nbsp;</dt><dd class="legend"> - Registrado e Não Vencido </dd><br/>
                    <dt class="legend alert-danger">&nbsp;</dt><dd class="legend"> - Vencido </dd><br/>
                    <dt class="legend alert-success">&nbsp;</dt><dd class="legend"> - Baixado </dd>
                </dl>
            </div>
        </div>
    </div>
</div>