<script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas-geracao-cobranca.js') }}" ></script>
<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta' class='row oculto'>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem Feeito!</h4>
            <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
            <hr class='separator-h-10'>
            <p id='mensagem_alerta' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_geracao_cobrancas' method='POST' action='{{ path('ima_telecom_admin_financeiro_cobrancas_geracao_cobranca_por_competencia') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Configuração para a Geração das Cobranças</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gerar Cobrança' />
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="form-group p-right-10">
                    <label>Selecione o tipo da Geração</label>
                    <br />
                    <input class='tipo-cobranca-geracao' id='geracao_cobranca_todos' type="radio" name='tipoCobrancaGeracao' value='todos' checked> 
                    <label for="geracao_cobranca_todos">
                        Gerar para <span class='negrito'>TODOS</span> os Clientes.
                    </label> 
                    <br />
                    <input class='tipo-cobranca-geracao' id='geracao_cobranca_um' type="radio" name='tipoCobrancaGeracao' value='um'> 
                    <label for="geracao_cobranca_um">
                        Gerar para <span class='negrito'>SOMENTE UM</span> Cliente em específico.
                    </label>
                </div>                            
            </div>
            <div style='clear:both'></div>            

            <div id='container_tipo_pessoa' class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10" title=''>
                    <label for="tipoPessoa" class='dotdotdot' title='Tipo Pessoa Geração'>
                        Tipo Pessoa Geração
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar as Cobranças somente para o tipo especificado."></span>
                    </label>
                    <select id='tipoPessoa' class='width-100 chosen-select' name='tipoPessoa' placeholder="Tipo Pessoa Geração">
                        <option value='todos'>Todos</option>
                        <option value='fisica'>Física</option>
                        <option value='juridica' selected>Jurídica</option>                        
                    </select>
                </div>
            </div>

            <div id='container_cliente' class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6 oculto">
                <div class="form-group p-right-10" title='Por favor, informe o Cliente.'>
                    <label for="cliente" class='dotdotdot' title='Cliente'>
                        Cliente
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar a Cobrança somente para o Cliente especificado."></span>
                    </label>
                    <select id='fornecedor' class='width-100 chosen-select' name='clienteId' placeholder="Informe o Cliente">                        
                        {% for cliente in clientes %}
                            <option value="{{cliente.Idcliente}}">{{cliente.getNomePessoa}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-left-10" title=''>
                    <label for="competencia" class='dotdotdot' title='Competência'>
                        Competência
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Irá gerar as Cobranças que estão pendentes para a Competência selecionada."></span>
                    </label>                                                    

                    <select id='competencia' class='width-100 chosen-select' name='competencia' placeholder="Competência" >                            
                        {% for competencia in competencias %}
                            <option value='{{competencia.Id}}' {% if competenciaAtual.Id == competencia.Id %} selected {% endif %}>{{competencia.Mes ~ '/' ~ competencia.Ano }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-right-10 no-margin">
                    <label>Cobrancas Separadas</label><br/>

                    <input id='cobrancaSeparadaSim' name='cobrancaSeparada' class="cobranca-separada" value='1' type="radio" checked> 
                    <label for='cobrancaSeparadaSim'><span>Sim</span></label>  

                    <input id='cobrancaSeparadaNao' name='cobrancaSeparada' class="cobranca-separada" value='0' type="radio"> 
                    <label for='cobrancaSeparadaNao'><span>Não</span></label> 
                </div>
            </div>  
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Força o Vencimento da Cobrança'>
                        Forçar Vencimento
                        <span class="glyphicon glyphicon-info-sign font-9"
                              data-toggle="tooltip" data-placement="top" 
                              title="Caso opte por não forçar o vencimento, será utilizado o vencimento especificado na Regra de Faturamento de cada contrato."></span>
                    </label> 
                    <br/>

                    <input id='forcar_vencimento_sim' class='forcar-vencimento' name='forcarVencimento' value='1' type="radio">
                    <label for='forcar_vencimento_sim'>Sim</label>
                    <input id='forcar_vencimento_nao' class='forcar-vencimento' name='forcarVencimento' value='0' checked type="radio">
                    <label for='forcar_vencimento_nao'>Não</label>
                </div>
            </div>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <div id="container_vencimento" class="form-group p-right-10 oculto">
                    <label for='vencimento' class='dotdotdot' title='Vencimento da Cobrança'>Vencimento da Cobrança</label><br/>
                    <input class='width-100 form-control' id='vencimento' type="text" name="vencimento" placeholder="Vencimento da Cobrança" value=''/>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12'>
                <hr class=''>
                <h4>Considerações</h4>

                <span>
                    As cobranças serão geradas para os Serviços que estiverem cadastrados com a opção "Gerar Cobrança", nas configurações de cada contrato.
                </span>
            </div>
        </div>
    </form>
</div>