<div class="card-simple overflow no-margin p-bottom-0">
    <script src="{{ asset('bundles/imatelecom/js/jquery.mask.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/cobrancas-realizacao-estorno-baixa.js') }}" ></script>
    <style>
        #descricaoMovimento {
            height: 108px;
        }

        table#formas_pagamento thead th {
            padding-top: 0px;
        }

        .container-currency {
            vertical-align: middle;
            line-height: 25pt;
            text-align: center;
        }
    </style>

    <form id='formulario_realizacao_estorno_baixa' method='POST' action='{{ path('ima_telecom_admin_financeiro_cobrancas_realizacao_estorno_baixa_realizar_estorno_baixa') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados para a Realização do Estorno</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar Estorno' />
                <input type='submit' class='btn btn-success m-left-20' value='Realizar Estorno' />
            </div>
        </div>

        <hr>

        <div class='row'>
            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">                
                <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                    <div class="form-group p-right-10">
                        <label for='dataEstorno' class='dotdotdot' title='Data do Estorno'>Data do Estorno</label><br/>
                        <input class='width-100 form-control' autocomplete='off' id='dataEstorno' type="text" name="dataEstorno" placeholder="Data do Estorno" value=''/>
                    </div>
                </div>
            </div>                        
        </div>

        <div class='row'>
            <table id='lancamentos_selecionados'>
                <thead>
                    <tr>
                        <th class='centro'>Selecionar</th>
                        <th class='centro'>Cód. Cobrança</th>
                        <th class='direita'>Valor Original</th>
                        <th class='direita'>Valor Multa</th>
                        <th class='direita'>Valor Juros</th>
                        <th class='direita'>Valor Desconto</th>
                        <th class='direita'>Valor Pago</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lancamento in lancamentos %}
                        <tr>
                            <td>
                                <input type='hidden' id='container_linha_{{lancamento.Idboleto}}'                                           
                                       data-id-lancamento='{{lancamento.Idboleto}}'
                                       data-id-checkbox='#lancamento_{{lancamento.Idboleto}}'
                                       data-id-valor-original="#valor_original_{{lancamento.Idboleto}}"
                                       data-id-valor-multa="#valor_multa_{{lancamento.Idboleto}}"
                                       data-id-valor-juros="#valor_juros_{{lancamento.Idboleto}}"
                                       data-id-valor-desconto="#valor_desconto_{{lancamento.Idboleto}}"
                                       data-id-valor-pago="#valor_pago_{{lancamento.Idboleto}}" />

                                <div class="centro">
                                    <input id="lancamento_{{lancamento.Idboleto}}" title="Selecionar Lançamento" checked="true" data-container-linha='#container_linha_{{lancamento.Idboleto}}'
                                           type="checkbox" name="selecionarLancamento" class="selecionar-lancamento" value="">
                                    <label for="lancamento_{{lancamento.Idboleto}}"></label>
                                </div>
                            </td>
                            <td class='centro'>{{lancamento.Idboleto}}</td>
                            <td id='valor_original_{{lancamento.Idboleto}}' class='direita valor-original' data-valor-original="{{lancamento.ValorOriginal|number_format(2, '.', ',')}}">R$ {{lancamento.ValorOriginal|number_format(2, ',', '.')}}</td>
                            <td id='valor_multa_{{lancamento.Idboleto}}' class='direita valor-multa' data-valor-multa="{{lancamento.ValorMulta|number_format(2, '.', ',')}}">R$ {{lancamento.ValorMulta|number_format(2, ',', '.')}}</td>
                            <td id='valor_juros_{{lancamento.Idboleto}}' class='direita valor-juros' data-valor-juros="{{lancamento.ValorJuros|number_format(2, '.', ',')}}">R$ {{lancamento.ValorJuros|number_format(2, ',', '.')}}</td>
                            <td id='valor_desconto_{{lancamento.Idboleto}}' class='direita valor-desconto' data-valor-desconto="{{lancamento.ValorDesconto|number_format(2, '.', ',')}}">R$ {{lancamento.ValorDesconto|number_format(2, ',', '.')}}</td>
                            <td id='valor_pago_{{lancamento.Idboleto}}' class='direita valor-pago' data-valor-pago="{{lancamento.ValorPago|number_format(2, '.', ',')}}">R$ {{lancamento.ValorPago|number_format(2, ',', '.')}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class='row'>            
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10 direita" title='Valor Original'>
                    <label for="valorOriginal" class='dotdotdot' title='Valor Original'>
                        Valor Original (R$)
                    </label>
                    <input class='width-100 form-control direita' autocomplete='off' readonly=true id='valorOriginal' type="text" placeholder="Valor Original" value=''/>
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 direita" title='Valor Multa'>
                    <label for="valorMulta" class='dotdotdot' title='Valor Multa'>
                        Valor Multa (R$)
                    </label>
                    <input class='width-100 form-control direita alteracao-lancamentos money' readonly=true autocomplete='off' id='valorMulta' type="text" placeholder="Valor Multa" value=''/>
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 direita" title='Valor Juros'>
                    <label for="valorJuros" class='dotdotdot' title='Valor Juros'>
                        Valor Juros (R$)
                    </label>
                    <input class='width-100 form-control direita alteracao-lancamentos money' readonly=true autocomplete='off' id='valorJuros' type="text" placeholder="Valor Juros" value=''/>
                </div>
            </div>                             
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 direita" title='Valor Desconto'>
                    <label for="valorDesconto" class='dotdotdot' title='Valor Desconto'>
                        Valor Desconto (R$)
                    </label>
                    <input class='width-100 form-control direita alteracao-lancamentos money' readonly=true autocomplete='off' id='valorDesconto' type="text" placeholder="Valor Desconto" value=''/>
                </div>
            </div>     
            {#            <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6"></div>  #}
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10 direita" title='Valor Total'>
                    <label for="valorTotal" class='dotdotdot' title='Valor Total'>
                        Valor Total (R$)
                    </label>
                    <input class='width-100 form-control direita' readonly=true id='valorTotal' readonly=true autocomplete='off' type="text" placeholder="Valor Total" value=''/>
                </div>
            </div>
            <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10 direita" title='Valor Total'>
                    <label for="valorPago" class='dotdotdot' title='Valor Pago'>
                        Valor Pago (R$)
                    </label>
                    <input class='width-100 form-control direita' readonly=true id='valorPago' readonly=true autocomplete='off' type="text" placeholder="Valor Pago" value=''/>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="form-group">
                    <label for='descricaoMovimento' class='dotdotdot' title='Descrição do Movimento'>Descrição do Movimento</label>
                    <textarea id='descricaoMovimento' class="form-control" autocomplete='off' name='descricaoMovimento' placeholder="Descrição do Movimento" rows="5"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>