{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    {#    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>#}
    {#    <script src="{{ asset('bundles/imatelecom/js/financeiro/competencias.js') }}" ></script>#}

    <script>
        $(document).ready(function (e) {
            $('body').on('click', '.ajax', function (e) {
                e.preventDefault();

                var url = $(this).data('url');

                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (response, textStatus, xhr) {
                        var dialog = bootbox.dialog({
                            title: 'Informações sobre a Competência atual',
                            message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                            size: 'large'
                        });

                        dialog.init(function () {
                            setTimeout(function () {
                                dialog.find('.bootbox-body').html(response);
                            }, 3000);
                        });

                        $('.modal-dialog').css('width:1000px !important')
                    }
                });
            });

            
            var searchString = '';
            $('table.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for competencia in competencias %}                 
                    var columns = [];
                    columns.push('<div class="centro">{{competencia.Id}}</div>');
                    columns.push('{{competencia.Descricao}}');
                    columns.push('<div class="centro">{{competencia.Ano ~ '/' ~ competencia.Mes}}</div>');
                    columns.push('<div style="vertical-align: middle" class="centro"><input type="checkbox" class="no-clicked" {% if competencia.Ativo == '1' %} checked="true" {% endif %}><label></label></div>');
                    columns.push('<div class="centro">{{competencia.UltimaDataEmissao|date("d/m/Y")}}</div>');

                    if (columns.filter(filter).length !== 0) {
                        rows.push(columns);
                    }
        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);


                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }
            });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Competências Registradas
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="javascript:void(0);" class="ajax btn btn-primary" 
                   data-url="{{path('ima_telecom_admin_financeiro_competencias_competencia_atual')}}">
                    Competência Atual
                </a>                   
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Descrição</th>
                    <th>Ano/Mes</th>
                    <th>Ativo</th>
                    <th>Última Emissão</th>
                </tr>
            </thead>
        </table>
    </div>


    {#<header class="menu-horizontal-main">
        <nav class="direita">
            <ul>
                <li>
                    <a href="javascript:void(0);" class="open-popup btn btn-primary" data-url="{{path('ima_telecom_admin_financeiro_competencias_competencia_atual')}}">
                        Competência Atual
                    </a>
                </li>
            </ul>
        </nav>
    </header>   

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="center col-lg-12 col-sm-12 col-md-12 col-xs-12">                    
                    <table class='table'>
                        <thead>
                            <tr>
                                <th class='centro'>Código</th>
                                <th>Descrição</th>
                                <th>Ano/Mes</th>
                                <th>Ativo</th>
                                <th>Última Emissão</th>                       
</tr>
</thead>
<tbody>
    {% for competencia in competencias %}
        <tr>
            <td class='centro'>
                {{competencia.Id}}
            </td>
            <td>
                {{competencia.Descricao}}
            </td>
            <td>
                {{competencia.Ano ~ '/' ~ competencia.Mes}}
            </td>
            <td class='centro'>
                <input type="checkbox" class="no-clicked" {% if competencia.Ativo == '1' %} checked="true" {% endif %} >
            </td>
            <td>
                {{competencia.UltimaDataEmissao|date("d/m/Y")}}
            </td>                                    
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>            
</div>
</section>#}

{% endblock %}