<script>
    $('form').submit(function (e) {
        e.preventDefault();

        var url = $(this).attr('action');
        var type = $(this).attr('method');
        var data = $(this).serializeArray();

        $.ajax({
            url: url,
            type: type,
            data: data,
            success: function (response, textStatus, jqXHR) {
                if (response.status) {
                    window.location.href = response.redirect_url + '#' + Base64.encode(response.mensagem).slice(0, -1);
                    location.reload();
                } else {
                    var erros = response.erros.join('<br/>');
                    mostrarErros(erros);
                }
            },
            error: function (request, textStatus, errorThrown) {                
                mostrarErros(errorThrown);
            }
        });
    });

    function mostrarErros(erros) {
        $('#erros_alerta').text(erros);
        $('#container_alerta').removeClass('oculto');
        setTimeout(function () {
            $('#container_alerta').addClass('oculto');
        }, 10000);
    }
</script>

<div class="card-simple overflow">
    <div id='container_alerta' class='row oculto'>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Ops... Aconteceu algo de errado!</h4>
            <p>Por favor, verifique os erros ocorridos que foram listados abaixo.</p>
            <hr class='separator-h-10'>
            <p id='erros_alerta' class="mb-0"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <h4>Resumo da Competência</h4>
            <p>        
                A <span class="negrito">Competência {{competencia.Ano ~ '/' ~ competencia.Mes}}</span> se encontra no Período 
                {% if competencia.TrabalharPeriodoFuturo == 1 %}
                    Futuro,
                {% else %}
                    correspondente,
                {% endif %}
                <span class="negrito">Referênte ao Período {{competencia.PeriodoInicial|date("d/m/Y")}} à {{competencia.PeriodoFinal|date("d/m/Y")}}</span>. 
                Atualmente foram emitida(s) {{competencia.NumeroNf}} e a <span class="negrito">Data de Referência da última emissão é {{competencia.UltimaDataEmissao|date("d/m/Y")}}</span>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <h4 class="titulo-categoria">Informações do Período Atual</h4>            
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label>Mês</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competencia.Mes}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                <div class="form-group p-left-10 p-right-10">
                    <label>Ano</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competencia.Ano}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label>Período Inicial</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competencia.PeriodoInicial|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label>Período Final</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competencia.PeriodoFinal|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label>Ativo</label> <br />
                    {#                        <input class='width-100' id='ativo' type="text" name="ativo" placeholder="Ativo" value='{{servico.Tecnologia}}'/>#}
                    <input id='ativo' type="checkbox" name="ativo" {% if competencia.Ativo == '1' %} checked="true" {% endif %}>
                    <label >Sim</label>
                </div>
            </div>                
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label>Total de Notas Emitidas</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competencia.NumeroNf}}">
                </div>
            </div>
            <div class="no-padding col-sm-5 col-lg-5 col-md-5 col-xs-5">
                <div class="form-group p-left-10">
                    <label>Data de Referência da última emissão</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competencia.UltimaDataEmissao|date("d/m/Y")}}">
                </div>
            </div>                
        </div>                   
    </div>    
    <hr>
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <h4 class="titulo-categoria">Informações do Período Futuro</h4>       
            {% set competenciaFutura = competencia.getCompetenciaFutura %}
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label>Mês</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competenciaFutura.Mes}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                <div class="form-group p-left-10 p-right-10">
                    <label>Ano</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competenciaFutura.Ano}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label>Período Inicial</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competenciaFutura.PeriodoInicial|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label>Período Final</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competenciaFutura.PeriodoFinal|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">
                    <label>Trabalhando no Período</label> <br />                    
                    <input type="checkbox" name="ativo" {% if competenciaFutura.TrabalharPeriodoFuturo == '1' %} checked="true" {% endif %}>
                    <label>Sim</label>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label>Total de Notas Emitidas</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competenciaFutura.NumeroNf}}">
                </div>
            </div>
            <div class="no-padding col-sm-5 col-lg-5 col-md-5 col-xs-5">
                <div class="form-group p-left-10">
                    <label>Data de Referência da última emissão</label>
                    <input disabled type="text" class="width-100 form-control" value="{{competenciaFutura.UltimaDataEmissao|date("d/m/Y")}}">
                </div>
            </div>   
        </div>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            {% if competencia.Encerramento == 0 %}            
                {#<div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                    <form class="direita formulario-competencia" method="POST" action="{{path('ima_telecom_admin_financeiro_competencias_competencia_trabalhar_periodo_futuro')}}">
                        <button type="submit" class="btn btn-default">Competência Futura</button>
                    </form> 
                </div>#}
                <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6 text-danger p-right-10">
                    Período Futuro não está disponível a partir da data <span class='negrito'>01/01/2018</span>.
                </div>
                <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6 p-left-10">
                    <form class="direita formulario-competencia" id="formulario_liberar_competencia" method="POST" action="{{path('ima_telecom_admin_financeiro_competencias_competencia_liberar_competencia_atual')}}">
                        <button type="submit" class="btn btn-success font-10">Liberar Competência</button>
                    </form>
                </div>
            {% else %}
                <div id="competencia_encerrada" class="no-padding red col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    Esta competência já foi encerrada.
                </div>
            {% endif %}
        </div>                
    </div>        
</div>


{#<div id="dados_competencia">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <h4>Resumo da Competência</h4>
                <p>        
                    A <span class="negrito">Competência {{competencia.Ano ~ '/' ~ competencia.Mes}}</span> se encontra no Período 
                    {% if competencia.TrabalharPeriodoFuturo == 1 %}
                        Futuro,
                    {% else %}
                        correspondente,
                    {% endif %}
                    <span class="negrito">Referênte ao Período {{competencia.PeriodoInicial|date("d/m/Y")}} à {{competencia.PeriodoFinal|date("d/m/Y")}}</span>. 
                    Atualmente foram emitida(s) {{competencia.NumeroNf}} e a <span class="negrito">Data de Referência da última emissão é {{competencia.UltimaDataEmissao|date("d/m/Y")}}</span>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
            <h4 class="titulo-categoria">Informações do Período Atual</h4>
            <div class="form-group col-left">
                <label>Período Ativo</label>
                <input disabled type="checkbox" class="no-clicked" {% if competencia.Ativo == '1' %} checked="true" {% endif %} >
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-left">
                    <label>Mês</label>
                    <input disabled type="number" class="form-control" value="{{competencia.Mes}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                <div class="form-group col-right">
                    <label>Ano</label>
                    <input disabled type="number" class="form-control" value="{{competencia.Ano}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-left">
                    <label>Período Inicial</label>
                    <input disabled type="text" class="form-control" value="{{competencia.PeriodoInicial|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-right">
                    <label>Período Final</label>
                    <input disabled type="text" class="form-control" value="{{competencia.PeriodoFinal|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-left">
                    <label>Total de Notas Emitidas</label>
                    <input disabled type="number" class="form-control" value="{{competencia.NumeroNf}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-right">
                    <label>Data de Referência da última emissão</label>
                    <input disabled type="text" class="form-control" value="{{competencia.UltimaDataEmissao|date("d/m/Y")}}">
                </div>
            </div>            
        </div>   
        <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
            <h4 class="titulo-categoria">Informações do Período Futuro</h4>
            <div class="form-group col-left">
                <label>Trabalhando no Período Futuro</label>
                <input disabled type="checkbox" class="no-clicked" {% if competencia.TrabalharPeriodoFuturo == '1' %} checked="true" {% endif %} >
            </div>
            {% set competenciaFutura = competencia.getCompetenciaFutura %}
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-left">
                    <label>Mês</label>
                    <input disabled type="number" class="form-control" value="{{competenciaFutura.Mes}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                <div class="form-group col-right">
                    <label>Ano</label>
                    <input disabled type="number" class="form-control" value="{{competenciaFutura.Ano}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-left">
                    <label>Período Inicial</label>
                    <input disabled type="text" class="form-control" value="{{competenciaFutura.PeriodoInicial|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-right">
                    <label>Período Final</label>
                    <input disabled type="text" class="form-control" value="{{competenciaFutura.PeriodoFinal|date("d/m/Y")}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-left">
                    <label>Total de Notas Emitidas</label>
                    <input disabled type="number" class="form-control" value="{{competenciaFutura.NumeroNf}}">
                </div>
            </div>
            <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <div class="form-group col-right">
                    <label>Data de Referência da última emissão</label>
                    <input disabled type="text" class="form-control" value="{{competenciaFutura.UltimaDataEmissao|date("d/m/Y")}}">
                </div>
            </div>   
        </div>
        {% if competencia.Encerramento == 0 %}
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <form class="direita formulario-competencia" id="formulario_liberar_competencia" method="POST" action="{{path('ima_telecom_admin_financeiro_competencias_competencia_liberar_competencia_atual')}}">
                    <button type="submit" class="btn btn-default">Liberar Competência</button>
                </form>
            </div>
                    <!--
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12">
                <form class="direita formulario-competencia" method="POST" action="{{path('ima_telecom_admin_financeiro_competencias_competencia_trabalhar_periodo_futuro')}}">
                    <button type="submit" class="btn btn-default">Competência Futura</button>
                </form> 
            </div>-->
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 red">
                Período Futuro não está disponível a partir da data 01/01/2018.
            </div>
        {% else %}
            <div id="competencia_encerrada" class="red col-sm-12 col-lg-12 col-md-12 col-xs-12">
                Esta competência já foi encerrada.
            </div>
        {% endif %}        
    </div>
</div>

<style>
    div#dados_competencia {
        margin-bottom: 50px;
    }
    
    div#competencia_encerrada {
        margin-top: 50px;
        font-size: 14pt;
    }
</style>
<script>
    $(".formulario-competencia").submit(function (e) {
        e.preventDefault();

        var url = $(this).attr('action');
        var type = $(this).attr('method');

        $.ajax({
            url: url,
            type: type,
            success: function (response, textStatus, jqXHR) {
                console.log(response);

                if (response.status == true) {
                    $("#alerta_topo").removeClass('alert-danger');
                    $("#alerta_mensagem").text(response.mensagem);
                    $("#alerta_topo").addClass('alert-success');
                    $("#alerta_topo").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                    MostrarAlertaTopo('alert-success', 5000);
                    var popup = new $.Popup($("section.main"));
                    popup.Close();
                    
                   
                } else {
                    var erros = "";
                    $.each(response.erros, function (key, erro) {
                        erros += "<br/>" + erro;
                    });

                    $("#alerta_mensagem").html(erros);
                    $("#alerta_topo").addClass('alert-danger');
                    $("#alerta_topo").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                    MostrarAlertaTopo('alert-danger', 15000);
                }
            },
            error: function (e) {

            }
        });

        return false;
    });
</script>#}