{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/contas-caixa.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Convênios
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="#" class="ajax btn btn-primary" data-title="Cadastrar Conta Caixa"
                   data-url="{{path('ima_telecom_admin_financeiro_contas_caixa_conta', {contaCaixaId: 0})}}">
                    Cadastrar Conta Caixa
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Descrição</th>
                    <th class='direita'>Número da Conta</th>
                    <th class='centro'>Ativo</th>
                    <th class='direita'>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for contaCaixa in contasCaixa %}
                    <tr>
                        <td class='centro'>{{contaCaixa.IdcontaCaixa}}</td>
                        <td>{{contaCaixa.Descricao|capitalize}}</td>
                        <td class='direita'>{{contaCaixa.BancoAgenciaConta.NumeroConta}}</td>
                        <td class='centro'>
                            <input type="checkbox" class="no-clicked" {% if contaCaixa.Ativo == '1' %} checked="true" {% endif %}><label></label>
                        </td>
                        <td class='direita'>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_caixa_conta', {contaCaixaId: contaCaixa.IdcontaCaixa}) }}" data-title="Cadastro da Conta Caixa" title="Cadastro da Conta Caixa" class="ajax col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_caixa_conta_excluir', {contaCaixaId: contaCaixa.IdcontaCaixa}) }}" title="Excluir Conta Caixa" class="excluir-conta-caixa col-separator"><i class="icon fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}