{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/contas-bancarias.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Contas Bancárias
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="#" class="ajax btn btn-primary" data-title="Cadastrar Conta Bancária"
                   data-url="{{path('ima_telecom_admin_financeiro_contas_bancarias_conta', {contaBancariaId: 0})}}">
                    Cadastrar Conta
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Banco</th>
                    <th>Agência</th>
                    <th class='direita'>Tipo da Conta</th>
                    <th class='direita'>Nº da Conta</th>
                    <th class='direita'>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for conta in contas %}
                    <tr>
                        <td class='centro'>{{conta.IdbancoAgenciaConta}}</td>
                        <td>{{conta.Banco.Nome}}</td>
                        <td>{{conta.BancoAgencia.Nome}}</td>
                        <td class='centro'>
                            {% if conta.TipoConta == 'poupanca' %}
                                Poupança
                            {% else %}
                                Corrente
                            {% endif %}
                        </td>
                        <td class='direita'>{{conta.NumeroConta}}</td>
                        <td class='direita'>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_bancarias_rastrear_contas_caixa_vinculadas', {contaBancariaId: conta.IdbancoAgenciaConta}) }}" data-title="Rastreamento de Contas Caixa vinculadas a Conta Bancária" title="Rastrear Contas Caixa para a Conta Bancária" class="ajax col-separator"><i class="icon fa fa-search" aria-hidden="true"></i></a>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta', {contaBancariaId: conta.IdbancoAgenciaConta}) }}" data-title="Cadastro da Conta Bancária" title="Cadastro da Conta Bancária" class="ajax col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta_excluir', {contaBancariaId: conta.IdbancoAgenciaConta}) }}" title="Excluir Conta Bancária" class="excluir-conta-bancaria col-separator"><i class="icon fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}