<div class="card-simple overflow no-margin">
    <script src="{{ asset('bundles/imatelecom/js/financeiro/contas-bancarias-rastrear-contas-caixa-vinculadas.js') }}" ></script>

    <div class='row'>        
        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
            <div class="form-group p-right-10 no-margin">
                {% set tipoConta = contaBancaria.TipoConta == 'corrente' ? 'CC' : 'CP' %}
                {% set conta = tipoConta ~ ': ' ~ contaBancaria.getBancoAgenciaNome ~ '/' ~ contaBancaria.NumeroConta ~ ' - ' ~ contaBancaria.getBancoNome %}
                <label class='dotdotdot' title='Conta Bancária'>Conta Bancária</label>
                <input readonly type="text" class="form-control" value="{{conta}}" title="{{conta}}">
            </div>
        </div>
    </div>

    <hr class="m-top-15 m-bottom-15">

    <div class='row'>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding m-bottom-15">
            <h4>Contas Caixa Vinculadas</h4>
        </div>

        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <table id='contas_bancarias' class='table no-margin' 
                   data-url='{{ path('ima_telecom_admin_financeiro_contas_bancarias_contas_caixa_por_conta_bancaria', {contaBancariaId: contaBancaria.IdbancoAgenciaConta}) }}'
                   data-opcoes-editar="{{ path('ima_telecom_admin_financeiro_contas_caixa_conta', {contaCaixaId: '_IdcontaCaixa'}) }}">
                <thead>
                    <tr>
                        <th class="centro">Código</th>
                        <th>Descrição</th>
                        <th class='centro'>Ativo</th>
                        <th class="direita">Opções</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for conta in contasCaixa %}
                        <tr>
                            <td class="centro">{{conta.IdcontaCaixa}}</td>
                            <td>{{conta.Descricao|capitalize}}</td>
                            <td class="centro">
                                <input type="checkbox" class="no-clicked" {% if conta.Ativo == '1' %} checked="true" {% endif %}><label></label>
                            </td>
                            <td class="direita">
                                <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_caixa_conta', {contaCaixaId: conta.IdcontaCaixa}) }}"
                                   data-title="Cadastro da Conta Caixa" title="Cadastro da Conta Caixa" onClick='javascript:CarregarContaCaixa(this);' 
                                   class="col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>        
    </div>
</div>