<div class="card-simple overflow no-margin p-bottom-0">
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/contas-caixa-conta.js') }}" ></script>

    <form id='formulario_conta_caixa' method='POST' action='{{ path('ima_telecom_admin_financeiro_contas_caixa_conta_salvar', {contaCaixaId: contaCaixa.IdcontaCaixa}) }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados da Conta Caixa</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gravar' />
            </div>
        </div>

        <hr>

        <h4>Informações da Conta Caixa</h4>
        <div class="row">
            <div class="no-padding col-sm-5 col-lg-5 col-md-5 col-xs-5">
                <div class="form-group p-right-10">
                    <label for='descricao' class='dotdotdot' title='Descrição da Conta Caixa'>Descrição da Conta Caixa</label>
                    <input id='descricao' type="text" class="form-control" name='descricao' value="{{contaCaixa.Descricao}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Conta Caixa Ativa'>Ativo</label> <br/>
                    <input id='conta_caixa_ativa' type="checkbox" name='ativo' {% if contaCaixa.Ativo == '1' %} checked="true" {% endif %}>
                    <label for='conta_caixa_ativa'>Sim</label>
                </div>
            </div>            
            <div class="no-padding col-sm-5 col-lg-5 col-md-5 col-xs-5">
                <div class="form-group p-right-10">
                    <label for='bancoAgenciaContaId' class='dotdotdot' title='Conta Bancária'>Conta Bancária</label>
                    <select id='bancoAgenciaContaId' class='width-100 chosen-select' name='bancoAgenciaContaId' placeholder="Conta Bancária">
                        {% for contaBancaria in contasBancarias %}
                            {% set tipoConta = contaBancaria.TipoConta == 'corrente' ? 'CC' : 'CP' %}
                            {% set conta = tipoConta ~ ': ' ~ contaBancaria.getBancoAgenciaNome ~ '/' ~ contaBancaria.NumeroConta ~ ' - ' ~ contaBancaria.getBancoNome %}
                            <option data-url='{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta_detalhes', {contaBancariaId: contaBancaria.IdbancoAgenciaConta}) }}'
                                value='{{contaBancaria.IdbancoAgenciaConta}}' {% if contaBancaria.IdbancoAgenciaConta == contaBancariaAtual.IdbancoAgenciaConta %} selected {% endif %} title='{{conta}}'>{{conta}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <h4>Informações da Conta Bancária</h4>
        <div class="row">
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Banco'>Banco</label>
                    <input readonly id='bancoNome' type="text" class="form-control" value="{{contaBancariaAtual.Banco.Nome}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Agência Bancária'>Agência Bancária</label>
                    <input readonly id='bancoAgenciaNome' type="text" class="form-control" value="{{contaBancariaAtual.BancoAgencia.Nome}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10">
                    {% set tipoConta = contaBancariaAtual.TipoConta == 'poupanca' ? 'Poupança' : 'Corrente' %}
                    <label class='dotdotdot' title='Tipo da Conta'>Tipo da Conta</label>
                    <input readonly id='tipoConta' type="text" class="form-control" value="{{tipoConta}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Número da Conta'>Número da Conta</label>
                    <input readonly id='numeroConta' type="text" class="form-control" value="{{contaBancariaAtual.NumeroConta}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">                                        
                    <label class='dotdotdot' title='Digito Verificador Convênio'>DV</label>
                    <input readonly id='digitoVerificador' type="text" class="form-control" value="{{contaBancariaAtual.DigitoVerificador}}">
                </div>
            </div>                      
        </div>

        {% if contaCaixa.IdcontaCaixa is not null and contaCaixa.IdcontaCaixa != 0 %}
            <div class='row centro'>            
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Cadastro</label>
                        <p>{{contaCaixa.DataCadastro|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Alteração</label>
                        <p>{{contaCaixa.DataAlterado|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Usuário de Alteração</label>
                        <p>{{contaCaixa.Usuario.Login}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>