<div class="card-simple overflow no-margin p-bottom-0">
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/contas-bancarias-conta.js') }}" ></script>
    
    <form id='formulario_conta' method='POST' action='{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta_salvar', {contaBancariaId: contaBancaria.IdbancoAgenciaConta}) }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados Bancários</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gravar' />
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label for='banco' class='dotdotdot' title='Banco'>Banco</label>
                    <select id='banco' class='width-100 chosen-select' name='banco' placeholder="Informe o Banco">
                        {% for banco in bancos %}
                            <option value="{{banco.Idbanco}}" data-value='' {% if contaBancaria.BancoId == banco.Idbanco %} selected {% endif %}>{{banco.Nome}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label for='agencia' class='dotdotdot' title='Agência'>Agência</label>
                    <select id='agencia' class='width-100 chosen-select' name='agencia' placeholder="Informe a Agência">
                        {% for agencia in agencias %}
                            <option value="{{agencia.IdbancoAgencia}}" data-value='' {% if contaBancaria.BancoAgenciaId == agencia.IdbancoAgencia %} selected {% endif %}>{{agencia.Nome}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10">
                    <label for='convenio' class='dotdotdot' title='Convênio'>Convênio</label>
                    <select id='convenio' class='width-100 chosen-select' name='convenio' placeholder="Informe a Conta">
                        {% for convenio in convenios %}
                            <option value="{{convenio.Idconvenio}}" data-value='' {% if contaBancaria.ConvenioId == convenio.Idconvenio %} selected {% endif %}>{{convenio.Nome}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label for='tipoConta' class='dotdotdot' title='Tipo da Conta'>Tipo da Conta</label>
                    <select id='tipoConta' class='width-100 chosen-select' name='tipoConta' placeholder="Informe o Tipo da Conta">                        
                        <option value="poupanca" {% if contaBancaria.TipoConta == 'poupanca' %} selected {% endif %}>Poupança</option>
                        <option value="corrente" {% if contaBancaria.TipoConta == 'corrente' %} selected {% endif %}>Corrente</option>
                    </select>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label for='numeroConta' class='dotdotdot' title='Número da Conta'>Número da Conta</label>
                    <input id='numeroConta' name='numeroConta' type="text" class="form-control direita" placeholder="Informe o Número da Conta" value="{{contaBancaria.NumeroConta}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label for='digitoVerificador' class='dotdotdot' title='Dígito Verificador da Conta'>Dígito Verificador</label>
                    <input id='digitoVerificador' name='digitoVerificador' type="text" class="form-control direita" placeholder="Informe o Dígito Verificador da Conta" value="{{contaBancaria.DigitoVerificador}}">
                </div>
            </div>
        </div>

        {% if contaBancaria.IdbancoAgenciaConta is not null and contaBancaria.IdbancoAgenciaConta != 0 %}
            <div class='row centro'>            
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Cadastro</label>
                        <p>{{contaBancaria.DataCadastro|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Alteração</label>
                        <p>{{contaBancaria.DataAlterado|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Usuário de Alteração</label>
                        <p>{{contaBancaria.Usuario.login}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>