{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/convenios.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Convênios
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="#" class="ajax btn btn-primary" data-title="Cadastrar Convênio"
                   data-url="{{path('ima_telecom_admin_financeiro_convenios_convenio', {convenioId: 0})}}">
                    Cadastrar Convênio
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">      
        <table class='table'>
            <thead>
                <tr>
                    <th class='centro'>Código</th>
                    <th>Nome</th>
                    <th class='direita'>Cód. Convênio</th>
                    <th class='centro'>Ativo</th>
                    <th class='direita'>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for convenio in convenios %}
                    <tr>
                        <td class='centro'>{{convenio.Idconvenio}}</td>
                        <td>{{convenio.Nome}}</td>
                        <td class='direita'>{{convenio.CodigoConvenio}}</td>
                        <td class='centro'>
                            <input type="checkbox" class="no-clicked" {% if convenio.Ativo == '1' %} checked="true" {% endif %}><label></label>
                        </td>
                        <td class='direita'>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_convenios_rastrear_contas_bancarias_vinculadas', {convenioId: convenio.Idconvenio}) }}" data-title="Rastreamento de Contas Bancárias vinculadas ao Convênio" title="Rastrear Contas Bancárias para o Convênio" class="ajax col-separator"><i class="icon fa fa-search" aria-hidden="true"></i></a>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_convenios_convenio', {convenioId: convenio.Idconvenio}) }}" data-title="Cadastro do Convênio" title="Cadastro do Convênio" class="ajax col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                            <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_convenios_convenio_excluir', {convenioId: convenio.Idconvenio}) }}" title="Excluir Convênio" class="excluir-convenio col-separator"><i class="icon fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}