<div class="card-simple overflow no-margin">
    <script src="{{ asset('bundles/imatelecom/js/financeiro/convenios-rastrear-contas-bancarias-vinculadas.js') }}" ></script>

    <div class='row'>        
        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
            <div class="form-group p-right-10 no-margin">
                <label class='dotdotdot' title='Convênio'>Nome do Convênio</label>
                <input readonly type="text" class="form-control" value="{{convenio.Nome}}" title="{{convenio.Nome}}">
            </div>
        </div>
    </div>

    <hr class="m-top-15 m-bottom-15">

    <div class='row'>
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding m-bottom-15">
            <h4>Contas Bancárias Vinculadas</h4>
        </div>

        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <table id='contas_bancarias' class='table no-margin' 
                   data-url='{{ path('ima_telecom_admin_financeiro_convenios_contas_bancarias_por_convenio', {convenioId: convenio.Idconvenio}) }}'
                   data-opcoes-editar="{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta', {contaBancariaId: '_IdbancoAgenciaConta'}) }}">
                <thead>
                    <tr>
                        <th class="centro">Código</th>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Tipo da Conta</th>
                        <th class="direita">Número da Conta</th>
                        <th class="direita">Opções</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for conta in contasBancarias %}
                        <tr>
                            <td class="centro">{{conta.IdbancoAgenciaConta}}</td>
                            <td>{{conta.Banco.Nome}}</td>
                            <td>{{conta.BancoAgencia.Nome}}</td>
                            <td class="centro">
                                {% if conta.TipoConta == 'poupanca' %}
                                    Poupança
                                {% else %}
                                    Corrente
                                {% endif %}
                            </td>
                            <td class="direita">{{conta.NumeroConta}}</td>
                            <td class="direita">
                                <a href="#" data-url="{{ path('ima_telecom_admin_financeiro_contas_bancarias_conta', {contaBancariaId: conta.IdbancoAgenciaConta}) }}" 
                                   data-title="Cadastro da Conta Bancária" title="Cadastro da Conta Bancária" onClick='javascript:CarregarContaBancaria(this);' 
                                   class="col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>                
            </table>
        </div>        
    </div>
</div>