<div class="card-simple overflow no-margin p-bottom-0">
    <link href="{{ asset('bundles/imatelecom/css/bootstrap.chosen.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/imatelecom/js/chosen.jquery.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/convenios-convenio.js') }}" ></script>

    <form id='formulario_convenio' method='POST' action='{{ path('ima_telecom_admin_financeiro_convenios_convenio_salvar', {convenioId: convenio.Idconvenio}) }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Dados do Convênio</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gravar' />
            </div>
        </div>

        <hr>

        <h4>Informações do Convênio</h4>
        <div class="row">
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label class='dotdotdot' title='Convênio'>Nome do Convênio</label>
                    <input type="text" class="form-control" name='nome' value="{{convenio.Nome}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">
                    <label for='codigoConvenio' class='dotdotdot' title='Código Convênio'>Cód. Convênio</label>
                    <input id='codigoConvenio' type="text" class="form-control" name='codigoConvenio' value="{{convenio.CodigoConvenio}}">
                </div>
            </div>
            <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
                <div class="form-group p-left-10 p-right-10">
                    <label for='digitoVerificador' class='dotdotdot' title='Digito Verificador Convênio'>DV</label>
                    <input id='digitoVerificador' type="text" class="form-control" name='digitoVerificador' value="{{convenio.DigitoVerificador}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='Convênio Ativo'>Ativo</label> <br/>
                    <input id='convenio_ativo' type="checkbox" name='ativo' {% if convenio.Ativo == '1' %} checked="true" {% endif %}>
                    <label for='convenio_ativo'>Sim</label>
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10">
                    <label for='cnpjConvenio' class='dotdotdot' title='CNPJ'>CNPJ</label>
                    <input id='cnpjConvenio' type="text" class="form-control" name='cnpjConvenio' value="{{convenio.Cnpj}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">                                        
                    <label for='tipoCobranca' class='dotdotdot' title='Tipo da Cobrança'>Tipo da Cobrança</label>
                    <select id='tipoCobranca' class='width-100 chosen-select' name='tipoCobranca' placeholder="Tipo da Cobrança">
                        <option value='registrada' {% if convenio.TipoCobranca == 'registrada' %} selected {% endif %}>Registrada</option>
                    </select>
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-left-10 p-right-10">
                    <label for='tipoNossoNumero' class='dotdotdot' title='Tipo do Nosso Número'>Tipo do Nosso Nº</label>
                    <select id='tipoNossoNumero' class='width-100 chosen-select' name='tipoNossoNumero' placeholder="Tipo do Nosso Número">
                        <option value='referencia_boleto' {% if convenio.TipoNossoNumero == 'referencia_boleto' %} selected {% endif %}>Referência por Boleto</option>
                        <option value='sequencial' {% if convenio.TipoNossoNumero == 'sequencial' %} selected {% endif %}>Sequencial</option>
                    </select>
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">                                        
                    <label for='limiteInferior' class='dotdotdot' title='Limite Inferior'>Limite Inferior</label>
                    <input id='limiteInferior' type="text" class="form-control" name='limiteInferior' value="{{convenio.LimiteInferior}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10 p-right-10">                                        
                    <label for='limiteSuperior' class='dotdotdot' title='Limite Superior'>Limite Superior</label>
                    <input id='limiteSuperior' type="text" class="form-control" name='limiteSuperior' value="{{convenio.LimiteSuperior}}">
                </div>
            </div>
            <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                <div class="form-group p-left-10">                                        
                    <label for='ultimoSequencialArquivoCobranca' class='dotdotdot' title='Último Sequencial Arquivo de Cobrança'>Último Sequencial Arquivo de Cobrança</label>
                    <input id='ultimoSequencialArquivoCobranca' type="text" class="form-control" name='ultimoSequencialArquivoCobranca' value="{{convenio.UltimoSequencialArquivoCobranca}}">
                </div>
            </div>
            <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                <div class="form-group p-right-10">                                        
                    <label for='valorCodigoBarra' class='dotdotdot' title='Valor Cód. Barra'>Valor Cód. Barra</label>
                    <select id='valorCodigoBarra' class='width-100 chosen-select' name='valorCodigoBarra' placeholder="Valor Código de Barra">
                        <option value='original' {% if convenio.ValorCodigoBarra == 'original' %} selected {% endif %}>Original</option>
                        <option value='liquido' {% if convenio.ValorCodigoBarra == 'liquido' %} selected {% endif %}>Líquido</option>
                    </select>
                </div>
            </div>

            <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
                <div class="form-group p-left-10 p-right-10">
                    <label for='carteira' class='dotdotdot' title='Carteira'>Carteira</label>
                    <input id='carteira' type="text" class="form-control" name='carteira' value="{{convenio.Carteira}}">
                </div>
            </div>
            <div class="no-padding col-sm-8 col-lg-8 col-md-8 col-xs-8">
                <div class="form-group p-left-10">
                    <label for='tipoCarteira' class='dotdotdot' title='Tipo da Carteira'>Tipo da Carteira</label>
                    <input id='tipoCarteira' type="text" class="form-control" name='tipoCarteira' value="{{convenio.TipoCarteira}}">
                </div>
            </div>           
        </div>    

        <h4>Empresa</h4>
        <div class="row">            
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-right-10">
                    <label for='empresaRazaoSocial' class='dotdotdot' title='Razão Social da Empresa'>Razão Social</label>
                    <select id='empresaRazaoSocial' class='width-100 chosen-select' name='empresaId' placeholder="Razão Social da Empresa">
                        {% for empresa in empresas %}
                            <option value='{{empresa.Idempresa}}' {% if empresa.Idempresa == empresaAtual.Idempresa %} selected {% endif %} name='empresaRazaoSocial'>{{empresa.Pessoa.RazaoSocial}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10 p-right-10">
                    <label class='dotdotdot' title='CNPJ'>CNPJ</label>
                    <input readonly type="text" class="form-control" value="{{empresaAtual.Pessoa.CpfCnpj}}">
                </div>
            </div>
            <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                <div class="form-group p-left-10">
                    <label class='dotdotdot' title='Tipo da Geração da Cobrança'>Tipo da Geração da Cobrança</label>
                    <input readonly type="text" class="form-control" value="{{empresaAtual.TipoGeracaoCobranca|capitalize}}">
                </div>
            </div>
        </div>

        {% if convenio.Idconvenio is not null and convenio.Idconvenio != 0 %}
            <div class='row centro'>            
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Cadastro</label>
                        <p>{{convenio.DataCadastro|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Data de Alteração</label>
                        <p>{{convenio.DataAlterado|date('d/m/Y')}}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label>Usuário de Alteração</label>
                        <p>{{convenio.Usuario.Login}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </form>
</div>