{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/financeiro/forma-pagamento.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Cadastro de Serviços Prestados
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">
                <a class='btn btn-primary' href="{{path('ima_telecom_admin_financeiro_formas_pagamento')}}">
                    Formas de Pagamento
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow"> 
        {% set idformaPagamento = 0 %}
        {% if formaPagamento.IdformaPagamento is not null %}
            {% set idformaPagamento = formaPagamento.IdformaPagamento %}
        {% endif %}
        <form method='POST' action='{{path('ima_telecom_admin_financeiro_formas_pagamento_forma_pagamento_salvar', { formaPagamentoId: idformaPagamento })}}'>
            <div class='row'>
                <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="no-padding col-lg-6 col-sm-6 col-md-6 col-xs-6">
                        <div class="form-group p-right-10" title=''>
                            <label for="nome">Nome</label> <br />
                            <input class='width-100' id='nome' type="text" name="nome" placeholder="Nome da Forma de Pagamento" value='{{formaPagamento.Nome}}'/>
                        </div>
                    </div>
                    <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10" title=''>
                            <label for="tipo">Tipo</label> <br />
                            <input class='width-100' id='tipo' type="text" name="tipo" placeholder="Tipo da Forma de Pagamento" value='{{formaPagamento.Tipo}}'/>
                        </div>
                    </div>
                    <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10" title=''>
                            <label>Ativo</label> <br />                        
                            <input id='ativo' type="checkbox" name="ativo" {% if formaPagamento.Ativo == '1' %} checked="true" {% endif %}>
                            <label for="ativo">Sim</label>
                        </div>
                    </div>
                </div>
                <div class="no-padding col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="no-padding col-lg-3 col-sm-3 col-md-3 col-xs-3">
                        <div class="form-group" title=''>
                            <label>Tem Nº Documento</label> <br />                        
                            <input id='temNumeroDocumento' type="checkbox" name="temNumeroDocumento" {% if formaPagamento.TemNumeroDocumento == '1' %} checked="true" {% endif %}>
                            <label for="temNumeroDocumento">Sim</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row'>        
                {% if formaPagamento.IdformaPagamento is not null %}
                    <div class="centro">
                        <div class="form-group date-footer">
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <label>Data de Cadastro</label>
                                <p>{{formaPagamento.DataCadastro|date('d/m/Y')}}</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <label>Data de Alteração</label>
                                <p>{{formaPagamento.DataAlterado|date('d/m/Y')}}</p>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                                <label>Usuário de Alteração</label>
                                <p>{{formaPagamento.Usuario.login}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class='row'>                        
                <div class="direita">
                    {% if formaPagamento.IdformaPagamento is not null %}
                        <button type="reset" class="btn btn-primary">Cancelar Edição</button>                    
                        <a  class='btn btn-danger m-left-20 excluir-forma-pagamento'
                            href="#" data-url="{{path('ima_telecom_admin_financeiro_formas_pagamento_forma_pagamento_excluir', {formaPagamentoId: formaPagamento.IdformaPagamento})}}">
                            Excluir
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-success m-left-20">Gravar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}