{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-confirmation.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/financeiro/formas-pagamento.js') }}" ></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 no-padding">
                Formas de Pagamento
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8 no-padding direita">                                
                <a href="{{ path('ima_telecom_admin_financeiro_formas_pagamento_forma_pagamento') }}" class="btn btn-primary m-left-20" data-title='Realização da Baixa' data-tipo="baixa">
                    Nova Forma de Pagamento
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow">        
        <table class="table">
            <thead>
                <tr>
                    <th class="centro">Código</th>
                    <th>Tipo</th>
                    <th>Nome</th>
                    <th class="centro">Ativo</th>
                    <th class="centro">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for forma in formasPagamento %}
                    <tr>
                        <td class="centro">{{forma.IdformaPagamento}}</td>
                        <td>{{forma.Tipo}}</td>
                        <td>{{forma.Nome}}</td>
                        <td>
                            <div style="vertical-align: middle" class="centro">
                                <input type="checkbox" class="no-clicked" {% if forma.Ativo == '1' %} checked="true" {% endif %}>
                                <label></label>
                            </div>
                        </td>
                        <td>
                            <div class="direita">
                                <a href="{{ path('ima_telecom_admin_financeiro_formas_pagamento_forma_pagamento', {formaPagamentoId: forma.IdformaPagamento}) }}" title="Editar Forma de Pagamento" class="col-separator"><i class="icon fa fa-edit" aria-hidden="true"></i></a>
                                <a data-toggle="confirmation" data-placement="top" data-title="Você têm certeza?" data-btn-ok-label="Sim" data-btn-cancel-label="Nãão" href="#" data-url="{{path('ima_telecom_admin_financeiro_formas_pagamento_forma_pagamento_excluir', {formaPagamentoId: forma.IdformaPagamento})}}" title="Excluir Forma de Pagamento" class="confirmation-excluir col-separator"><i class="icon fa fa-trash" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}