{#<div id='container-baixa-arquivo'>
    
    <script>
        {% if isTab is not defined or isTab == false %}
            $("input:file").change(function () {
                var fileName = $(this).val();
                if (fileName != '') {
                    $('#container-baixa-opcoes').toggle();
                }
            });

            $("#input-24").fileinput({
                browseOnZoneClick: true,
                uploadAsync: false,
                showUpload: false,
                showRemove: false,
                showUploadedThumbs: false,
                allowedFileExtensions: ["txt"]
            });
        {% else %} 
            $("#input-24").fileinput();
        {% endif %}

            $("#formulario_baixa_lancamento").submit(function (e) {
                e.preventDefault();

                var url = $(this).attr('action'),
                        type = $(this).attr('method'),
                        data = $(this).serialize();

                var formData = new FormData($(this)[0]);

                $.ajax({
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: type,
                    url: url,
                    data: formData,
                    beforeSend: function ()
                    {
                        $("#container-baixa-arquivo").append("<section class='loading'/>");
                    },
                    success: function (response, textStatus, jqXHR) {
                        console.log(response);
                        $("section.loading").remove();

                        if (response.status == true) {
                            $("#alerta_topo_interno").removeClass('alert-danger');
                            $("#alerta_mensagem_interno").text(response.mensagem);
                            $("#alerta_topo_interno").addClass('alert-success');
                            $("#alerta_topo_interno").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                            MostrarAlertaTopo('alert-success', 15000);
                        } else {
                            var erros = "";
                            $.each(response.erros, function (key, erro) {
                                erros += "<br/>" + erro;
                            });

                            $("#alerta_mensagem_interno").html(erros);
                            $("#alerta_topo_interno").addClass('alert-danger');
                            $("#alerta_topo_interno").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                            MostrarAlertaTopo('alert-danger', 15000);
                        }
                    },
                    error: function (response, textStatus, jqXHR) {
                        console.log("AKI");
                        console.log(response, textStatus, jqXHR);

                        $("section.loading").remove();
                        $("#alerta_mensagem_interno").text(jqXHR);
                        $("#alerta_topo_interno").addClass('alert-danger');
                        $("#alerta_topo_interno").removeClass('oculto').css({display: 'block', opacity: 1}).slideDown(500);

                        MostrarAlertaTopo('alert-success', 15000);
                    }
                });

                return false;
            });
    </script>
    
    
    
    <form id='formulario_baixa_lancamento' enctype="multipart/form-data" method='POST' action="{{path('ima_telecom_admin_financeiro_lancamentos_bancarios_baixar_lancamento', {lancamentoId: lancamento.Idlancamento})}}">
        <div class="no-padding col-sm-7 col-lg-7 col-md-7 col-xs-12">
            <div class="form-group">
                <label>Arquivo de Baixa Bancária</label>
                <div class="file-loading">
                    <input id="input-24"  name="arquivoRetorno" type="file" class="file" data-show-preview="false">
                </div>
            </div>
        </div>
        <div id='container-baixa-opcoes' class="oculto no-padding col-sm-5 col-lg-5 col-md-5 col-xs-12">       
            <div class="form-group col-right">
                <label>&nbsp;</label><br/>
                <button type="reset" class="col-left btn btn-danger">Remover</button>
                <button type="submit" class="btn btn-success">Upload</button>  
            </div>
        </div>
        <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
            <div id="alerta_topo_interno" class="alert centro oculto" role="alert">
                <button type="button" class="close">
                    <span>&times;</span>
                </button>
                <strong>Atenção!</strong>
                <span id="alerta_mensagem_interno"></span>
            </div>
        </div>
    </form>
</div>#}

<link href="{{ asset('bundles/imatelecom/css/fileinput.min.css') }}" rel="stylesheet" />
<script src="{{ asset('bundles/imatelecom/js/fileinput.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/locales/pt-BR.js') }}" ></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/locales/pt-BR.js"></script>#}

<script>
    $(function () {
        $("#arquivoRetorno").fileinput({
            language: "pt-BR",
            browseOnZoneClick: true,
            uploadAsync: false,
            showUpload: false,
            //previewFileType: 'any',
            showRemove: false,
            showUploadedThumbs: false,
            allowedFileExtensions: ["txt"]
        });

        $('#formulario_baixa_lancamento').submit(function (e) {
            e.preventDefault();

            var url = $(this).attr('action'),
                    type = $(this).attr('method'),
                    //data = $(this).serialize(),
                    formData = new FormData($(this)[0]);
        
            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                type: type,
                url: url,
                data: formData,
                dataType: 'JSON',
                success: function (response, textStatus, jqXHR) {
                    if (response.status == true) {
                        mostrarMensagem('success', 'Bem Feeito!!', '', response.mensagem);
                    } else {
                        mostrarMensagem('danger', 'Ops... Aconteceu algo de errado!', 
                        'Por favor, verifique os erros ocorridos que foram listados abaixo.', 
                        response.mensagem);
                    }
                }
            });
        });

        function mostrarMensagem(className, titulo, subtitulo, mensagem) {            
            $('#alerta_status_popup').attr('class', 'alert alert-'+className);
            $('#alerta_titulo_popup').text(titulo);
            $('#alerta_subtitulo_popup').text(subtitulo);
            $('#erros_alerta_popup').text(mensagem);
            $('#container_alerta_popup').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta_popup').addClass('oculto');
            }, 40000);
        }
    });

</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta_popup' class='row oculto'>
        <div id='alerta_status_popup' class="alert alert-danger" role="alert">
            <h4 id='alerta_titulo_popup' class="alert-heading"></h4>
            <p id='alerta_subtitulo_popup'></p>
            <hr class='separator-h-10'>
            <p id='erros_alerta_popup' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_baixa_lancamento' enctype="multipart/form-data" method='POST' 
          action="{{path('ima_telecom_admin_financeiro_lancamentos_bancarios_baixar_lancamento', {lancamentoId: lancamento.Idlancamento})}}">

        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Realização da Baixa do Lançamento Bancário</h4>
            </div>
        </div>

        <hr>

        <div class='row'>            
            <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <div class="form-group">
                    <label>Arquivo de Baixa Bancária</label>
                    <div class="file-loading">
                        <input id="arquivoRetorno" placeholder="Selecione o Arquivo de Retorno Bancário" name="arquivoRetorno" type="file" class="file" data-show-preview="false">
                    </div>
                </div>                
            </div>
        </div>
    </form>
</div>