{% extends 'ImaTelecomBundle:Admin:moldura.html.twig' %}

{% block stylesheets %}
    {{ parent() }}    
    <link href="{{ asset('bundles/imatelecom/css/datatables.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/responsive.bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imatelecom/css/admin/table.css') }}" rel="stylesheet" />
    {#    <link href="{{ asset('bundles/imatelecom/css/admin/popup.css') }}" rel="stylesheet" />#}
    {#        <link href="{{ asset('bundles/imatelecom/css/fileinput.min.css') }}" rel="stylesheet" />#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/imatelecom/js/datatables.min.js') }}" ></script>
    <script src="{{ asset('bundles/imatelecom/js/bootstrap-bootbox.min.js') }}" ></script>
    {#    <script src="{{ asset('bundles/imatelecom/js/admin/popup.js') }}" ></script>#}
    {#    <script src="{{ asset('bundles/imatelecom/js/financeiro/lancamentos_bancarios.js') }}" ></script>        #}
    {#        <script src="{{ asset('bundles/imatelecom/js/fileinput.min.js') }}" ></script>#}

    <script>
        $(document).ready(function (e) {
            var searchString = '';
            $('table.table').dataTable({
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
                },
                ordering: false,
                searchable: true,
                responsive: false,
                processing: false,
                serverSide: true,
                deferRender: true,
                ajax: function (data, callback, settings) {
                    searchString = data.search.value;
                    var rows = [];
                    var out = [];

        {% for lancamento in lancamentos %}
                        var opcoes = '<a href="#" data-url="{{ path('ima_telecom_admin_financeiro_lancamentos_bancarios_detalhes_lancamento', {lancamentoId: lancamento.Idlancamento}) }}" data-title="Detalhes do Lançamento Bancário" data-refresh="false" title="Detalhes do Lançamento" class="ajax col-separator"><i class="icon fa fa-info" aria-hidden="true"></i></a>';
                        opcoes += '<a href="#" data-url="{{path('ima_telecom_admin_financeiro_lancamentos_bancarios_baixar_lancamento', {lancamentoId: lancamento.Idlancamento})}}" data-title="Realização da Baixa do Lançamento Bancário" data-refresh="false" title="Realização da Baixa do Lançamento" class="ajax col-separator"><i class="icon fa fa-money" aria-hidden="true"></i></a>'
                        opcoes += '<a href="#" data-url="{{path('ima_telecom_admin_financeiro_lancamentos_bancarios_download_lancamento', {lancamentoId: lancamento.Idlancamento})}}" data-title="Download do Arquivo de Lançamento Bancário" title="Download do Arquivo de Lançamento" class="download col-separator"><i class="icon fa fa-download" aria-hidden="true"></i></a>';

                        var columns = [];
                        columns.push('<div class="centro">{{lancamento.Idlancamento}}</div>');
                        columns.push('{{lancamento.Convenio.BancoAgenciaConta.Banco.Nome}}');
                        columns.push('<div class="centro">{{lancamento.Competencia.Ano ~ '/' ~ lancamento.Competencia.Mes}}</div>');
                        columns.push('<div class="centro">{{lancamento.DataGeracao}}</div>');
                        columns.push('<div class="direita">' + opcoes + '</div>');

                        if (columns.filter(filter).length !== 0) {
                            rows.push(columns);
                        }
        {% endfor %}

                        var recordsTotal = rows.length;
                        for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                            if (i < rows.length) {
                                out.push(rows[i]);
                            }
                        }

                        setTimeout(function () {
                            callback({
                                draw: data.draw,
                                data: out,
                                recordsTotal: recordsTotal,
                                recordsFiltered: recordsTotal
                            });
                        }, 50);


                        return data;
                    }
                });

                function filter(string) {
                    return string.toLowerCase().includes(searchString.toLowerCase());
                }

                $('body').on('click', '.download', function (e) {
                    e.preventDefault();

                    var title = $(this).data('title');
                    var url = $(this).data('url');

                    $.ajax({
                        url: url,
                        type: 'POST',
                        success: function (response, textStatus, jqXHR) {
                            var isDownloaded = DownloadFile(response, textStatus, jqXHR);
                            if (isDownloaded !== false) {
                                mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                            } else {
                                alert('Erro no servidor');
                            }
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });

                $('body').on('click', '.ajax', function (e) {
                    e.preventDefault();

                    var title = $(this).data('title');
                    var url = $(this).data('url');
                    var refresh = $(this).data('refresh');

                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (response, textStatus, jqXHR) {
                            var dialog = bootbox.dialog({
                                title: title,
                                message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                                size: 'large',
                                onEscape: function () {
                                    // you can do anything here you want when the user dismisses dialog
                                    console.log("Fechando");
                                    if (refresh !== false) {
                                        location.reload();
                                    }
                                }
                            });

                            dialog.init(function () {
                                setTimeout(function () {
                                    dialog.find('.bootbox-body').html(response);
                                }, 3000);
                            });

                            $('.modal-dialog').css('width:1000px !important');
                        },
                        error: function (request, textStatus, errorThrown) {
                            console.log(request, textStatus, errorThrown);
                            mostrarNotificacao('Foi encontrado alguns erros!', errorThrown);
                        }
                    });
                });

                function mostrarMensagemDownload(mensagem) {
                    $('#mensagem_alerta').text(mensagem);
                    $('#container_alerta').removeClass('oculto');
                    setTimeout(function () {
                        $('#container_alerta').addClass('oculto');
                    }, 30000);
                }
            });
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="card-simple">
        <div class="card-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding">
                Lançamentos bancários
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-6 no-padding direita">                
                <a href="javascript:void(0);" class="ajax btn btn-primary" data-title='Novo Lançamento Bancário'
                   data-url="{{path('ima_telecom_admin_financeiro_lancamentos_bancarios_geracao_lancamento')}}">
                    Novo Lançamento
                </a>
            </div>
            <div style="clear: both;"></div>
        </div>        
    </div>

    <div class="card-simple overflow"> 
        <div id='container_alerta' class='row oculto'>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Bem Feeito!</h4>
                <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
                <hr class='separator-h-10'>
                <p id='mensagem_alerta' class="mb-0"></p>
            </div>
        </div>

        <table class='table'>
            <thead>
                <tr>
                    <th class='negrito centro'>Cód. Lançamento</th>
                    <th>Banco</th>
                    <th class='centro'>Competência</th>
                    <th class='centro'>Data de Geração</th>
                    <th class='centro'>Opções</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}