<div class='row'>
    {% set banco = dadosBancario.Banco %}
    {% set bancoAgencia = dadosBancario.BancoAgencia %}
    {% set enderecoAgencia = bancoAgencia.EnderecoAgencia %}
    {% set convenio = dadosBancario.Convenio %}
    {% set empresa = convenio.Empresa %}

    <h4>Agência Bancária</h4>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Banco'>Banco</label>
            <input disabled type="text" class="form-control" value="{{banco.Nome}}">
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Código Febraban'>Código Febraban</label>
            <input disabled type="text" class="form-control" value="{{banco.CodigoFebraban}}">
        </div>
    </div>  
    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
        <div class="form-group p-left-10">
            <label class='dotdotdot' title='Nome da Agência Bancária'>Nome da Agência Bancária</label>
            <input disabled type="text" class="form-control" value="{{bancoAgencia.Nome}}">
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Agência'>Agência</label>
            <input disabled type="text" class="form-control" value="{{bancoAgencia.Agencia}}">
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Digito Verificador da Agência Bancária'>DV</label>
            <input disabled type="text" class="form-control" value="{{bancoAgencia.DigitoVerificador}}">
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">            
        <div class="form-group p-left-10 p-right-10">
            {% set tipoConta = '' %}
            {% if dadosBancario.TipoConta == 'corrente' %}
                {% set tipoConta = 'Corrente' %}
            {% elseif dadosBancario.TipoConta == 'poupanca' %}
                {% set tipoConta = 'Poupança' %}
            {% endif %}
            <label class='dotdotdot' title='Tipo da Conta'>Tipo da Conta</label>
            <input disabled type="text" class="form-control" value="{{tipoConta}}">
        </div>
    </div>                        
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
        <div class="form-group p-left-10">
            <label class='dotdotdot' title='Valor do Código de Barras'>Valor do Cód. de Barras</label>
            <input disabled type="text" class="form-control" value="{{dadosBancario.NumeroConta}}">
        </div>
    </div>

    <h4>Endereço da Agência</h4>            
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Endereço'>Endereço</label>
            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Rua}}">
        </div>
    </div>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">                  
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Número'>Número</label>
            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Num}}">
        </div>
    </div>           
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Bairro'>Bairro</label>
            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Bairro}}">
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
        <div class="form-group p-left-10">
            <label class='dotdotdot' title='CEP'>CEP</label>
            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Cep}}">
        </div>
    </div>

    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Complemento'>Complemento</label>
            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Complemento}}">
        </div>
    </div>
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
            <input disabled type="text" class="form-control" value="{{enderecoAgencia.PontoReferencia}}">
        </div>
    </div>
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">            
        {% set cidade = enderecoAgencia.Cidade %}
        <div class="form-group p-left-10">
            <label class='dotdotdot' title='Município'>Município</label>                    
            <input disabled type="text" class="form-control" value="{{cidade.Municipio ~ '/' ~ cidade.Uf}}">                    
        </div>
    </div>

    <h4>Convênio</h4>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Código Convênio'>Cód. Convênio</label>
            <input disabled type="text" class="form-control" value="{{convenio.CodigoConvenio}}">
        </div>
    </div>
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Convênio'>Convênio</label>
            <input disabled type="text" class="form-control" value="{{convenio.Nome}}">
        </div>
    </div>
    <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Digito Verificador Convênio'>DV</label>
            <input disabled type="text" class="form-control" value="{{convenio.DigitoVerificador}}">
        </div>
    </div>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Convênio Ativo'>Ativo</label> <br/>
            <input id='convenio_ativo' type="checkbox" {% if convenio.Ativo == '1' %} checked="true" {% endif %}>
            <label>Sim</label>
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
        <div class="form-group p-left-10">
            <label class='dotdotdot' title='CNPJ'>CNPJ</label>
            <input disabled type="text" class="form-control" value="{{convenio.Cnpj}}">
        </div>
    </div>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
        <div class="form-group p-right-10">                                        
            <label class='dotdotdot' title='Tipo da Cobrança'>Tipo da Cobrança</label>
            <input disabled type="text" class="form-control" value="{{convenio.TipoCobranca|capitalize}}">
        </div>
    </div>
    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
        <div class="form-group p-left-10 p-right-10">
            {% set tipoNossoNumero = '' %}
            {% if convenio.TipoNossoNumero == 'referencia_boleto' %}
                {% set tipoNossoNumero = 'Referência por Boleto' %}
            {% elseif convenio.TipoNossoNumero == 'poupanca' %}
                {% set tipoNossoNumero = 'Poupança' %}
            {% endif %}

            <label class='dotdotdot' title='Tipo do Nosso Número'>Tipo do Nosso Nº</label>
            <input disabled type="text" class="form-control" value="{{tipoNossoNumero}}">
        </div>
    </div>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
        <div class="form-group p-right-10">                                        
            <label class='dotdotdot' title='Limite Inferior'>Limite Inferior</label>
            <input disabled type="text" class="form-control" value="{{convenio.LimiteInferior}}">
        </div>
    </div>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
        <div class="form-group p-right-10">                                        
            <label class='dotdotdot' title='Limite Superior'>Limite Superior</label>
            <input disabled type="text" class="form-control" value="{{convenio.LimiteSuperior}}">
        </div>
    </div>
    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
        <div class="form-group p-left-10">                                        
            <label class='dotdotdot' title='Último Sequencial Arquivo de Cobrança'>Último Sequencial Arquivo de Cobrança</label>
            <input disabled type="text" class="form-control" value="{{convenio.UltimoSequencialArquivoCobranca}}">
        </div>
    </div>
    <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
        <div class="form-group p-left-10">                                        
            <label class='dotdotdot' title='Valor Cód. Barra'>Valor Cód. Barra</label>
            <input disabled type="text" class="form-control" value="{{convenio.ValorCodigoBarra}}">
        </div>
    </div>

    <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Carteira'>Carteira</label>
            <input disabled type="text" class="form-control" value="{{convenio.Carteira}}">
        </div>
    </div>
    <div class="no-padding col-sm-11 col-lg-11 col-md-11 col-xs-11">
        <div class="form-group p-left-10">
            <label class='dotdotdot' title='Tipo da Carteira'>Tipo da Carteira</label>
            <input disabled type="text" class="form-control" value="{{convenio.TipoCarteira}}">
        </div>
    </div>

    <h4>Empresa</h4>
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='Razão Social da Empresa'>Razão Social</label>
            <input disabled type="text" class="form-control" value="{{empresa.Pessoa.RazaoSocial}}">
        </div>
    </div>
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-right-10">
            <label class='dotdotdot' title='CNPJ'>CNPJ</label>
            <input disabled type="text" class="form-control" value="{{empresa.Pessoa.CpfCnpj}}">
        </div>
    </div>
    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
        <div class="form-group p-left-10 p-right-10">
            <label class='dotdotdot' title='Tipo da Geração da Cobrança'>Tipo da Geração da Cobrança</label>
            <input disabled type="text" class="form-control" value="{{empresa.TipoGeracaoCobranca|capitalize}}">
        </div>
    </div>
</div>