<script src="{{ asset('bundles/imatelecom/js/jquery.dotdotdot.js') }}" ></script>

<script>
    $('#container_tabs a.active').tab('show');
    $('[data-toggle="tooltip"]').tooltip();

    $(".tipo-carteira").dotdotdot({
        ellipsis: '... ',
        wrap: 'word',
        after: null,
        watch: true
    });

    var searchStringTodos = '';
    var searchStringAlguns = '';

    $('#todas-cobrancas-lancamento').dataTable({
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
        },
        ordering: false,
        searchable: true,
        responsive: false,
        processing: false,
        serverSide: true,
        deferRender: true,
        ajax: function (data, callback, settings) {
            searchStringTodos = data.search.value;
            var rows = [];
            var out = [];

    {% for cobranca in cobrancas %}        
            var opcoes = '<a href="#" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_detalhes_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.Idboleto }) }}" data-title="Detalhes da Cobrança" title="Detalhes da Cobrança" class="visualizar-detalhes-cobranca col-separator"><i class="icon fa fa-info" aria-hidden="true"></i></a>';
            opcoes += '<a href="#" data-id="#todos_cobranca_{{cobranca.Idboleto}}" data-url="" data-title="Remover da Geração" title="Remover da Geração" class="todos-remover-cobranca-geracao col-separator"><i class="icon fa fa-minus-circle" aria-hidden="true"></i></a>'
            opcoes += '<a href="#" data-id="#todos_cobranca_{{cobranca.Idboleto}}" data-url="" data-title="Adicionar na Geração" title="Adicionar na Geração" class="todos-adicionar-cobranca-geracao oculto col-separator"><i class="icon fa fa-plus-circle" aria-hidden="true"></i></a>';
            opcoes += '<input type="checkbox" class="oculto" id="todos_cobranca_{{cobranca.Idboleto}}" />';
            opcoes += '<input class="oculto" type="hidden" name="cobrancaRemovidaGeracao" value="{{cobranca.Idboleto}}" />';

            var columns = [];
            columns.push('<div class="centro">{{cobranca.Idboleto}}</div>');
            columns.push('{{cobranca.getClienteNome()}}');
            columns.push('<div class="centro">{{cobranca.Vencimento|date('d/m/Y')}}</div>');
            columns.push('<div class="centro">R$ {{cobranca.Valor|number_format(2, ',', '.')}}</div>');
            columns.push('<div class="centro">{{cobranca.ImportId}}</div>');
            columns.push('<div class="direita">' + opcoes + '</div>');

            if (columns.filter(filterTodos).length !== 0) {
                rows.push(columns);
            }
    {% endfor %}

                var recordsTotal = rows.length;
                for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                    if (i < rows.length) {
                        out.push(rows[i]);
                    }
                }

                setTimeout(function () {
                    callback({
                        draw: data.draw,
                        data: out,
                        recordsTotal: recordsTotal,
                        recordsFiltered: recordsTotal
                    });
                }, 50);


                return data;
            }
        });

        $('#algumas-cobrancas-lancamento').dataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
            },
            ordering: false,
            searchable: true,
            responsive: false,
            processing: false,
            serverSide: true,
            deferRender: true,
            ajax: function (data, callback, settings) {
                searchStringAlguns = data.search.value;
                var rows = [];
                var out = [];

    {% for cobranca in cobrancas %}        


                var opcoes = '<a href="#" data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_detalhes_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.Idboleto })}}" data-title="Detalhes da Cobrança" title="Detalhes da Cobrança" class="visualizar-detalhes-cobranca col-separator"><i class="icon fa fa-info" aria-hidden="true"></i></a>';
                opcoes += '<a href="#" data-id="#algumas_cobranca_{{cobranca.Idboleto}}" data-url="" data-title="Remover da Geração" title="Remover da Geração" class="col-separator oculto algumas-remover-cobranca-geracao"><i class="icon fa fa-minus-circle" aria-hidden="true"></i></a>'
                opcoes += '<a href="#" data-id="#algumas_cobranca_{{cobranca.Idboleto}}" data-url="" data-title="Adicionar na Geração" title="Adicionar na Geração" class="algumas-adicionar-cobranca-geracao col-separator"><i class="icon fa fa-plus-circle" aria-hidden="true"></i></a>';
                opcoes += '<input type="checkbox" class="oculto" id="algumas_cobranca_{{cobranca.Idboleto}}" />';
                opcoes += '<input class="oculto" type="hidden" name="cobrancaAdicionadaGeracao" value="{{cobranca.Idboleto}}" />';

                var columns = [];
                columns.push('<div class="centro">{{cobranca.Idboleto}}</div>');
                columns.push('{{cobranca.getClienteNome()}}');
                columns.push('<div class="centro">{{cobranca.Vencimento|date('d/m/Y')}}</div>');
                columns.push('<div class="centro">R$ {{cobranca.Valor|number_format(2, ',', '.')}}</div>');
                columns.push('<div class="centro">{{cobranca.ImportId}}</div>');
                columns.push('<div class="direita">' + opcoes + '</div>');

                if (columns.filter(filterAlguns).length !== 0) {
                    rows.push(columns);
                }
    {% endfor %}

                var recordsTotal = rows.length;
                for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                    if (i < rows.length) {
                        out.push(rows[i]);
                    }
                }

                setTimeout(function () {
                    callback({
                        draw: data.draw,
                        data: out,
                        recordsTotal: recordsTotal,
                        recordsFiltered: recordsTotal
                    });
                }, 50);


                return data;
            }
        });

        function filterTodos(string) {
            return string.toLowerCase().includes(searchStringTodos.toLowerCase());
        }

        function filterAlguns(string) {
            return string.toLowerCase().includes(searchStringAlguns.toLowerCase());
        }

        $('.tipo-cobranca-geracao').change(function (e) {
            var tipo = $(this).val();
            if (tipo == 'todos') {
                $("#container_geracao_algumas_cobrancas").hide();
                $("#container_geracao_todas_cobrancas").show();
            } else {
                $("#container_geracao_todas_cobrancas").hide();
                $("#container_geracao_algumas_cobrancas").show();
            }
        });


        $('.convenio').change(function () {
            var url = $(this).data('url');
            $.ajax({
                url: url,
                type: 'GET',
                beforeSend: function ()
                {
                    $("#dados-bancario-convenio").html("<section class='loading'><i class='fa fa-spin fa-spinner'></i> Loading...</section>");
                },
                success: function (response) {
                    $("#dados-bancario-convenio").html(response);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        $('body').on('reset', '#formulario_geracao_lancamentos', function () {
            bootbox.hideAll();
        });

        $('body').on('click', '.todos-adicionar-cobranca-geracao', function () {
            AdicionarCobranca(this, false);
        });

        $('body').on('click', '.algumas-adicionar-cobranca-geracao', function () {
            AdicionarCobranca(this, true);
        });

        $('body').on('click', '.todos-remover-cobranca-geracao', function () {
            RemoverCobranca(this, true);
        });

        $('body').on('click', '.algumas-remover-cobranca-geracao', function () {
            RemoverCobranca(this, false);
        });

        function AdicionarCobranca(object, checked) {
            if (!checked) {
                $(object).closest('tr').toggleClass('danger');
            } else {
                $(object).closest('tr').toggleClass('success');
            }

            var id = $(object).data('id');
            $(id).prop('checked', checked);
            $(object).addClass('oculto');
            $(object).prev().removeClass('oculto');
        }

        function RemoverCobranca(object, checked) {
            if (checked) {
                $(object).closest('tr').toggleClass('danger');
            } else {
                $(object).closest('tr').toggleClass('success');
            }

            var id = $(object).data('id');
            $(id).prop('checked', checked);
            $(object).addClass('oculto');
            $(object).next().removeClass('oculto');
        }

        $('#formulario_geracao_lancamentos').submit(function (e) {
            e.preventDefault();

            $('#container_alerta').addClass('oculto');

            var url = $(this).attr('action');
            var type = $(this).attr('method');

            var notify = $.notify({
                title: '<strong>Gerando Lançamento</strong><br/>',
                message: 'Não feche esta página...'
            }, {
                type: 'info',
                allow_dismiss: false,
                showProgressbar: true,
                progress: '0',
                delay: 300000 // 5 minutos
            });

            setTimeout(function () {
                notify.update('message', 'Verificando erros.');
                gerarLancamentoBancario(notify, type, url);
            }, 2000);
        });

        function gerarLancamentoBancario(notify, type, url) {
            var convenio = $('input[name="convenio"]:checked').val();
            var tipoCobrancaGeracao = $('input[name="tipoCobrancaGeracao"]:checked').val();

            var status = true;
            var data = {};
            var cobrancas = [];
            if (tipoCobrancaGeracao === 'todos') {
                var cobrancasRemovidas = $('input[name="cobrancaRemovidaGeracao"]');
                $.each(cobrancasRemovidas, function (index, object) {
                    var isChecked = $(object).prev().prop('checked');
                    if (isChecked) {
                        cobrancas.push($(object).val());
                    }
                });
            } else {
                var cobrancasAdicionadas = $('input[name="cobrancaAdicionadaGeracao"]');
                $.each(cobrancasAdicionadas, function (index, object) {
                    var isChecked = $(object).prev().prop('checked');
                    if (isChecked) {
                        cobrancas.push($(object).val());
                    }
                });
            }


            data.tipo = tipoCobrancaGeracao;
            data.cobrancas = cobrancas;
            data.convenio = convenio;

            $.ajax({
                url: url,
                type: type,
                data: data,
                beforeSend: function ()
                {
                    notify.update('message', 'Acessando o servidor. Por favor, espere!!');
                },
                success: function (response, textStatus, jqXHR) {
                    var isDownloaded = typeof (response) === 'string';
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        if (isDownloaded === false) {
                            if (response.status === true) {
                                notify.update('type', 'success');
                            } else {
                                notify.update('type', 'danger');
                            }
                        } else {
                            notify.update('type', 'success');
                            mostrarMensagemDownload('Download do arquivo foi iniciado com sucesso!');
                        }

                        notify.update('progress', '100');
                        notify.close();
                    }, 2500);

                    setTimeout(function () {
                        if (isDownloaded === false && response.status === false) {
                            alert(response.erros.join('\n'));
                        } else if (isDownloaded === true) {
                            DownloadFile(response, textStatus, jqXHR);
                        }
                    }, 3000);
                },
                error: function (request, textStatus, errorThrown) {
                    setTimeout(function () {
                        notify.update('delay', '5000');
                        notify.update('type', 'danger');
                        notify.update('progress', '100');
                        notify.close();
                    }, 2500);

                    setTimeout(function () {
                        alert(errorThrown);
                    }, 3000);
                }
            });
        }

        function mostrarMensagemDownload(mensagem) {
            $('#mensagem_alerta').text(mensagem);
            $('#container_alerta').removeClass('oculto');
            setTimeout(function () {
                $('#container_alerta').addClass('oculto');
            }, 30000);
        }
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div id='container_alerta' class='row oculto'>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem Feeito!</h4>
            <p>Seu download iniciará em instantes, verifique na <strong>Aba de Downloads</strong> do seu navegador.</p>
            <hr class='separator-h-10'>
            <p id='mensagem_alerta' class="mb-0"></p>
        </div>
    </div>

    <form id='formulario_geracao_lancamentos' method='POST' action='{{ path('ima_telecom_admin_financeiro_lancamentos_bancarios_geracao_lancamento_gerar') }}'>
        <div class='row'>
            <div class="col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <h4>Resumo do Lançamento Bancário</h4>
            </div>
            <div class="direita col-sm-6 col-lg-6 col-md-6 col-xs-6 no-padding">
                <input type='reset' class='btn btn-danger' value='Cancelar' />
                <input type='submit' class='btn btn-success m-left-20' value='Gerar Lançamento' />
            </div>
        </div>

        <hr>

        <ul class="nav nav-tabs" id="container_tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="convenios-tab" data-toggle="tab" href="#convenios" role="tab" aria-controls="convenios" aria-selected="true">Convênios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cobrancas-tab" data-toggle="tab" href="#cobrancas" role="tab" aria-controls="cobrancas" aria-selected="false">Cobranças</a>
            </li>            
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="convenios" role="tabpanel" aria-labelledby="convenios-tab">
                <div class='row'>
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
                        <h4>Selecione o Convênio para a geração do Lançamento</h4>
                        <table id='tipo-convenio-cobrancas-lancamento' class='table'>
                            <thead>
                                <tr>
                                    <th class='centro'>Selecionado</th>
                                    <th>Banco</th>
                                    <th class='centro'>Cód. Convênio</th>
                                    <th>Convênio</th>
                                    <th class='centro'>CNPJ</th>
                                    <th>Tipo da Carteira</th>
                                        {#                                    <th class='centro' title='Último sequencial do Arquivo de Cobrança'>Sequencial</th>#}
                                </tr>
                            </thead>
                            <tbody>
                                {% for dadoBancario in dadosBancarios %}
                                    {% set banco = dadoBancario.Banco %} 
                                    {% set convenio = dadoBancario.Convenio %} 
                                    <tr>
                                        <td class='centro'>
                                            <div class="radio">                                                
                                                <input id='convenio_{{convenio.Idconvenio}}' title='Selecionar Convênio' data-url="{{path('ima_telecom_admin_financeiro_lancamentos_bancario_geracao_convenio_dados_bancario', { convenioId: convenio.Idconvenio })}}"
                                                       class='convenio' type="radio" name='convenio'  value='{{convenio.Idconvenio}}'>
                                                <label for='convenio_{{convenio.Idconvenio}}'></label>
                                            </div>
                                        </td>
                                        <td class=''>{{banco.Nome}}</td>
                                        <td class='centro'>{{convenio.CodigoConvenio}}</td>
                                        <td class=''>{{convenio.Nome}}</td>
                                        <td class='centro'>{{convenio.Cnpj}}</td>
                                        <td class='tipo-carteira' title='{{convenio.TipoCarteira|capitalize}}'>{{convenio.TipoCarteira|capitalize}}</td>
                                        {#                                        <td class='centro'>{{convenio.UltimoSequencialArquivoCobranca}}</td>                                    #}
                                    </tr>
                                {% endfor %} 
                            </tbody>
                        </table>                        

                        <div id='dados-bancario-convenio'></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active" id="cobrancas" role="tabpanel" aria-labelledby="cobrancas-tab">
                <div class='row'>
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
                        <h4>Cobranças para Geração do Lançamento</h4>
                        <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                <p>
                                    <label>Selecione o tipo da Geração</label>
                                </p>
                                <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                    <div class="form-group p-right-10">
                                        <input class='tipo-cobranca-geracao' id='geracao_cobranca_todos' type="radio" name='tipoCobrancaGeracao' value='todos' checked> 
                                        <label for="geracao_cobranca_todos"><span>Gerar para <span class='negrito'>todos ou quase todos</span> os Clientes.</span></label> 
                                    </div>
                                </div>
                                <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                                    <div class="form-group p-left-10">
                                        <input class='tipo-cobranca-geracao' id='geracao_cobranca_alguns' type="radio" name='tipoCobrancaGeracao' value='alguns'> 
                                        <label for="geracao_cobranca_alguns"><span>Gerar para <span class='negrito'>somente algum(uns)</span> Cliente(s) em específico(s).</span></label>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div style='clear:both'></div>
                        <hr class='separator-h-10'>

                        <div id='container_geracao_todas_cobrancas' class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <h4>
                                Geração para <span class='negrito uppercase'>todos ou quase todos</span> os Clientes.
                                <span class="glyphicon glyphicon-info-sign font-9"
                                      data-toggle="tooltip" data-placement="top" 
                                      title="Lista as Cobranças geradas na Competência Atual somente!"></span>
                            </h4>

                            <table id='todas-cobrancas-lancamento' class='table'>
                                <thead>
                                    <tr>
                                        <th class='centro'>Cód. Boleto</th>
                                        <th>Cliente</th>
                                        <th class='centro'>Vencimento</th>
                                        <th class='centro'>Valor</th>
                                        <th class='centro'>Cód. Importação</th>
                                        <th class='centro'>Opções</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div id='container_geracao_algumas_cobrancas' class="no-padding oculto col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <h4>
                                Geração para <span class='negrito uppercase'>somente algum(uns)</span> Cliente(s) em específico(s).
                                <span class="glyphicon glyphicon-info-sign font-9"
                                      data-toggle="tooltip" data-placement="top" 
                                      title="Lista as Cobranças geradas na Competência Atual somente!"></span>
                            </h4>
                            <table id='algumas-cobrancas-lancamento' class='table'>
                                <thead>
                                    <tr>
                                        <th class='centro'>Cód. Boleto</th>
                                        <th>Cliente</th>
                                        <th class='centro'>Vencimento</th>
                                        <th class='centro'>Valor</th>
                                        <th class='centro'>Cód. Importação</th>
                                        <th class='centro'>Opções</th>
                                    </tr>
                                </thead>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>            
        </div>
    </form>
</div>


{#<div id="dados_lancamento">
    <!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                <h4>Resumo do Lançamento Bancário</h4>
                <p>
                    O Lançamento Bancário foi gerado na data {{lancamento.DataGeracao}}, referênte ao 
                    <span class="negrito">{{lancamento.Convenio.BancoAgenciaConta.Banco.Nome}}</span> na
                    <span class="negrito">Competência {{lancamento.Competencia.Ano ~ '/' ~ lancamento.Competencia.Mes}}</span>, 
                    onde a mesma se encontra no
                    <span class="negrito">Período de {{lancamento.Competencia.PeriodoInicial|date("d/m/Y")}} à {{lancamento.Competencia.PeriodoFinal|date("d/m/Y")}}</span>.
                </p>
            </div>
        </div>
    </div>
    -->
</div>


<form id='formulario_geracao_lancamentos' method='POST' action='{{ path('ima_telecom_admin_financeiro_lancamentos_bancarios_geracao_lancamento_gerar') }}'>
    <div>
        <input type='reset' class='btn btn-danger' value='Cancelar' />
        <input type='submit' class='btn btn-success' value='Gerar Lançamento' />
    </div>

    <div id="tabs">
        <ul>        
            <li><a href="#tabs-1">Convênio</a></li>
            <li><a href="#tabs-2">Cobranças</a></li>
            <!--<li><a href="#tabs-3">Geração</a></li>-->
        </ul>
        <div id="tabs-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <h4>Cobranças para Geração do Lançamento</h4>

                        <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <div class="form-group col-left">
                                <label>Selecione o tipo da Geração</label><br />
                                <input class='tipo-cobranca-geracao' type="radio" name='tipoCobrancaGeracao' value='todos' checked> 
                                <span>Gerar para <span class='negrito'>todos ou quase todos</span> os Clientes.</span> <br/>
                                <input class='tipo-cobranca-geracao' type="radio" name='tipoCobrancaGeracao' value='alguns'> 
                                <span>Gerar para <span class='negrito'>somente algum(uns)</span> Cliente(s) em específico(s).</span> 
                            </div>
                        </div>                                        

                        <div id='container_geracao_todas_cobrancas' class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <h4>Geração para <span class='negrito uppercase'>todos ou quase todos</span> os Clientes.</h4>
                            <table id='todas-cobrancas-lancamento' class='table'>
                                <thead>
                                    <tr>
                                        <th class='negrito centro'>Cód. Boleto</th>
                                        <th class='negrito'>Cliente</th>
                                        <th class='negrito centro'>Vencimento</th>
                                        <th class='negrito centro'>Valor</th>
                                        <th class='negrito centro'>Cód. Importação</th>
                                        <th class='negrito centro'>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cobranca in cobrancas %}
                                        {% set backgroundPagamento = 'alert-danger' %}
                                        {% if cobranca.EstaPago == 1 %}
                                            {% set backgroundPagamento = 'alert-success' %}
                                        {% endif %}
                                        <tr>
                                            <td class='centro {{backgroundPagamento}}'>{{cobranca.Idboleto}}</td>
                                            <td class='{{backgroundPagamento}}'>{{cobranca.Cliente.Pessoa.Nome}}</td>
                                            <td class='centro {{backgroundPagamento}}'>{{cobranca.Vencimento|date('d/m/Y')}}</td>
                                            <td class='centro {{backgroundPagamento}}'>R$ {{cobranca.Valor|number_format(2, ',', '.')}}</td>
                                            <td class='centro {{backgroundPagamento}}'>{{cobranca.ImportId}}</td>
                                            <td class='direita {{backgroundPagamento}}'>
                                                <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_item_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.Idboleto })}}"
                                                   class='visualizar-detalhes-cobranca col-left'
                                                   title='Detalhes da Cobrança'>
                                                    <i class="icon fa fa-info" aria-hidden="true"></i>
                                                </a>
                                                <a href="javascript:void(0);" data-id='#todos_cobranca_{{cobranca.Idboleto}}'
                                                   class='col-left todos-remover-cobranca-geracao'
                                                   title='Remover da Geração'>
                                                    <i class="icon fa fa-minus-circle" aria-hidden="true"></i>
                                                </a>
                                                <a href="javascript:void(0);" data-id='#todos_cobranca_{{cobranca.Idboleto}}'
                                                   class='col-left todos-adicionar-cobranca-geracao oculto'
                                                   title='Adicionar na Geração'>
                                                    <i class="icon fa fa-plus-circle" aria-hidden="true"></i>
                                                </a>

                                                <input type='checkbox' class='oculto' id='todos_cobranca_{{cobranca.Idboleto}}' />
                                                <input class='oculto' type='hidden' name='cobrancaRemovidaGeracao' value='{{cobranca.Idboleto}}' />
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>                                         

                        <div id='container_geracao_algumas_cobrancas' class="oculto no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12">
                            <h4>Geração para <span class='negrito uppercase'>somente algum(uns)</span> Cliente(s) em específico(s).</h4>
                            <table id='algumas-cobrancas-lancamento' class='table'>
                                <thead>
                                    <tr>
                                        <th class='negrito centro'>Cód. Boleto</th>
                                        <th class='negrito'>Cliente</th>
                                        <th class='negrito centro'>Vencimento</th>
                                        <th class='negrito centro'>Valor</th>
                                        <th class='negrito centro'>Cód. Importação</th>
                                        <th class='negrito centro'>Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cobranca in cobrancas %}
                                        {% set backgroundPagamento = 'alert-danger' %}
                                        {% if cobranca.EstaPago == 1 %}
                                            {% set backgroundPagamento = 'alert-success' %}
                                        {% endif %}
                                        <tr>
                                            <td class='centro {{backgroundPagamento}}'>{{cobranca.Idboleto}}</td>
                                            <td class='{{backgroundPagamento}}'>{{cobranca.Cliente.Pessoa.Nome}}</td>
                                            <td class='centro {{backgroundPagamento}}'>{{cobranca.Vencimento|date('d/m/Y')}}</td>
                                            <td class='centro {{backgroundPagamento}}'>R$ {{cobranca.Valor|number_format(2, ',', '.')}}</td>
                                            <td class='centro {{backgroundPagamento}}'>{{cobranca.ImportId}}</td>
                                            <td class='centro {{backgroundPagamento}}'>
                                                <a href="javascript:void(0);" data-url="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_item_cobranca', { clienteId: cobranca.ClienteId, cobrancaId: cobranca.Idboleto })}}"
                                                   class='visualizar-detalhes-cobranca col-left'
                                                   title='Detalhes da Cobrança'>
                                                    <i class="icon fa fa-info" aria-hidden="true"></i>
                                                </a>
                                                <a href="javascript:void(0);" data-id='#algumas_cobranca_{{cobranca.Idboleto}}'
                                                   class='col-left oculto algumas-remover-cobranca-geracao'
                                                   title='Remover da Geração'>
                                                    <i class="icon fa fa-minus-circle" aria-hidden="true"></i>
                                                </a>
                                                <a href="javascript:void(0);" data-id='#algumas_cobranca_{{cobranca.Idboleto}}'
                                                   class='col-left algumas-adicionar-cobranca-geracao'
                                                   title='Adicionar na Geração'>
                                                    <i class="icon fa fa-plus-circle" aria-hidden="true"></i>
                                                </a>
                                                
                                                <input type='checkbox' class='oculto' id='algumas_cobranca_{{cobranca.Idboleto}}' />
                                                <input class='oculto' type='hidden' name='cobrancaAdicionadaGeracao' value='{{cobranca.Idboleto}}' />
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="tabs-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <h4>Selecione o Convênio para a geração do Lançamento</h4>
                        <table id='tipo-convenio-cobrancas-lancamento' class='table'>
                            <thead>
                                <tr>
                                    <th class='negrito centro'>Selecionado</th>
                                    <th class='negrito centro'>Cód. Convênio</th>
                                    <th class='negrito'>Nome</th>
                                    <th class='negrito centro'>CNPJ</th>
                                    <th class='negrito'>Tipo da Carteira</th>
                                    <th class='negrito centro' title='Último sequencial do Arquivo de Cobrança'>Últ. Seq. Arq. Cob.</th>                                
                                </tr>
                            </thead>
                            <tbody>
                                {% for convenio in convenios %}
                                    <tr>
                                        <td class='centro'>
                                            <div class="radio">
                                                <label>
                                                    <input title='Selecionar Convênio' data-url="{{path('ima_telecom_admin_financeiro_lancamentos_bancario_geracao_convenio_dados_bancario', { convenioId: convenio.Idconvenio })}}"
                                                           class='convenio' type="radio" name='convenio'  value='{{convenio.Idconvenio}}'>
                                                </label>
                                            </div>
                                        </td>
                                        <td class='centro'>{{convenio.CodigoConvenio}}</td>
                                        <td class=''>{{convenio.Nome}}</td>
                                        <td class='centro'>{{convenio.Cnpj}}</td>
                                        <td class='esquerda'>{{convenio.TipoCarteira|capitalize}}</td>
                                        <td class='centro'>{{convenio.UltimoSequencialArquivoCobranca}}</td>                                    
                                    </tr>
                                {% endfor %} 
                            </tbody>
                        </table>

                        <div id='dados-bancario-convenio'></div>
                    </div>
                </div>
            </div>
            <!--<div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <h4>Informações do Convênio</h4> 
                        <div class="form-group">
                            <label>Convênio</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.Convenio.Nome}}">
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Código do Convênio</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.CodigoConvenio}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Digito Verificador</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.DigitoVerificador}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Ativo</label><br />
                                <input disabled type="radio" name='convenioAtivo' {% if lancamento.Convenio.Ativo == '1' %} checked {% endif %}> <span>Sim</span> 
                                <input disabled type="radio" name='convenioAtivo' {% if lancamento.Convenio.Ativo == '0' %} checked {% endif %}> <span>Não</span>
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Último Sequencial</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.UltimoSequencial}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Carteira</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.Carteira}}" >
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Tipo da Carteira</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.TipoCarteira}}" title="{{lancamento.Convenio.TipoCarteira}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>CNPJ</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.Cnpj}}" >
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Tipo da Cobrança</label>
                                <select disabled class="form-control">
                                    <option {% if lancamento.Convenio.TipoCobranca == 'registrada' %} selected {% endif %}>Registrada</option>
                                </select>
                            </div>
                        </div>                                
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Tipo do Nosso Nº</label>
                                <select disabled class="form-control">
                                    <option {% if lancamento.Convenio.TipoNossoNumero == 'sequencial' %} selected {% endif %}>Sequencial</option>
                                    <option {% if lancamento.Convenio.TipoNossoNumero == 'referencia_boleto' %} selected {% endif %}>Referência do Boleto</option>
                                </select>
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Valor do Cód. de Barras</label>
                                <select disabled class="form-control">
                                    <option {% if lancamento.Convenio.ValorCodigoBarra == 'liquido' %} selected {% endif %}>Líquido</option>
                                    <option {% if lancamento.Convenio.ValorCodigoBarra == 'original' %} selected {% endif %}>Original</option>
                                </select>
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Limite Inferior</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.LimiteInferior}}" >
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Limite Superior</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.LimiteSuperior}}" >
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Último Seq. Arq. Cobrança</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.UltimoSequencialArquivoCobranca}}" >
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Último Seq. Deb. Automático</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.UltimoSequencialDebitoAutomatico}}" >
                            </div>
                        </div>
    
                        <h4>Informações da Empresa</h4> 
                        <div class="form-group">
                            <label>Empresa</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.Convenio.Empresa.Pessoa.RazaoSocial}}">
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Ativa</label><br />
                                <input disabled type="radio" name='convenioEmpresaAtivo' {% if lancamento.Convenio.Empresa.Ativo == '1' %} checked {% endif %}> <span>Sim</span> 
                                <input disabled type="radio" name='convenioEmpresaAtivo' {% if lancamento.Convenio.Empresa.Ativo == '0' %} checked {% endif %}> <span>Não</span>
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Tipo de Ger. da Cobrança</label>
                                <select disabled class="form-control">
                                    <option {% if lancamento.Convenio.Empresa.TipoGeracaoCobranca == 'unificado' %} selected {% endif %}>Unificado</option>
                                    <option {% if lancamento.Convenio.Empresa.TipoGeracaoCobranca == 'individual' %} selected {% endif %}>Individual</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <!--<div id="tabs-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                        <h4>Informações Bancárias</h4>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Banco</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.Banco.Nome}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Código Febraban</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.Banco.CodigoFebraban}}">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label>Nome da Agência Bancária</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.Nome}}">
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Agência</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.Agencia}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Digito Verificador</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.DigitoVerificador}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Tipo do Nosso Nº</label>
                                <select disabled class="form-control">
                                    <option {% if lancamento.Convenio.BancoAgenciaConta.TipoConta == 'corrente' %} selected {% endif %}>Corrente</option>
                                    <option {% if lancamento.Convenio.BancoAgenciaConta.TipoConta == 'poupanca' %} selected {% endif %}>Poupança</option>
                                </select>
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Valor do Cód. de Barras</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.NumeroConta}}">
                            </div>
                        </div>
    
                        <h4>Endereço da Agência</h4>            
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Endereço</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Rua}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>Número</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Num}}">
                            </div>
                        </div>           
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Bairro</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Bairro}}">
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>CEP</label>
                                <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Cep}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Complemento</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Complemento}}">
                        </div>
                        <div class="form-group">
                            <label>Ponto de Referência</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.PontoReferencia}}">
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">
                            <div class="form-group col-left">
                                <label>Cidade</label>
                                <select disabled class="form-control">
                                    <option selected>{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Cidade.Municipio}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-12">                  
                            <div class="form-group col-right">
                                <label>UF</label>                   
                                <select disabled class="form-control">
                                    <option selected>{{lancamento.Convenio.BancoAgenciaConta.BancoAgencia.EnderecoAgencia.Cidade.Uf}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</form>#}