{#<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('bundles/imatelecom/css/financeiro/lancamentos_bancario.css') }}">
<script src="{{ asset('bundles/imatelecom/js/jquery-ui.min.js') }}" ></script>
<script src="{{ asset('bundles/imatelecom/js/financeiro/lancamentos_bancario.js') }}" ></script>#}

<script>
    $('#container_tabs a.active').tab('show');

    var searchStringCobrancasLancamento = '';
    $('#cobrancas-lancamento').dataTable({
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
        },
        ordering: false,
        searchable: true,
        responsive: false,
        processing: false,
        serverSide: true,
        deferRender: true,
        ajax: function (data, callback, settings) {
            searchStringCobrancasLancamento = data.search.value;
            var rows = [];
            var out = [];

    {% for item in itensLancamento %}            
        {% set backgroundPagamento = 'alert-danger' %}
        {% if item.EstaPago == 1 %}
            {% set backgroundPagamento = 'alert-success' %}
        {% elseif item.EstaPago == 0 and item.Registrado == 1 %}
            {% set backgroundPagamento = 'alert-info' %}
        {% endif %}

                    var opcoes = '';
        {#'<a href="#" data-url="{{ path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_item_cobranca', { clienteId: item.Idcliente, cobrancaId: item.Idboleto }) }}" data-title="Detalhes da Cobrança" data-refresh="false" title="Detalhes da Cobrança" class="ajax col-separator"><i class="icon fa fa-info" aria-hidden="true"></i></a>';#}
        {#{% if item.EstaPago == 0 and date('-1days') <= item.Vencimento %}#}
        {% if item.EstaPago == 0 and item.Registrado %}
                    opcoes += '<a target="_blank" href="{{path('ima_telecom_admin_administrativo_clientes_cliente_cobrancas_visualizar_cobranca', { clienteId: item.Idcliente, cobrancaId: item.Idboleto })}}" data-title="Visualizar Cobrança" data-refresh="false" title="Visualizar Cobrança" class="col-separator"><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>'
        {% endif %}

                    var columns = [];
                    columns.push('<div class="centro" data-esta-pago="{{backgroundPagamento}}">{{item.Idboleto}}</div>');
                    columns.push('{{item.NomePessoa}}</div>');
                    columns.push('<div class="centro">{{item.Vencimento|date('d/m/Y')}}</div>');
                    columns.push('<div class="centro">R$ {{item.Valor|number_format(2, ',', '.')}}</div>');
                    columns.push('<div class="centro">{{item.ImportId}}</div>');
                    columns.push('<div class="direita">' + opcoes + '</div>');

                    if (columns.filter(filter).length !== 0) {
                        rows.push(columns);
                    }
    {% endfor %} 

                    var recordsTotal = rows.length;
                    for (var i = data.start, ien = data.start + data.length; i < ien; i++) {
                        if (i < rows.length) {
                            out.push(rows[i]);
                        }
                    }

                    setTimeout(function () {
                        callback({
                            draw: data.draw,
                            data: out,
                            recordsTotal: recordsTotal,
                            recordsFiltered: recordsTotal
                        });
                    }, 50);


                    return data;
                },
                fnRowCallback: function (nRow, aData, iDisplayIndex) {
                    var className = $('td:eq(0) div', nRow).data('esta-pago');
                    $(nRow).addClass(className);


                    return nRow;
                }
            });

            function filter(string) {
                return string.toLowerCase().includes(searchStringCobrancasLancamento.toLowerCase());
            }
</script>

<div class="card-simple overflow no-margin p-bottom-0">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 no-padding">
            <h4>Resumo do Lançamento Bancário</h4>
            <p>
                O Lançamento Bancário foi gerado na data {{lancamento.DataGeracao}}, referênte ao 
                <span class="negrito">{{lancamento.Convenio.BancoAgenciaConta.Banco.Nome}}</span> na
                <span class="negrito">Competência {{lancamento.Competencia.Ano ~ '/' ~ lancamento.Competencia.Mes}}</span>, 
                onde a mesma se encontra no
                <span class="negrito">Período de {{lancamento.Competencia.PeriodoInicial|date("d/m/Y")}} à {{lancamento.Competencia.PeriodoFinal|date("d/m/Y")}}</span>.
            </p>
        </div>
    </div>

    <hr>

    {% set convenio = lancamento.Convenio %}
    {% set bancoAgenciaConta = convenio.BancoAgenciaConta %}
    {% set bancoAgencia = bancoAgenciaConta.BancoAgencia %}
    {% set enderecoAgencia = bancoAgencia.EnderecoAgencia %}
    {% set banco = bancoAgenciaConta.Banco %}
    <ul class="nav nav-tabs" id="container_tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="identificacao-tab" data-toggle="tab" href="#identificacao" role="tab" aria-controls="identificacao" aria-selected="true">Identificação</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="dados-bancarios-tab" data-toggle="tab" href="#dados-bancarios" role="tab" aria-controls="dados-bancarios" aria-selected="false">Dados Bancários</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="convenio-tab" data-toggle="tab" href="#convenio" role="tab" aria-controls="convenio" aria-selected="false">Convênio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="itens-lancamento-tab" data-toggle="tab" href="#itens-lancamento" role="tab" aria-controls="itens-lancamento" aria-selected="false">Itens Lançamento</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="identificacao" role="tabpanel" aria-labelledby="identificacao-tab">
            <div class='row'>
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Competência'>Competência</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.Competencia.Ano ~ '/' ~ lancamento.Competencia.Mes}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Data da Geração'>Data da Geração</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.DataGeracao}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Sequencial do Arquivo de Cobrança'>Sequencial do Arquivo de Cobrança</label>
                            <input disabled type="text" class="form-control" value="{{lancamento.SequencialArquivoCobranca}}">
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="dados-bancarios" role="tabpanel" aria-labelledby="dados-bancarios-tab">
            <div class='row'>                
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Banco'>Banco</label>
                            <input disabled type="text" class="form-control" value="{{banco.Nome}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Código Febraban'>Código Febraban</label>
                            <input disabled type="text" class="form-control" value="{{banco.CodigoFebraban}}">
                        </div>
                    </div>  
                    <div class="no-padding col-sm-6 col-lg-6 col-md-6 col-xs-6">
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='Nome da Agência Bancária'>Nome da Agência Bancária</label>
                            <input disabled type="text" class="form-control" value="{{bancoAgencia.Nome}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Agência'>Agência</label>
                            <input disabled type="text" class="form-control" value="{{bancoAgencia.Agencia}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Digito Verificador da Agência Bancária'>DV</label>
                            <input disabled type="text" class="form-control" value="{{bancoAgencia.DigitoVerificador}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">            
                        <div class="form-group p-left-10 p-right-10">
                            {% set tipoConta = '' %}
                            {% if bancoAgenciaConta.TipoConta == 'corrente' %}
                                {% set tipoConta = 'Corrente' %}
                            {% elseif bancoAgenciaConta.TipoConta == 'poupanca' %}
                                {% set tipoConta = 'Poupança' %}
                            {% endif %}
                            <label class='dotdotdot' title='Tipo da Conta'>Tipo da Conta</label>
                            <input disabled type="text" class="form-control" value="{{tipoConta}}">
                        </div>
                    </div>                        
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='Valor do Código de Barras'>Valor do Cód. de Barras</label>
                            <input disabled type="text" class="form-control" value="{{bancoAgenciaConta.NumeroConta}}">
                        </div>
                    </div>

                    <h4>Endereço da Agência</h4>            
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Endereço'>Endereço</label>
                            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Rua}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">                  
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Número'>Número</label>
                            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Num}}">
                        </div>
                    </div>           
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Bairro'>Bairro</label>
                            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Bairro}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">                  
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='CEP'>CEP</label>
                            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Cep}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Complemento'>Complemento</label>
                            <input disabled type="text" class="form-control" value="{{enderecoAgencia.Complemento}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Ponto de Referência'>Ponto de Referência</label>
                            <input disabled type="text" class="form-control" value="{{enderecoAgencia.PontoReferencia}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">            
                        {% set cidade = enderecoAgencia.Cidade %}
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='Município'>Município</label>                    
                            <input disabled type="text" class="form-control" value="{{cidade.Municipio ~ '/' ~ cidade.Uf}}">                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="convenio" role="tabpanel" aria-labelledby="convenio-tab">
            <div class='row'>                
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Código Convênio'>Cód. Convênio</label>
                            <input disabled type="text" class="form-control" value="{{convenio.CodigoConvenio}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-4 col-lg-4 col-md-4 col-xs-4">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Convênio'>Convênio</label>
                            <input disabled type="text" class="form-control" value="{{convenio.Nome}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Digito Verificador Convênio'>DV</label>
                            <input disabled type="text" class="form-control" value="{{convenio.DigitoVerificador}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-left-10 p-right-10">
                            <label class='dotdotdot' title='Convênio Ativo'>Ativo</label> <br/>
                            <input id='convenio_ativo' type="checkbox" {% if convenio.Ativo == '1' %} checked="true" {% endif %}>
                            <label>Sim</label>
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='CNPJ'>CNPJ</label>
                            <input disabled type="text" class="form-control" value="{{convenio.Cnpj}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-right-10">                                        
                            <label class='dotdotdot' title='Tipo da Cobrança'>Tipo da Cobrança</label>
                            <input disabled type="text" class="form-control" value="{{convenio.TipoCobranca|capitalize}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-3 col-lg-3 col-md-3 col-xs-3">
                        <div class="form-group p-left-10 p-right-10">
                            {% set tipoNossoNumero = '' %}
                            {% if convenio.TipoNossoNumero == 'referencia_boleto' %}
                                {% set tipoNossoNumero = 'Referência por Boleto' %}
                            {% elseif convenio.TipoNossoNumero == 'poupanca' %}
                                {% set tipoNossoNumero = 'Poupança' %}
                            {% endif %}

                            <label class='dotdotdot' title='Tipo do Nosso Número'>Tipo do Nosso Nº</label>
                            <input disabled type="text" class="form-control" value="{{tipoNossoNumero}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-right-10">                                        
                            <label class='dotdotdot' title='Limite Inferior'>Limite Inferior</label>
                            <input disabled type="text" class="form-control" value="{{convenio.LimiteInferior}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-right-10">                                        
                            <label class='dotdotdot' title='Limite Superior'>Limite Superior</label>
                            <input disabled type="text" class="form-control" value="{{convenio.LimiteSuperior}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-2 col-lg-2 col-md-2 col-xs-2">
                        <div class="form-group p-left-10">                                        
                            <label class='dotdotdot' title='Último Sequencial Arquivo de Cobrança'>Último Sequencial Arquivo de Cobrança</label>
                            <input disabled type="text" class="form-control" value="{{convenio.UltimoSequencialArquivoCobranca}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
                        <div class="form-group p-left-10">                                        
                            <label class='dotdotdot' title='Valor Cód. Barra'>Valor Cód. Barra</label>
                            <input disabled type="text" class="form-control" value="{{convenio.ValorCodigoBarra}}">
                        </div>
                    </div>

                    <div class="no-padding col-sm-1 col-lg-1 col-md-1 col-xs-1">
                        <div class="form-group p-right-10">
                            <label class='dotdotdot' title='Carteira'>Carteira</label>
                            <input disabled type="text" class="form-control" value="{{convenio.Carteira}}">
                        </div>
                    </div>
                    <div class="no-padding col-sm-11 col-lg-11 col-md-11 col-xs-11">
                        <div class="form-group p-left-10">
                            <label class='dotdotdot' title='Tipo da Carteira'>Tipo da Carteira</label>
                            <input disabled type="text" class="form-control" value="{{convenio.TipoCarteira}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="itens-lancamento" role="tabpanel" aria-labelledby="itens-lancamento-tab">
            <div class='row'>
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15 no-padding">
                    <table id='cobrancas-lancamento' class='table'>
                        <thead>
                            <tr>
                                <th class='negrito centro'>Cód. Boleto</th>
                                <th class='negrito'>Cliente</th>
                                <th class='negrito centro'>Vencimento</th>
                                <th class='negrito centro'>Valor</th>
                                <th class='negrito centro'>Cód. Importação</th>
                                <th class='negrito centro'>Opções</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="no-padding col-sm-12 col-lg-12 col-md-12 col-xs-12 m-top-15">
                        <div class="form-group pull-right">
                            <dl class="legend">
                                <dt class="legend alert-info">&nbsp;</dt><dd class="legend"> - Registrado </dd><br/>
                                <dt class="legend alert-danger">&nbsp;</dt><dd class="legend"> - Em Aberto </dd><br/>
                                <dt class="legend alert-success">&nbsp;</dt><dd class="legend"> - Está Pago </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>