<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.0 Transitional//EN'>
<HTML>
    <HEAD>
        <TITLE>Boletos</TITLE>        

        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <style media='print' type="text/css">
            /* HTML5 PRINT Page formated */
            @page  
            { 
                size: auto; 

                margin: 15mm 10mm 10mm 10mm;  
            } 

            body  
            { 
                margin: 0px;  
            } 
            a[href]:after {
                content: none;
            }

            div#print{
                display: none;
            }

            div#principal div#print-1{
                display:none;
                margin: 0px !important;
            }

            div#pagina-2{
                margin-top: 0px !important;
            }

            img {
                -webkit-filter:opacity(1);
            }
        </style>

        <style>
            /* HTML5 display-role reset for older browsers */
            html, body, div, span, applet, object, iframe,
            h1, h2, h3, h4, h5, h6, p, blockquote, pre,
            a, abbr, acronym, address, big, cite, code,
            del, dfn, em, img, ins, kbd, q, s, samp,
            small, strike, strong, sub, sup, tt, var,
            u, i, center,
            dl, dt, dd, ol, ul, li,
            fieldset, form, label, legend,
            table, caption, tbody, tfoot, thead, tr, th, td,
            article, aside, canvas, details, embed, 
            figure, figcaption, footer, header, hgroup, 
            menu, nav, output, ruby, section, summary,
            time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }
        </style>

        <style>
            .content-boleto {
                margin-left: 8px;
                padding-bottom: 130px;                
                page-break-after: always;
                page-break-inside: avoid;
            }


            /* configurações de exibição do boleto */
            table {
                border-collapse: collapse;
                width: 900px;
                max-width: 900px;
            }

            table thead, table tbody, table tfoot {                
                font-family: Arial;
            }

            table thead tr th {
                line-height: 18pt;
            }            

            table thead tr th img.logo-banco {
                width: auto;
                height: 25px;
            }

            table thead tr th:first-child {
                text-align: left;
                font-size: 17pt;
            }

            table thead tr th:last-child {
                text-align: right;
                /*font-size: 11.5pt;*/
                font-size: 17pt;
            }

            table thead tr th.linha-digitavel {
                text-align: right;
                font-size: 11.5pt;
            }

            table tbody tr td {
                border: 2px solid black;
            }

            table tbody tr td:last-child {
                width: 270px;
            }

            table tbody tr td.topo {
                vertical-align: top;
                position: relative;
            }                        

            table tbody tr td span.titulo-boleto {
                font-size: 8.5pt;
                margin-left: 5px;
                margin-right: 5px;
            }

            table tbody tr td span.texto-boleto {
                font-size: 10pt;
                margin-left: 10px;
                margin-right: 10px;
            }

            table tbody tr td span.titulo-boleto.right {                                
                margin-right: 60px;
                margin-top: 3px;
                float: right;
            }

            table tbody tr td div.content-right-boleto {
                text-align: right;
                margin-right: 10px;
            }

            table tbody tr td div.content-right-boleto span.texto-boleto.right {                
                margin-right: 0px;
                text-align: right;
            }

            table tbody tr td p.texto-boleto {
                font-size: 10pt;
                margin: 15px 10px;
            }

            table tbody tr td.topo p.pagador {                
                text-align: left;
                margin-left: 10px;
                margin-right: 10px;
                font-size: 10pt;
            }

            table tbody tr td.topo p.sacado {
                bottom: 0;
                position: absolute;
                width: 100%;
            }

            table tfoot tr td:nth-child(2) {
                text-align: right;
            }

            table tfoot tr td span.titulo-boleto {
                font-size: 9pt;
                margin: 0px 5px;
            }

            table tfoot tr td {
                border: none;
            }

            table tfoot tr td p.linha {                
                border-top: 2px dotted;
                margin: 20px 0px 5px 0px;
            }

            /* Configurações para exibição do topo do boleto */
            .content-logo {
                width: 100%;
                text-align: left;
                height: auto;
                margin-top: 2%;
                margin-bottom: 30px;
            }

            .content-logo img.logo {
                width: auto;
                height: 60px;
            }

            .content-informacoes {
                width: 880px;
                max-width: 900px;
                height: auto;
                padding: 10px;
                border: 1px solid black;
                border-radius: 5px;
                margin-bottom: 50px;
                font-size: 10pt;
                font-family: Arial;
            }

            .content-informacoes p label {
                font-weight: bold;
            }

            .codigo-barras {
                margin-top: 10px;
                height: 60px;
            }
        </style>
    </head>

    <BODY>
        {% for boleto in boletos %}            
            <div class="content-boleto">
                <div class="content-logo">
                    <img class="logo" src="{{asset('bundles/imatelecom/images/logo_topo.png')}}" />
                </div>

                <div class="content-informacoes">
                    <p>
                        <label>Referente à:</label>
                        <span>{{boleto.servico_beneficiario}}</span>
                    </p>
                    <br/>
                    <p>
                        <label>Emitido por:</label>
                        <span>{{boleto.beneficiario}}</span>
                    </p>
                    <p>
                        <label>E-mail:</label>
                        <span>{{boleto.email_beneficiario}}</span>
                    </p>
                    <p>
                        <label>Telefone:</label>
                        <span>{{boleto.telefone_beneficiario}}</span>
                    </p>
                    <p>
                        <label>Endereço:</label>
                        <span>{{boleto.endereco_beneficiario}}</span>
                    </p>
                </div>

                <!-- 
                    Parte 1 - Dados do Recibo de Pagamento para o Cliente
                    Parte 2 - Dados do Boleto para Pagamento                    
                -->

                {% for parte in 1..2 %}                    
                    <table>
                        <thead>
                            <tr>
                                {% if parte == 1 %}
                                    <th colspan="6"><b><img class="logo-banco" src="{{asset('bundles/imatelecom/images/banco/logo_santander_banco.png')}}" /> | {{ boleto.codigo_banco_com_dv }} |</b></th>
                                    <th><b>Recibo do Pagador</b></th>
                                    {% else %}
                                    <th colspan="2"><b><img class="logo-banco" src="{{asset('bundles/imatelecom/images/banco/logo_santander_banco.png')}}" /> | {{ boleto.codigo_banco_com_dv }} |</b></th>
                                    <th colspan="5" class="linha-digitavel"><b>{{boleto.linha_digitavel}}</b></th> <!-- Linha Digitável -->
                                        {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    <span class="titulo-boleto">Local de Pagamento</span><br/>
                                    <span class="texto-boleto">{{ boleto.local_pagamento }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Vencimento</span>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            <b>{{ boleto.data_vencimento }}</b>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <span class="titulo-boleto">Beneficiário</span><br/>
                                    <span class="texto-boleto">{{ boleto.beneficiario }}</span>
                                </td>
                                <td colspan="2">
                                    <span class="titulo-boleto">CPF/CNPJ do Beneficiário</span><br/>
                                    <span class="texto-boleto">{{ boleto.numero_beneficiario }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Agência/Código do Beneficiário</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            {{ boleto.agencia_beneficiario ~ '-' ~ boleto.agencia_beneficiario_dv ~ ' / ' ~ boleto.codigo_beneficiario }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <span class="titulo-boleto">Endereço do Beneficiário</span><br/>
                                    <span class="texto-boleto">{{ boleto.endereco_beneficiario }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Espécie Doc</span><br/>
                                    <span class="texto-boleto">{{ boleto.especie_documento }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Aceite</span><br/>
                                    <span class="texto-boleto">{{ boleto.aceite }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Nosso Número</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            {{ boleto.nosso_numero }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="titulo-boleto">Uso do Banco</span><br/>
                                    <span class="texto-boleto"></span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Carteira</span><br/>
                                    <span class="texto-boleto">{{ boleto.descricao_carteira }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Espécie</span><br/>
                                    <span class="texto-boleto">{{ boleto.especie }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Quantidade</span><br/>
                                    <span class="texto-boleto">{{ boleto.quantidade }}</span>
                                </td>
                                <td colspan="2">
                                    <span class="titulo-boleto">(x) Valor</span><br/>
                                    <span class="texto-boleto">{{ boleto.valor }}</span>
                                </td>
                                <td>
                                    <span class="titulo-boleto">(=) Valor do Documento</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            <b>{{ boleto.valor_documento }}</b>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="topo" rowspan="5" colspan="6">
                                    <span class="titulo-boleto">
                                        Instruções
                                    </span>
                                    <!--
                                    <span>
                                        - Texto de Responsabilidade do Beneficiário
                                    </span>
                                    -->
                                    <p class="texto-boleto">
                                        <!--Instalação de Internet em 09 unidades: Valor: R$ 3.510,00 <br/>
                                        Reestruturação de rede de dados para 05 unidades: Valor: R$ 3.450,00 <br/>
                                        Provimento de acesso a internet (SVA) em 09 unidades: Valor: R$ 1.315,00 <br/>
                                        Interconexão para internet (SCM) em 09 unidades: Valor: R$ 1.315,00 <br/>-->
                                        {{ boleto.instrucoes1|raw }}
                                    </p>
                                    <p class="texto-boleto">                                        
                                        {{ boleto.instrucoes2|raw }} <br/>
                                        {{ boleto.instrucoes3|raw }}
                                    </p>
                                    <p class="texto-boleto">{{ boleto.instrucoes4|raw }}</p>
                                </td>
                                <td>
                                    <span class="titulo-boleto">(-) Desconto/Abatimento</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="titulo-boleto">(-) Outras Deduções</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="titulo-boleto">(+) Mora/Multa</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="titulo-boleto">(+) Outros Acréscimos</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="titulo-boleto">(=) Valor Cobrado</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="topo" rowspan="3" colspan="6">                                                
                                    <span class="titulo-boleto">Pagador</span>
                                    <p class="pagador">
                                        {{ boleto.sacado_cliente }} <br/>
                                        {{ boleto.sacado_endereco }}
                                    </p>

                                    <p class="sacado">
                                        <span class="titulo-boleto">Sacador/Avalista</span> 
                                        <span class="texto-boleto">{{ boleto.nome_empresa }}</span>
                                        <span class="titulo-boleto right">Código de Baixa</span>
                                    </p>
                                </td>
                                <td>
                                    <span class="titulo-boleto">Número do Documento</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            {{ boleto.numero_documento }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <span class="titulo-boleto">Data do Processamento</span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            {{ boleto.data_processamento }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7">
                                    <span class="titulo-boleto">Data do Documento </span><br/>
                                    <div class="content-right-boleto">
                                        <span class="texto-boleto right">
                                            {{ boleto.data_documento }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            {% if parte == 1 %}
                                <tr>
                                    <td colspan="6"></td>
                                    <td>
                                        <span class="titulo-boleto">Autenticação Mecânica - Recibo do Pagador</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        <p class="linha"></p>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6"></td>
                                    <td>
                                        <span class="titulo-boleto">Autenticação Mecânica - Ficha de Compensação</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="7">
                                        <p>
                                            <img class="codigo-barras" alt="codigo barra" src="{{boleto.codigo_barras}}"  />
                                        </p>
                                    </td>
                                </tr>
                            {% endif %}
                        </tfoot>
                    </table>         
                {% endfor %}
            </div>
        {% endfor %}                    
    </BODY>
</HTML>