/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/10/2017, 11:58:12
    Author     : jrodolfo
*/

body.no-scrolled {
    overflow: hidden;
}

section.autocomplete {
    position: relative;
    z-index: 1001;
    background: #eee;
}

section.autocomplete ul {
    list-style: none;        
}

section.autocomplete ul li:hover {
    background: #5cb85c;
}

section.autocomplete ul li:first-child a {
    border-top: 1px solid #ccc;
}

section.autocomplete ul li a {
    cursor: pointer;
    padding: 10px 10px;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 10pt;
    font-family: "Arial";
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}