/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/10/2017, 11:58:12
    Author     : jrodolfo
*/

body.no-scrolled {
    overflow: hidden;
}

section.popup {
    position: fixed;
    top: 30px;
    left: 30px;
    bottom: 30px;
    z-index: 1000;
    overflow-y: auto;    
    width: calc(100% - 60px);
    max-height: 100%;
    
    background: white;
    padding: 0px !important;    

    -webkit-box-shadow: 0px 0px 20px 100px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 20px 100px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 20px 100px rgba(50, 50, 50, 0.75);
}

section.popup-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    overflow-y: auto;    
    width: 300px;
/*    min-height: 200px;
    height: 250px;*/
    height: 100%;
    max-height: 300px;
    background: white;
    padding: 0px !important;    

    -webkit-box-shadow: 0px 0px 20px 9000px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 20px 9000px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 20px 9000px rgba(50, 50, 50, 0.75);
}

section.popup div.content-header-popup {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px 15px;
    display: inline-block;
    width: calc(100% - 60px);
}

section.popup div.content-header-popup,
section.popup-alert div.content-header-popup {
    background: #0d3a29;
    border: 2px solid #0d3a29;
    color: white;
    line-height: 20pt;
}

section.popup div.content-header-popup .popup-title {
    padding: 0px;
    margin: 0px;
    float: left;
}

section.popup div.content-header-popup a.close-popup {
    float: right;
    text-transform: uppercase;
    font-size: 14pt;
    color: white;    
}

section.popup div.content-header-popup a.close-popup:hover {
    text-decoration: none;
}

section.popup div.content-popup {
    position: fixed;    
    top: 76px;
    left: 30px;
    overflow-y: auto;    
    width: calc(100% - 60px);
    height: 100%;
    max-height: calc(100% - 105px);    
    padding: 15px;
    background: white;
    border: 2px solid black;
}

section.popup-alert div.content-popup div.popup-alert-message {
    padding: 15px;
    font-size: 12pt;
}

section.popup-alert div.content-popup div.options {
    position: fixed;
    bottom: 0;
    padding: 20px 0px;
    border-top: 1px solid #ccc;
    width: 100%;
    display: inline-block;
}

section.popup-alert div.content-popup div.options a {
    margin-right: 15px;
}

section.popup-alert div.content-header-popup .popup-alert-title {
    padding: 5px;
    margin: 0px;    
}

.popup-button {
    text-decoration: none !important;
    padding: 5px 10px;
    background: #c4e3f3;
    color: black;
    border: 1px solid #ccc;
}

.avoid-clicks-parent {
  pointer-events: none;
}

.avoid-clicks-child {
    pointer-events:all;
}