/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2018, 11:12:37
    Author     : jrodolfo
*/


table {
    display: table !Important;
    width: 100% !important;
    margin: 0px !important;
    font-size: 14px;
    margin: 0px !important;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px !important;
    max-width: 100% !important;
    border-collapse: collapse;
}

table.bordered tr, table thead {
    border-bottom: 1px solid gainsboro;
}
table * {
    word-wrap: break-word !important;
    max-width: 100%;
}

td, th {
    text-transform: uppercase !important;
    text-align: left !Important;
    word-wrap: break-word !important;
    white-space: normal !Important;
    padding: 5px;
}

th {
    font-weight: bold;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table.highlight tr:hover, table.striped tbody tr:nth-child(odd) {
    background: rgba(0,0,0,0.05);
}

table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

table th {
    padding: .75rem;
}

table td {
    padding: 2px !important;   
    /* dotdotdot */
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    max-width: 200px !important;    
    white-space: nowrap !important;
}

table th.direita, table td.direita {
    text-align: right !important;
}

table th.centro, table td.centro {
    text-align: center !important;
}

table>tbody>tr>td {
    vertical-align: middle !Important;    
    height: 30px !important;
}

table td, .table th {
    vertical-align: top;
    border-top: none;
} 

table.bordered tr, table thead {
    border-bottom: 1px solid gainsboro;
}

.dataTables_length {
    float: left;
}

.dataTables_filter, .dataTables_paginate.paging_simple_numbers {
    float: right;
}

select.form-control.input-sm {
    margin-right: 0.5em;
    width: 100px !important;
    min-width: 40px !important;
}

.dataTables_wrapper {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 300 !important;
    font-size: 14px;
}

.dataTables_filter label input.form-control.input-sm {
    width: 350px;    
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

table tbody td .col-separator {
    margin: 0px 7px;
}

.dataTables_wrapper.form-inline.dt-bootstrap div.row div {
    padding: 0;
}

table.striped tbody tr:nth-child(odd) {
    background: #fff !important;
}


table > thead > tr:hover {
    background: #fff !important;
}

table > thead > tr > th {
    border-bottom: 2px solid rgba(0,0,0,0.04) !important;
}

table tr:hover, table.striped tbody tr:nth-child(odd):hover {
    background: rgba(0,0,0,0.04) !important;
}

table tbody td > label {
    cursor: default !important;
}

table tbody td.dataTables_empty {
    background: rgba(0,0,0,0.04) !important;
    text-align: center !important;
    padding: 8px !important;
}

table.striped tbody tr:nth-child(odd):hover {
    background: #fff !important;
}

.dataTables_info {
    margin-top: 10px;
}

table tbody td.dotdotdot {
    max-width: 300px
}
/*
.paginate_button {
    padding: 8px 16px;
    background: #53e69d!important;
    border: 1px solid #53e69d!important;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    border-radius: .25rem;
    margin-right: 3px;
    margin-bottom: 3px;
}

.paginate_button a {
    color: #333 !important;
}

.paginate_button a:focus {
    border-color: transparent !important;
}

.paginate_button a:hover {
    color: white !important;
}

.paginate_button.active {
    background: #707cd2!important;
    border: 1px solid #707cd2!important;
}

.paginate_button.active a:hover {
    color: #333 !important;
}

.paginate_button.disabled a {
    color: #666 !important;
}

.paginate_button.disabled:hover, .paginate_button.disabled:hover a {
    cursor: no-drop !important;
    color: #666 !important;
}

.paginate_button:hover {
    cursor: pointer;
}   */